<?php if($_SERVER['REMOTE_ADDR'] == '83.175.88.51'){ ?>
    <!-- ######   WEBCAM   ###### -->
    <!-- ###### [Elements/Website/special-webcam.ctp] ###### -->
<? } ?>

<section class="webcam-container hidden-print">
	<div class="inner">
    	<div class="webcam-iframe-container">
    		<iframe src="<?= $special_element_content['details']['webcam'] ?>" frameborder="0" scrolling="no" allowfullscreen></iframe>
    	</div>
    </div>
</section>
