<?php if($_SERVER['REMOTE_ADDR'] == '83.175.88.51'){ ?>
    <!-- ######   VIMEO   ###### -->
    <!-- ###### [Elements/Website/special-vimeo.ctp] ###### -->
<? } ?>

<section class="vimeo-container hidden-print">
	<div class="inner">
    	<div class="vimeo-video-container">
    		<iframe src="https://player.vimeo.com/video/<?= $special_element_content['details']['video'] ?>?title=0" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
    	</div>
    </div>
</section>
