<div class="popup-wrapper template-<?= strtolower($this->template); ?>">
    <div class="selector-wrapper">
        <?= $this->fetch('content') ?>
        <div class="clear"></div>
    </div>
</div>