<footer>
    <!-- <div>
        <div>
            <small>
                &copy; Copyright 2016 Medienjaeger | <?= __d('be', 'Provider'); ?>
                <a href="http://www.medienjaeger.at" target="_blank">Medienjaeger</a> |
                <a href="#top"><?= __d('be', 'Top'); ?></a>
            </small>
        </div>
    </div> -->
</footer>
