<link rel="apple-touch-icon" sizes="57x57" href="/backend/apple-touch-icon-57x57.png">
<link rel="apple-touch-icon" sizes="60x60" href="/backend/apple-touch-icon-60x60.png">
<link rel="apple-touch-icon" sizes="72x72" href="/backend/apple-touch-icon-72x72.png">
<link rel="apple-touch-icon" sizes="76x76" href="/backend/apple-touch-icon-76x76.png">
<link rel="apple-touch-icon" sizes="114x114" href="/backend/apple-touch-icon-114x114.png">
<link rel="apple-touch-icon" sizes="120x120" href="/backend/apple-touch-icon-120x120.png">
<link rel="apple-touch-icon" sizes="144x144" href="/backend/apple-touch-icon-144x144.png">
<link rel="apple-touch-icon" sizes="152x152" href="/backend/apple-touch-icon-152x152.png">
<link rel="apple-touch-icon" sizes="180x180" href="/backend/apple-touch-icon-180x180.png">
<link rel="icon" type="image/png" href="/backend/favicon-32x32.png" sizes="32x32">
<link rel="icon" type="image/png" href="/backend/android-chrome-192x192.png" sizes="192x192">
<link rel="icon" type="image/png" href="/backend/favicon-96x96.png" sizes="96x96">
<link rel="icon" type="image/png" href="/backend/favicon-16x16.png" sizes="16x16">
<link rel="manifest" href="/backend/manifest.json">
<link rel="mask-icon" href="/backend/safari-pinned-tab.svg" color="#5bbad5">
<meta name="msapplication-TileColor" content="#57a000">
<meta name="msapplication-TileImage" content="/backend/mstile-144x144.png">
<meta name="theme-color" content="#ffffff">