<?php if($_SERVER['REMOTE_ADDR'] == '83.175.88.51'){ ?>
    <!-- ######   REQUIRED   ###### -->
    <!-- ###### [Elements/Website/required.ctp] ###### -->
<?php } ?>

<section class="required hidden-print">
    <div class="info"><?= __d('fe', '* This is a mandatory field'); ?></div>
</section>
