/* EFFECTS */
/* Go from zero to full opacity */
@-webkit-keyframes fadeInEffect {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}
@keyframes fadeInEffect {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

@-webkit-keyframes fadeOutEffect {
    from {
        opacity: 1;
    }
    to {
        opacity: 0;
    }
}

@keyframes fadeOutEffect {
    from {
        opacity: 1;
    }
    to {
        opacity: 0;
    }
}

/* Grow from 90 to 120 height */
@-webkit-keyframes growEffect {
    from {
        height: 50px;
    }
    to {
        height: 70px;
    }
}
@keyframes growEffect {
    from {
        height: 50px;
    }
    to {
        height: 70px;
    }
}

@-webkit-keyframes shrinkEffect {
    from {
        height: 70px;
    }
    to {
        height: 50px;
    }
}

@keyframes shrinkEffect {
    from {
        height: 70px;
    }
    to {
        height: 50px;
    }
}

/* Grow from 90 to 120 height */
@-webkit-keyframes growEffectBig {
    from {
        height: 90px;
    }
    to {
        height: 120px;
    }
}
@keyframes growEffectBig {
    from {
        height: 90px;
    }
    to {
        height: 120px;
    }
}

@-webkit-keyframes shrinkEffectBig {
    from {
        height: 120px;
    }
    to {
        height: 90px;
    }
}

@keyframes shrinkEffectBig {
    from {
        height: 120px;
    }
    to {
        height: 90px;
    }
}

/* Acordion effects */
@-webkit-keyframes aboutFlexSlide {
    0% {
        -webkit-box-flex: 1;
                flex-grow: 1;
    }
    50% {
        -webkit-box-flex: 3;
                flex-grow: 3;
    }
    100% {
        -webkit-box-flex: 1;
                flex-grow: 1;
    }
}
@keyframes aboutFlexSlide {
    0% {
        -webkit-box-flex: 1;
            -ms-flex-positive: 1;
                flex-grow: 1;
    }
    50% {
        -webkit-box-flex: 3;
            -ms-flex-positive: 3;
                flex-grow: 3;
    }
    100% {
        -webkit-box-flex: 1;
            -ms-flex-positive: 1;
                flex-grow: 1;
    }
}
@-webkit-keyframes flexAboutHome {
    0% {
        opacity: 0;
    }
    50% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}
@keyframes flexAboutHome {
    0% {
        opacity: 0;
    }
    50% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}
@media screen and (max-width: 768px) {
    .flex-container {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-direction: column;
                flex-direction: column;
    }
}
@media screen and (max-width: 768px) {
    .flex-about {
        padding: 0%;
        border: 0px solid var(--main-white);
    }
}
@media screen and (max-width: 768px) {
    .flex-slide {
        overflow: auto;
        overflow-x: hidden;
    }
}
@media screen and (min-width: 768px) {
    .home-0,
    .home-1
    .home-2 {
        /* @include animation-properties((animation: aboutFlexSlide, animation-duration: 3s, animation-iteration-count: 1, animation-delay: 0s)); */
    }
}
@media screen and (min-width: 768px) {
    .flex-about-home-0, .flex-about-home-1, .flex-about-home-2 {
        /* @include animation-properties((animation: flexAboutHome, animation-duration: 3s, animation-iteration-count: 1, animation-delay: 0s)); */
    }
}
