/* http://flag-icon-css.lip.is/ */

.flag-icon, .flag-icon-background {
    background-size: contain;
    background-position: 50%;
    background-repeat: no-repeat;
}
.flag-icon {
    position: relative;
    display: inline-block;
    width: 1.33333333em;
    line-height: 1em;
}
.flag-icon:before {
    content: "\00a0";
}
.flag-icon-ad {
    background-image: url("/frontend/img/flags/ad.svg");
}
.flag-icon-ae {
    background-image: url("/frontend/img/flags/ae.svg");
}
.flag-icon-af {
    background-image: url("/frontend/img/flags/af.svg");
}
.flag-icon-ag {
    background-image: url("/frontend/img/flags/ag.svg");
}
.flag-icon-ai {
    background-image: url("/frontend/img/flags/ai.svg");
}
.flag-icon-al {
    background-image: url("/frontend/img/flags/al.svg");
}
.flag-icon-am {
    background-image: url("/frontend/img/flags/am.svg");
}
.flag-icon-ao {
    background-image: url("/frontend/img/flags/ao.svg");
}
.flag-icon-aq {
    background-image: url("/frontend/img/flags/aq.svg");
}
.flag-icon-ar {
    background-image: url("/frontend/img/flags/ar.svg");
}
.flag-icon-as {
    background-image: url("/frontend/img/flags/as.svg");
}
.flag-icon-at {
    background-image: url("/frontend/img/flags/at.svg");
}
.flag-icon-au {
    background-image: url("/frontend/img/flags/au.svg");
}
.flag-icon-aw {
    background-image: url("/frontend/img/flags/aw.svg");
}
.flag-icon-ax {
    background-image: url("/frontend/img/flags/ax.svg");
}
.flag-icon-az {
    background-image: url("/frontend/img/flags/az.svg");
}
.flag-icon-ba {
    background-image: url("/frontend/img/flags/ba.svg");
}
.flag-icon-bb {
    background-image: url("/frontend/img/flags/bb.svg");
}
.flag-icon-bd {
    background-image: url("/frontend/img/flags/bd.svg");
}
.flag-icon-be {
    background-image: url("/frontend/img/flags/be.svg");
}
.flag-icon-bf {
    background-image: url("/frontend/img/flags/bf.svg");
}
.flag-icon-bg {
    background-image: url("/frontend/img/flags/bg.svg");
}
.flag-icon-bh {
    background-image: url("/frontend/img/flags/bh.svg");
}
.flag-icon-bi {
    background-image: url("/frontend/img/flags/bi.svg");
}
.flag-icon-bj {
    background-image: url("/frontend/img/flags/bj.svg");
}
.flag-icon-bl {
    background-image: url("/frontend/img/flags/bl.svg");
}
.flag-icon-bm {
    background-image: url("/frontend/img/flags/bm.svg");
}
.flag-icon-bn {
    background-image: url("/frontend/img/flags/bn.svg");
}
.flag-icon-bo {
    background-image: url("/frontend/img/flags/bo.svg");
}
.flag-icon-bq {
    background-image: url("/frontend/img/flags/bq.svg");
}
.flag-icon-br {
    background-image: url("/frontend/img/flags/br.svg");
}
.flag-icon-bs {
    background-image: url("/frontend/img/flags/bs.svg");
}
.flag-icon-bt {
    background-image: url("/frontend/img/flags/bt.svg");
}
.flag-icon-bv {
    background-image: url("/frontend/img/flags/bv.svg");
}
.flag-icon-bw {
    background-image: url("/frontend/img/flags/bw.svg");
}
.flag-icon-by {
    background-image: url("/frontend/img/flags/by.svg");
}
.flag-icon-bz {
    background-image: url("/frontend/img/flags/bz.svg");
}
.flag-icon-ca {
    background-image: url("/frontend/img/flags/ca.svg");
}
.flag-icon-cc {
    background-image: url("/frontend/img/flags/cc.svg");
}
.flag-icon-cd {
    background-image: url("/frontend/img/flags/cd.svg");
}
.flag-icon-cf {
    background-image: url("/frontend/img/flags/cf.svg");
}
.flag-icon-cg {
    background-image: url("/frontend/img/flags/cg.svg");
}
.flag-icon-ch {
    background-image: url("/frontend/img/flags/ch.svg");
}
.flag-icon-ci {
    background-image: url("/frontend/img/flags/ci.svg");
}
.flag-icon-ck {
    background-image: url("/frontend/img/flags/ck.svg");
}
.flag-icon-cl {
    background-image: url("/frontend/img/flags/cl.svg");
}
.flag-icon-cm {
    background-image: url("/frontend/img/flags/cm.svg");
}
.flag-icon-cn {
    background-image: url("/frontend/img/flags/cn.svg");
}
.flag-icon-co {
    background-image: url("/frontend/img/flags/co.svg");
}
.flag-icon-cr {
    background-image: url("/frontend/img/flags/cr.svg");
}
.flag-icon-cu {
    background-image: url("/frontend/img/flags/cu.svg");
}
.flag-icon-cv {
    background-image: url("/frontend/img/flags/cv.svg");
}
.flag-icon-cw {
    background-image: url("/frontend/img/flags/cw.svg");
}
.flag-icon-cx {
    background-image: url("/frontend/img/flags/cx.svg");
}
.flag-icon-cy {
    background-image: url("/frontend/img/flags/cy.svg");
}
.flag-icon-cz {
    background-image: url("/frontend/img/flags/cz.svg");
}
.flag-icon-de {
    background-image: url("/frontend/img/flags/de.svg");
}
.flag-icon-dj {
    background-image: url("/frontend/img/flags/dj.svg");
}
.flag-icon-dk {
    background-image: url("/frontend/img/flags/dk.svg");
}
.flag-icon-dm {
    background-image: url("/frontend/img/flags/dm.svg");
}
.flag-icon-do {
    background-image: url("/frontend/img/flags/do.svg");
}
.flag-icon-dz {
    background-image: url("/frontend/img/flags/dz.svg");
}
.flag-icon-ec {
    background-image: url("/frontend/img/flags/ec.svg");
}
.flag-icon-ee {
    background-image: url("/frontend/img/flags/ee.svg");
}
.flag-icon-eg {
    background-image: url("/frontend/img/flags/eg.svg");
}
.flag-icon-eh {
    background-image: url("/frontend/img/flags/eh.svg");
}
.flag-icon-er {
    background-image: url("/frontend/img/flags/er.svg");
}
.flag-icon-es {
    background-image: url("/frontend/img/flags/es.svg");
}
.flag-icon-et {
    background-image: url("/frontend/img/flags/et.svg");
}
.flag-icon-fi {
    background-image: url("/frontend/img/flags/fi.svg");
}
.flag-icon-fj {
    background-image: url("/frontend/img/flags/fj.svg");
}
.flag-icon-fk {
    background-image: url("/frontend/img/flags/fk.svg");
}
.flag-icon-fm {
    background-image: url("/frontend/img/flags/fm.svg");
}
.flag-icon-fo {
    background-image: url("/frontend/img/flags/fo.svg");
}
.flag-icon-fr {
    background-image: url("/frontend/img/flags/fr.svg");
}
.flag-icon-ga {
    background-image: url("/frontend/img/flags/ga.svg");
}
.flag-icon-en,
.flag-icon-gb {
    background-image: url("/frontend/img/flags/gb.svg");
}
.flag-icon-gd {
    background-image: url("/frontend/img/flags/gd.svg");
}
.flag-icon-ge {
    background-image: url("/frontend/img/flags/ge.svg");
}
.flag-icon-gf {
    background-image: url("/frontend/img/flags/gf.svg");
}
.flag-icon-gg {
    background-image: url("/frontend/img/flags/gg.svg");
}
.flag-icon-gh {
    background-image: url("/frontend/img/flags/gh.svg");
}
.flag-icon-gi {
    background-image: url("/frontend/img/flags/gi.svg");
}
.flag-icon-gl {
    background-image: url("/frontend/img/flags/gl.svg");
}
.flag-icon-gm {
    background-image: url("/frontend/img/flags/gm.svg");
}
.flag-icon-gn {
    background-image: url("/frontend/img/flags/gn.svg");
}
.flag-icon-gp {
    background-image: url("/frontend/img/flags/gp.svg");
}
.flag-icon-gq {
    background-image: url("/frontend/img/flags/gq.svg");
}
.flag-icon-gr {
    background-image: url("/frontend/img/flags/gr.svg");
}
.flag-icon-gs {
    background-image: url("/frontend/img/flags/gs.svg");
}
.flag-icon-gt {
    background-image: url("/frontend/img/flags/gt.svg");
}
.flag-icon-gu {
    background-image: url("/frontend/img/flags/gu.svg");
}
.flag-icon-gw {
    background-image: url("/frontend/img/flags/gw.svg");
}
.flag-icon-gy {
    background-image: url("/frontend/img/flags/gy.svg");
}
.flag-icon-hk {
    background-image: url("/frontend/img/flags/hk.svg");
}
.flag-icon-hm {
    background-image: url("/frontend/img/flags/hm.svg");
}
.flag-icon-hn {
    background-image: url("/frontend/img/flags/hn.svg");
}
.flag-icon-hr {
    background-image: url("/frontend/img/flags/hr.svg");
}
.flag-icon-ht {
    background-image: url("/frontend/img/flags/ht.svg");
}
.flag-icon-hu {
    background-image: url("/frontend/img/flags/hu.svg");
}
.flag-icon-id {
    background-image: url("/frontend/img/flags/id.svg");
}
.flag-icon-ie {
    background-image: url("/frontend/img/flags/ie.svg");
}
.flag-icon-il {
    background-image: url("/frontend/img/flags/il.svg");
}
.flag-icon-im {
    background-image: url("/frontend/img/flags/im.svg");
}
.flag-icon-in {
    background-image: url("/frontend/img/flags/in.svg");
}
.flag-icon-io {
    background-image: url("/frontend/img/flags/io.svg");
}
.flag-icon-iq {
    background-image: url("/frontend/img/flags/iq.svg");
}
.flag-icon-ir {
    background-image: url("/frontend/img/flags/ir.svg");
}
.flag-icon-is {
    background-image: url("/frontend/img/flags/is.svg");
}
.flag-icon-it {
    background-image: url("/frontend/img/flags/it.svg");
}
.flag-icon-je {
    background-image: url("/frontend/img/flags/je.svg");
}
.flag-icon-jm {
    background-image: url("/frontend/img/flags/jm.svg");
}
.flag-icon-jo {
    background-image: url("/frontend/img/flags/jo.svg");
}
.flag-icon-jp {
    background-image: url("/frontend/img/flags/jp.svg");
}
.flag-icon-ke {
    background-image: url("/frontend/img/flags/ke.svg");
}
.flag-icon-kg {
    background-image: url("/frontend/img/flags/kg.svg");
}
.flag-icon-kh {
    background-image: url("/frontend/img/flags/kh.svg");
}
.flag-icon-ki {
    background-image: url("/frontend/img/flags/ki.svg");
}
.flag-icon-km {
    background-image: url("/frontend/img/flags/km.svg");
}
.flag-icon-kn {
    background-image: url("/frontend/img/flags/kn.svg");
}
.flag-icon-kp {
    background-image: url("/frontend/img/flags/kp.svg");
}
.flag-icon-kr {
    background-image: url("/frontend/img/flags/kr.svg");
}
.flag-icon-kw {
    background-image: url("/frontend/img/flags/kw.svg");
}
.flag-icon-ky {
    background-image: url("/frontend/img/flags/ky.svg");
}
.flag-icon-kz {
    background-image: url("/frontend/img/flags/kz.svg");
}
.flag-icon-la {
    background-image: url("/frontend/img/flags/la.svg");
}
.flag-icon-lb {
    background-image: url("/frontend/img/flags/lb.svg");
}
.flag-icon-lc {
    background-image: url("/frontend/img/flags/lc.svg");
}
.flag-icon-li {
    background-image: url("/frontend/img/flags/li.svg");
}
.flag-icon-lk {
    background-image: url("/frontend/img/flags/lk.svg");
}
.flag-icon-lr {
    background-image: url("/frontend/img/flags/lr.svg");
}
.flag-icon-ls {
    background-image: url("/frontend/img/flags/ls.svg");
}
.flag-icon-lt {
    background-image: url("/frontend/img/flags/lt.svg");
}
.flag-icon-lu {
    background-image: url("/frontend/img/flags/lu.svg");
}
.flag-icon-lv {
    background-image: url("/frontend/img/flags/lv.svg");
}
.flag-icon-ly {
    background-image: url("/frontend/img/flags/ly.svg");
}
.flag-icon-ma {
    background-image: url("/frontend/img/flags/ma.svg");
}
.flag-icon-mc {
    background-image: url("/frontend/img/flags/mc.svg");
}
.flag-icon-md {
    background-image: url("/frontend/img/flags/md.svg");
}
.flag-icon-me {
    background-image: url("/frontend/img/flags/me.svg");
}
.flag-icon-mf {
    background-image: url("/frontend/img/flags/mf.svg");
}
.flag-icon-mg {
    background-image: url("/frontend/img/flags/mg.svg");
}
.flag-icon-mh {
    background-image: url("/frontend/img/flags/mh.svg");
}
.flag-icon-mk {
    background-image: url("/frontend/img/flags/mk.svg");
}
.flag-icon-ml {
    background-image: url("/frontend/img/flags/ml.svg");
}
.flag-icon-mm {
    background-image: url("/frontend/img/flags/mm.svg");
}
.flag-icon-mn {
    background-image: url("/frontend/img/flags/mn.svg");
}
.flag-icon-mo {
    background-image: url("/frontend/img/flags/mo.svg");
}
.flag-icon-mp {
    background-image: url("/frontend/img/flags/mp.svg");
}
.flag-icon-mq {
    background-image: url("/frontend/img/flags/mq.svg");
}
.flag-icon-mr {
    background-image: url("/frontend/img/flags/mr.svg");
}
.flag-icon-ms {
    background-image: url("/frontend/img/flags/ms.svg");
}
.flag-icon-mt {
    background-image: url("/frontend/img/flags/mt.svg");
}
.flag-icon-mu {
    background-image: url("/frontend/img/flags/mu.svg");
}
.flag-icon-mv {
    background-image: url("/frontend/img/flags/mv.svg");
}
.flag-icon-mw {
    background-image: url("/frontend/img/flags/mw.svg");
}
.flag-icon-mx {
    background-image: url("/frontend/img/flags/mx.svg");
}
.flag-icon-my {
    background-image: url("/frontend/img/flags/my.svg");
}
.flag-icon-mz {
    background-image: url("/frontend/img/flags/mz.svg");
}
.flag-icon-na {
    background-image: url("/frontend/img/flags/na.svg");
}
.flag-icon-nc {
    background-image: url("/frontend/img/flags/nc.svg");
}
.flag-icon-ne {
    background-image: url("/frontend/img/flags/ne.svg");
}
.flag-icon-nf {
    background-image: url("/frontend/img/flags/nf.svg");
}
.flag-icon-ng {
    background-image: url("/frontend/img/flags/ng.svg");
}
.flag-icon-ni {
    background-image: url("/frontend/img/flags/ni.svg");
}
.flag-icon-nl {
    background-image: url("/frontend/img/flags/nl.svg");
}
.flag-icon-no {
    background-image: url("/frontend/img/flags/no.svg");
}
.flag-icon-np {
    background-image: url("/frontend/img/flags/np.svg");
}
.flag-icon-nr {
    background-image: url("/frontend/img/flags/nr.svg");
}
.flag-icon-nu {
    background-image: url("/frontend/img/flags/nu.svg");
}
.flag-icon-nz {
    background-image: url("/frontend/img/flags/nz.svg");
}
.flag-icon-om {
    background-image: url("/frontend/img/flags/om.svg");
}
.flag-icon-pa {
    background-image: url("/frontend/img/flags/pa.svg");
}
.flag-icon-pe {
    background-image: url("/frontend/img/flags/pe.svg");
}
.flag-icon-pf {
    background-image: url("/frontend/img/flags/pf.svg");
}
.flag-icon-pg {
    background-image: url("/frontend/img/flags/pg.svg");
}
.flag-icon-ph {
    background-image: url("/frontend/img/flags/ph.svg");
}
.flag-icon-pk {
    background-image: url("/frontend/img/flags/pk.svg");
}
.flag-icon-pl {
    background-image: url("/frontend/img/flags/pl.svg");
}
.flag-icon-pm {
    background-image: url("/frontend/img/flags/pm.svg");
}
.flag-icon-pn {
    background-image: url("/frontend/img/flags/pn.svg");
}
.flag-icon-pr {
    background-image: url("/frontend/img/flags/pr.svg");
}
.flag-icon-ps {
    background-image: url("/frontend/img/flags/ps.svg");
}
.flag-icon-pt {
    background-image: url("/frontend/img/flags/pt.svg");
}
.flag-icon-pw {
    background-image: url("/frontend/img/flags/pw.svg");
}
.flag-icon-py {
    background-image: url("/frontend/img/flags/py.svg");
}
.flag-icon-qa {
    background-image: url("/frontend/img/flags/qa.svg");
}
.flag-icon-re {
    background-image: url("/frontend/img/flags/re.svg");
}
.flag-icon-ro {
    background-image: url("/frontend/img/flags/ro.svg");
}
.flag-icon-rs {
    background-image: url("/frontend/img/flags/rs.svg");
}
.flag-icon-ru {
    background-image: url("/frontend/img/flags/ru.svg");
}
.flag-icon-rw {
    background-image: url("/frontend/img/flags/rw.svg");
}
.flag-icon-sa {
    background-image: url("/frontend/img/flags/sa.svg");
}
.flag-icon-sb {
    background-image: url("/frontend/img/flags/sb.svg");
}
.flag-icon-sc {
    background-image: url("/frontend/img/flags/sc.svg");
}
.flag-icon-sd {
    background-image: url("/frontend/img/flags/sd.svg");
}
.flag-icon-se {
    background-image: url("/frontend/img/flags/se.svg");
}
.flag-icon-sg {
    background-image: url("/frontend/img/flags/sg.svg");
}
.flag-icon-sh {
    background-image: url("/frontend/img/flags/sh.svg");
}
.flag-icon-si {
    background-image: url("/frontend/img/flags/si.svg");
}
.flag-icon-sj {
    background-image: url("/frontend/img/flags/sj.svg");
}
.flag-icon-sk {
    background-image: url("/frontend/img/flags/sk.svg");
}
.flag-icon-sl {
    background-image: url("/frontend/img/flags/sl.svg");
}
.flag-icon-sm {
    background-image: url("/frontend/img/flags/sm.svg");
}
.flag-icon-sn {
    background-image: url("/frontend/img/flags/sn.svg");
}
.flag-icon-so {
    background-image: url("/frontend/img/flags/so.svg");
}
.flag-icon-sr {
    background-image: url("/frontend/img/flags/sr.svg");
}
.flag-icon-ss {
    background-image: url("/frontend/img/flags/ss.svg");
}
.flag-icon-st {
    background-image: url("/frontend/img/flags/st.svg");
}
.flag-icon-sv {
    background-image: url("/frontend/img/flags/sv.svg");
}
.flag-icon-sx {
    background-image: url("/frontend/img/flags/sx.svg");
}
.flag-icon-sy {
    background-image: url("/frontend/img/flags/sy.svg");
}
.flag-icon-sz {
    background-image: url("/frontend/img/flags/sz.svg");
}
.flag-icon-tc {
    background-image: url("/frontend/img/flags/tc.svg");
}
.flag-icon-td {
    background-image: url("/frontend/img/flags/td.svg");
}
.flag-icon-tf {
    background-image: url("/frontend/img/flags/tf.svg");
}
.flag-icon-tg {
    background-image: url("/frontend/img/flags/tg.svg");
}
.flag-icon-th {
    background-image: url("/frontend/img/flags/th.svg");
}
.flag-icon-tj {
    background-image: url("/frontend/img/flags/tj.svg");
}
.flag-icon-tk {
    background-image: url("/frontend/img/flags/tk.svg");
}
.flag-icon-tl {
    background-image: url("/frontend/img/flags/tl.svg");
}
.flag-icon-tm {
    background-image: url("/frontend/img/flags/tm.svg");
}
.flag-icon-tn {
    background-image: url("/frontend/img/flags/tn.svg");
}
.flag-icon-to {
    background-image: url("/frontend/img/flags/to.svg");
}
.flag-icon-tr {
    background-image: url("/frontend/img/flags/tr.svg");
}
.flag-icon-tt {
    background-image: url("/frontend/img/flags/tt.svg");
}
.flag-icon-tv {
    background-image: url("/frontend/img/flags/tv.svg");
}
.flag-icon-tw {
    background-image: url("/frontend/img/flags/tw.svg");
}
.flag-icon-tz {
    background-image: url("/frontend/img/flags/tz.svg");
}
.flag-icon-ua {
    background-image: url("/frontend/img/flags/ua.svg");
}
.flag-icon-ug {
    background-image: url("/frontend/img/flags/ug.svg");
}
.flag-icon-um {
    background-image: url("/frontend/img/flags/um.svg");
}
.flag-icon-us {
    background-image: url("/frontend/img/flags/us.svg");
}
.flag-icon-uy {
    background-image: url("/frontend/img/flags/uy.svg");
}
.flag-icon-uz {
    background-image: url("/frontend/img/flags/uz.svg");
}
.flag-icon-va {
    background-image: url("/frontend/img/flags/va.svg");
}
.flag-icon-vc {
    background-image: url("/frontend/img/flags/vc.svg");
}
.flag-icon-ve {
    background-image: url("/frontend/img/flags/ve.svg");
}
.flag-icon-vg {
    background-image: url("/frontend/img/flags/vg.svg");
}
.flag-icon-vi {
    background-image: url("/frontend/img/flags/vi.svg");
}
.flag-icon-vn {
    background-image: url("/frontend/img/flags/vn.svg");
}
.flag-icon-vu {
    background-image: url("/frontend/img/flags/vu.svg");
}
.flag-icon-wf {
    background-image: url("/frontend/img/flags/wf.svg");
}
.flag-icon-ws {
    background-image: url("/frontend/img/flags/ws.svg");
}
.flag-icon-ye {
    background-image: url("/frontend/img/flags/ye.svg");
}
.flag-icon-yt {
    background-image: url("/frontend/img/flags/yt.svg");
}
.flag-icon-za {
    background-image: url("/frontend/img/flags/za.svg");
}
.flag-icon-zm {
    background-image: url("/frontend/img/flags/zm.svg");
}
.flag-icon-zw {
    background-image: url("/frontend/img/flags/zw.svg");
}
.flag-icon-eu {
    background-image: url("/frontend/img/flags/eu.svg");
}
.flag-icon-gb-eng {
    background-image: url("/frontend/img/flags/gb-eng.svg");
}
.flag-icon-gb-nir {
    background-image: url("/frontend/img/flags/gb-nir.svg");
}
.flag-icon-gb-sct {
    background-image: url("/frontend/img/flags/gb-sct.svg");
}
.flag-icon-gb-wls {
    background-image: url("/frontend/img/flags/gb-wls.svg");
}
.flag-icon-un {
    background-image: url("/frontend/img/flags/un.svg");
}
