/*#####################
#	TABLET QUER       #
 ######################*/
@media (min-width: 992px) and (max-width: 1199px) {
	/* general */
	.inner{
		width:960px;
	}

	/* share buttons */
	.share-btns-wrap .share-btns .share-btn{
		width: calc(100% / 3 - 10px);
		height: 50px;
    	line-height: 40px;
	}
}

/*#####################
#	TABLET HOCH       #
 ######################*/
@media (min-width: 768px) and (max-width: 991px) {
	/* general */
	.inner{
		width:720px;
	}

	/* share buttons */
	.share-btns-wrap .share-btns .share-btn{
		width: calc(100% / 2 - 10px);
	}
}

/*#####################
#	HANDY             #
 ######################*/
@media (min-width: 480px) and (max-width: 767px) {
	.mobile-placeholder::-webkit-input-placeholder { /* Chrome/Opera/Safari */
		opacity:1;
	}
	.mobile-placeholder::-moz-placeholder { /* Firefox 19+ */
		opacity:1;
	}
	.mobile-placeholder:-ms-input-placeholder { /* IE 10+ */
		opacity:1;
	}
	.mobile-placeholder:-moz-placeholder { /* Firefox 18- */
		opacity:1;
	}

	/* general */
	.inner{
		width:100%;
	}

	/* share buttons */
	.share-btns-wrap .share-btns .share-btn{
	    width: auto;
	    height: 6rem;
	    line-height: 5rem;
	    vertical-align: middle;
	    border: 0;
	    padding: 5px;
	}
	.share-btns-wrap .share-btns .share-btn .share-btn-text{
		display:none;
	}
    .share-btns-wrap .share-btns .share-btn span.fas,
	.share-btns-wrap .share-btns .share-btn span.fab {
	    padding: 0 10px;
	    font-size: 4rem;
	    vertical-align: middle;
   	}

	/* cookie-hint */
	html.touchevents #cookie-hint > div{
		-webkit-box-orient:vertical;
		-webkit-box-direction:normal;
		    -ms-flex-direction:column;
		        flex-direction:column;
	}
	html.touchevents #cookie-hint > div > span {
	    margin-bottom:5px;
	}

	/* forms */
	div.input > *,
	div.input.focused > *{
		width: 100%;
	}
    div.input > label {
        padding-top: 5px !important;
        height: auto !important;
        line-height: 2.1rem !important;
    }

    div.input > label:not([for=captcha]):not([for=newsletter]):not([for=privacy]){
        display:none;
    }
    .rooms-wrap .room-wrap > .room-col,
    .rooms-wrap .room-wrap > .room-col-2{
    	width: 100%;
    	margin: 0;
    }

	/* search */
	.search > .inner > .articles > article{
		width:100%;
	}
}
@media (min-width: 320px) and (max-width: 479px) {

}

/* PREVIEW */

@media (max-width: 1250px) {
    main {
        padding: 0 20px;
    }
}
