/*#####################
#	Fonts             #
 ######################*/
@font-face {
    font-family: 'MeteoconsRegular';
    src: url('../fonts/meteocons-webfont.eot');
    src: url('../fonts/meteocons-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/meteocons-webfont.woff') format('woff'),
         url('../fonts/meteocons-webfont.ttf') format('truetype'),
         url('../fonts/meteocons-webfont.svg#MeteoconsRegular') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
   font-family: 'Adobe Garamond Pro';
   src: url('../fonts/AGaramondPro-Regular.otf');
   font-weight: normal;
   font-style: normal;
}


/*#####################
#	Desktop             #
 ######################*/
:root {
  font-size: 62.5%;
  --main-dark-green: #005D5D;
  --main-white: #ffffff;
  --main-light-green: #4D8E8E;
  --main-red: #C93458;
  --main-pink:#FF00FF;
  --main-dark-grey: #575756;
  --main-lighter-grey: rgba(87,87,86,0.51);
  --main-light-grey: #B9B9B9;
  --main-blue: #00FFFF;
  font-family: 'PT Sans', sans-serif;
  letter-spacing: 2px;
}
*{
	-webkit-box-sizing: border-box;
	        box-sizing: border-box;
	font-weight: 400;
	-webkit-backface-visibility: hidden;
	-webkit-print-color-adjust: exact; /* economy | exact */
}
html{
	margin-left: calc(100vw - 100%c); /* prevent scrollbar jumping bug */
}
body{
	font-size:1.6rem;
	line-height:2.1rem;
	font-weight: 400;
    color: var(--main-dark-grey);
    min-width: 375px;
}
h1{
    font-size: 50px;
    line-height: 60px;
    color: var(--main-dark-green);
    font-family:  'Adobe Garamond Pro', sans-serif;
    margin-bottom: 15px;
}
h2{
    font-size: 30px;
    line-height: 36px;
}
h3{}

input,
select,
textarea,
button {
    font-size: 1.6rem;
    line-height: 3.8rem;
    font-weight: 400;
    background-color: #FFFFFF;
    border: 1px solid var(--main-dark-green);
    padding: 0 5px;
}

input[type="checkbox"] {
    -webkit-appearance: none; /* checkbox */
}

input[type=checkbox]:checked {
   background: var(--main-dark-green);
}

textarea {
    line-height: 2.1rem;
    padding-top: 0.85rem;
    padding-bottom: 0.85rem;
}

strong, b{
	font-weight:600
}
em{
  font-style: italic;
}
a{
	color:inherit;
	text-decoration:underline;
}
main {
    max-width: 1200px;
    margin: 0 auto;
}
ul {
    list-style: initial !important;
    padding-left: 15px;
}


/* images */
.object-fit-image{
    height: 100%;
    width: 100%;
}
.object-fit-image img{
  -o-object-fit: cover;
     object-fit: cover;
  width: 100%;
  height: 100%;
}

/* EDITOR */
.editor-headline-sans {
    font-size: 30px;
    line-height: 36px;
    font-family: 'PT Sans', sans-serif;
}
.editor-headline-serif {
    font-size: 30px;
    line-height: 36px;
    font-family: 'Adobe Garamond Pro', sans-serif;
}
.editor-red {
    color: var(--main-red);
}
.editor-green {
    color: var(--main-dark-green);
}
.editor-blue {
    color: var(--main-blue);
}
.editor-light-grey {
    color: var(--main-light-grey);
}
.editor-small {
    font-size: 12px;
    line-height: 16px;
}
.uppercase {
    text-transform: uppercase;
}

/* HELPERS */
.hidden {
    display: none !important;
}
.invisible {
    visibility: 0;
    opacity: 0 !important;
    z-index: 0 !important;
    -webkit-transition:visibility 0.3s linear,opacity 0.3s linear;
    -o-transition:visibility 0.3s linear,opacity 0.3s linear;
    transition:visibility 0.3s linear,opacity 0.3s linear;
}
.uppercase {
    text-transform: uppercase;
}
.capitalize {
    text-transform: capitalize;
}
.strong {
    font-weight: 600;
}
.light {
    font-weight: 200;
}
.icon {
    width: 30px;
    height:30px;
    display: inline-block;
}
.center {
    text-align: center;
    margin: 0 auto;
}
.block {
    display: block;
}
.invert {
    -webkit-filter: invert(1);
            filter: invert(1);
}

/* TinyMCE */

#tinymce ul,
.content ul{
  list-style: disc;
  margin-left: 2rem;
}
::-webkit-input-placeholder { /* Chrome/Opera/Safari */
	color: #aaa;
	opacity:1;
}
::-moz-placeholder { /* Firefox 19+ */
	color: #aaa;
	opacity:1;
}
:-ms-input-placeholder { /* IE 10+ */
	color: #aaa;
	opacity:1;
}
:-moz-placeholder { /* Firefox 18- */
	color: #aaa;
	opacity:1;
}
*:focus::-webkit-input-placeholder { /* Chrome/Opera/Safari */
	visibility: hidden;
}
*:focus::-moz-placeholder { /* Firefox 19+ */
	visibility: hidden;
}
*:focus:-ms-input-placeholder { /* IE 10+ */
	visibility: hidden;
}
*:focus:-moz-placeholder { /* Firefox 18- */
	visibility: hidden;
}
.mobile-placeholder::-webkit-input-placeholder { /* Chrome/Opera/Safari */
	opacity:0;
}
.mobile-placeholder::-moz-placeholder { /* Firefox 19+ */
	opacity:0;
}
.mobile-placeholder:-ms-input-placeholder { /* IE 10+ */
	opacity:0;
}
.mobile-placeholder:-moz-placeholder { /* Firefox 18- */
	opacity:0;
}
input:focus,
select:focus,
textarea:focus,
button:focus,
[contenteditable="true"]:focus {
    outline: none;
}

/* general */
.inner{
	max-width:1200px;
	margin:0 auto;
}

/* messages */
.message{
	padding: 1rem 2rem;
	background: rgba(0,0,0,0.3);
	color:#fff;
	text-align: center;
}
.message.success{
	background-color:green;
}
.message.warning{
	background-color:orange;
}
.message.error{
	background-color:red;
}

/* button */
.button,
input[type=submit]{
	width:100%;
	text-align:center;
	line-height:40px;
	vertical-align: middle;
	background: rgba(0,0,0,0.5);
	text-decoration: none;
	color: #fff;
	border:none;
	cursor: pointer;
    -webkit-transition: background 0.1s ease-in-out, -webkit-box-shadow 0.1s ease-in-out;
    transition: background 0.1s ease-in-out, -webkit-box-shadow 0.1s ease-in-out;
    -o-transition: background 0.1s ease-in-out, box-shadow 0.1s ease-in-out;
    transition: background 0.1s ease-in-out, box-shadow 0.1s ease-in-out;
    transition: background 0.1s ease-in-out, box-shadow 0.1s ease-in-out, -webkit-box-shadow 0.1s ease-in-out;
}
.button:hover,
input[type=submit]:hover{
	-webkit-box-shadow: inset 0 0 100px 100px rgba(255, 255, 255, 0.1);
	        box-shadow: inset 0 0 100px 100px rgba(255, 255, 255, 0.1);
}

/* cookie-hint */
body.cookie-hint{
	padding-bottom:1rem;
}
#cookie-hint{
	position:fixed;
	bottom:0;
	left:0;
	width:100%;
	z-index:999999;
	background: #000;
	padding: 1rem 2rem;
}
#cookie-hint > div{
	color:#ffffff;
	border-radius: 5px;
	max-width:95vw;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
	-webkit-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;
}
#cookie-hint > div a{
	color:#ffffff;
}
#cookie-hint > div a.cookie-hint-button{
	position:relative;
	background:#fff;
	color:#000;
	padding: 0 1rem;
	-webkit-box-flex:0;
	    -ms-flex:0 1 auto;
	        flex:0 1 auto;
	width: auto;
}
#cookie-hint > div a.cookie-hint-button:hover{
	-webkit-box-shadow: none;
	        box-shadow: none;
}
#cookie-hint > div a.cookie-hint-button > i{
	display:none;
}
html.touchevents #cookie-hint > div{
	display:-webkit-box;
	display:-ms-flexbox;
	display:flex;
	-webkit-box-pack:justify;
	    -ms-flex-pack:justify;
	        justify-content:space-between;
	-webkit-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;
}
html.touchevents #cookie-hint > div > span{
	-webkit-box-flex: 1;
	    -ms-flex: 1 1 auto;
	        flex: 1 1 auto;
}
html.touchevents #cookie-hint > div a.cookie-hint-button > span{
	display:inline-block;
}
html.touchevents #cookie-hint > div a.cookie-hint-button > i{
	display:none;
}
html.touchevents #cookie-hint > div a.cookie-hint-button{
	position:relative;
	top:auto;
	right:auto;
	text-shadow: none;
	width:auto;
	background:none;
	border:1px solid #fff;
	border-radius: 5px;
	padding:0 20px;
}

/* loading-overlay */
/* .loading-overlay{
	background: #fff;
	position: fixed;
	width: 100%;
	height: 100%;
	top: 0;
	bottom: 0;
	z-index: 999999999;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align:center;
	    -ms-flex-align:center;
	        align-items:center;
	-webkit-box-pack:center;
	    -ms-flex-pack:center;
	        justify-content:center;
	-webkit-transition: opacity 0.3s linear, -webkit-transform 0.9s linear;
	transition: opacity 0.3s linear, -webkit-transform 0.9s linear;
	transition: transform 0.9s linear, opacity 0.3s linear;
	transition: transform 0.9s linear, opacity 0.3s linear, -webkit-transform 0.9s linear;
}
body.home .loading-overlay{
	background: #ddd;
}
body.not-home.fully-loaded .loading-overlay{
	opacity:0;
}
body.home.fully-loaded .loading-overlay{
	-webkit-transform: translateY(-100%);
	        transform: translateY(-100%);
}
body.home #wrapper{
	position:relative;
	-webkit-transform: translateY(15%);
	        transform: translateY(15%);
	-webkit-transition: -webkit-transform 0.9s linear;
	transition: -webkit-transform 0.9s linear;
	transition: transform 0.9s linear;
	transition: transform 0.9s linear, -webkit-transform 0.9s linear;
}
body.home.fully-loaded #wrapper{
	-webkit-transform: none;
	        transform: none;
}
.loading-overlay .loading-overlay-inner{
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align:center;
	    -ms-flex-align:center;
	        align-items:center;
	-webkit-box-pack:center;
	    -ms-flex-pack:center;
	        justify-content:center;
	-webkit-box-orient:vertical;
	-webkit-box-direction:normal;
	    -ms-flex-direction:column;
	        flex-direction:column;
	width: 90%;
    max-width: 25vw;
}
.loading-overlay .loading-overlay-inner .loading-spinner{
	background: url('../img/loading-spinner.svg') center no-repeat;
	width: 100%;
    height: 30px;
    margin-top: 20px;
    background-size: contain;
}
.loading-overlay .loading-overlay-inner .loading-logo{
    background: url('../img/logo.png') center no-repeat;
	width: 100%;
    height: 25vh;
    background-size: contain;
} */

/* share */
/* .share-btns-wrap{
	z-index:9999;
	position:fixed;
	top:0;
	right:0;
	width:0%;
	height:0%;
	overflow: hidden;
	-webkit-transition: width 0.3s ease-in-out, height 0.3s ease-in-out;
    transition: width 0.3s ease-in-out, height 0.3s ease-in-out;
}
.share-btns-wrap.open{
	width:100%;
	height:100%;
}
.share-btns-wrap .share-btns-darken{
	position:absolute;
	z-index:9000;
	top:0;
	left:0;
	width:100%;
	height:100%;
	background:rgba(0,0,0,0.9);
}
.share-btns-wrap .share-btns-darken .share-btns-close{
	position: absolute;
    z-index: 9001;
    top: 5px;
    right: 10px;
    color: #fff;
    text-decoration: none;
    font-size: 5rem;
}
.share-btns-wrap .share-btns{
	position:absolute;
	z-index:9001;
	top:50%;
	left:50%;
	-webkit-transform: translateY(-50%) translateX(-50%);
  	transform: translateY(-50%) translateX(-50%);
  	display:-webkit-box;
  	display:-ms-flexbox;
  	display:flex;
  	-ms-flex-wrap: wrap;
  	    flex-wrap: wrap;
  	-webkit-box-pack: center;
  	    -ms-flex-pack: center;
  	        justify-content: center;
}
.share-btns-wrap .share-btns .share-btn{
	color:#ffffff;
	text-decoration:none;
	height:40px;
	line-height:30px;
	vertical-align:middle;
	display:block;
	overflow:hidden;
	width:calc(25% - 10px);
	margin:5px;
	border:5px solid transparent;
	-webkit-transition: border-color 0.3s ease-in-out;
    transition: border-color 0.3s ease-in-out;
}
.share-btns-wrap .share-btns .share-btn:hover{
	border-color:rgba(255,255,255,1);
}
.share-btns-wrap .share-btns .share-btn.share-btn-facebook{
	background-color: #3b5998;
}
.share-btns-wrap .share-btns .share-btn.share-btn-google-plus{
	background-color: #dd4b39;
}
.share-btns-wrap .share-btns .share-btn.share-btn-twitter{
	background-color: #1da1f2;
}
.share-btns-wrap .share-btns .share-btn.share-btn-whatsapp{
	background-color: #075e54;
}
.share-btns-wrap .share-btns .share-btn.share-btn-linkedin{
	background-color: #0077b5;
}
.share-btns-wrap .share-btns .share-btn.share-btn-pinterest{
	background-color: #bd081c;
}
.share-btns-wrap .share-btns .share-btn.share-btn-tumblr{
	background-color: #35465c;
}
.share-btns-wrap .share-btns .share-btn.share-btn-digg{
	background-color: #005be2;
}
.share-btns-wrap .share-btns .share-btn.share-btn-reddit{
	background-color: #ff4500;
}
.share-btns-wrap .share-btns .share-btn.share-btn-stumbleupon{
	background-color: #eb4924;
}
.share-btns-wrap .share-btns .share-btn.share-btn-xing{
	background-color: #026466;
}
.share-btns-wrap .share-btns .share-btn.share-btn-vk{
	background-color: #45668e;
}
.share-btns-wrap .share-btns .share-btn.share-btn-mail{
	background-color: #555;
}
.share-btns-wrap .share-btns .share-btn.share-btn-print{
	background-color: #777;
}
.share-btns-wrap .share-btns .share-btn.share-btn-clipboard{
	background-color: #333;
}
.share-btns-wrap .share-btns .share-btn span.fas,
.share-btns-wrap .share-btns .share-btn span.fab{
	padding:0 10px;
} */

/* video */
/* .video-js{
	height:auto;
	width:100%;
	line-height:0;
}
.video-js .vjs-tech{
	position:relative;
	height:auto;
}
.video-js .vjs-big-play-button{
	top: 50%;
	left: 50%;
  -webkit-transform: translateY(-50%) translateX(-50%);
  transform: translateY(-50%) translateX(-50%);
} */

/* youtube */
/* section.youtube-container .youtube-video-container{
	padding-top: 56%;
    position: relative;
}
section.youtube-container .youtube-video-container iframe{
	width:100%;
	height: 100%;
    left: 0;
    position: absolute;
    top: 0;
} */

/* vimeo */
/* section.vimeo-container .vimeo-video-container{
	padding-top: 56%;
    position: relative;
}
section.vimeo-container .vimeo-video-container iframe{
	width:100%;
	height: 100%;
    left: 0;
    position: absolute;
    top: 0;
} */

/* webcam */
/* section.webcam-container{
	background: #F6F3E9;
	padding:30px 0;
}
section.webcam-container .webcam-iframe-container{
	padding-top: 56%;
    position: relative;
}
section.webcam-container .webcam-iframe-container iframe{
	width:100%;
	height: 100%;
    left: 0;
    position: absolute;
    top: 0;
} */

/* navigatin */
nav {
    position: -webkit-sticky; /* Safari */
    position: sticky;
    top:0;
    width: 100%;
    z-index: 999;
    height: 130px;
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
    background-color: #f0f0f0;
    margin-bottom: 45px;
}
nav.fixed {
    position: fixed;
    top: 0;
    left: 0;
}
nav .m {
    display: none;
}
nav a {
    text-decoration: none !important;
}
nav > a {
    margin: auto 0;
}
nav > ul > li {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
}
.menu-logo {
    width: 210px;
    height: 100px;
    margin-left: 100px;
    margin-right: 30px;
}
nav > ul {
    width: calc(100% - 430px);
}
nav .right-links {
    width: 60px;
    margin-left: 30px;
}
nav .right-links > a {
    width: 60px;
    height: 60px;
    background-color: var(--main-light-grey);
    display: inline-block;
    margin-bottom: 5px;
    line-height: 60px;
    text-align: center;
}
nav .right-links > a > img {
    vertical-align: middle;
}
.design-line {
    width: 100%;
    height: 45px;
    position: absolute;
    bottom: -45px;
}
nav > ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    line-height: 130px;
    font-size: 20px;
}
nav span.title,
nav span.subtitle {
    display: block;
    line-height: 23px;
}
nav span.subtitle {
    font-size: 16px;
}
.mainnav > li {
    z-index: 99;
}
.mainnav > li.active {
    background-image: url('/frontend/img/uploaded/icons/3Punkte.svg');
    background-size: 26px;
    background-repeat: no-repeat;
    background-position: 50% 10%;
}
.mainnav li.active {
    color: var(--main-light-green);
}
.subnav li.active a img,
.subsubnav li.active a img {
    -webkit-filter: grayscale(0);
            filter: grayscale(0);
}
nav li:hover {
    color: var(--main-light-green);
}
nav > ul > li > ul,
nav > ul > li > ul {
    display: block !important;
    position: absolute;
    background: rgba(240, 240, 240, 1);
    top: 100px;
    height: 0px !important;
    overflow: hidden;
}
nav > ul > li:hover > ul,
nav > ul > li > ul:hover {
    visibility: 1;
    opacity: 1 !important;
    -webkit-transition:visibility 0.3s linear,opacity 0.3s linear;
    -o-transition:visibility 0.3s linear,opacity 0.3s linear;
    transition:visibility 0.3s linear,opacity 0.3s linear;
    padding-top: 10px;
    -webkit-box-shadow: 0px 4px 3px 2px rgba(0,0,0,0.3);
            box-shadow: 0px 4px 3px 2px rgba(0,0,0,0.3);
    height: auto !important;
}
nav > ul > li > ul > li:hover > ul,
nav > ul > li > ul > li > ul:hover {
    display: block !important;
    visibility: 1;
    opacity: 1 !important;
    -webkit-transition:visibility 0.3s linear,opacity 0.3s linear;
    -o-transition:visibility 0.3s linear,opacity 0.3s linear;
    transition:visibility 0.3s linear,opacity 0.3s linear;
    height: auto !important;
}
.subnav,
.subsubnav {
    line-height: 26px;
    font-size: 16px;
    color: var(--main-dark-grey);
    padding: 0 15px 5px 15px;
    min-width: 200px;
}
.subnav li,
.subsubnav li {
    -webkit-box-pack: left;
        -ms-flex-pack: left;
            justify-content: left;
}
.subnav li:hover a img,
.subsubnav li:hover a img {
    -webkit-filter: grayscale(0);
            filter: grayscale(0);
}
.nav-list-icon {
    width: 10px;
    -webkit-filter: grayscale(1);
            filter: grayscale(1);
    vertical-align: middle;
    margin-top: -5px;
    margin-bottom: 5px;
}

/* menu */
.menu {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
    z-index: 9999;
}
.menu-item {
    width: 20%;
    text-align: center;
    background-color: var(--main-dark-green);
    color: var(--main-white);
    height: 60px;
    line-height: 60px;
    letter-spacing: 3px;
    font-size: 20px;
    border-top: 2px solid var(--main-white);
    border-right: 1px solid var(--main-white);
    border-left: 1px solid var(--main-white);
    z-index: 99;
}
.menu-item.first {
    border-left: 0px;
}
.menu-item.last {
    border-right: 0px;
}
.menu-item.col-light {
    background-color: var(--main-light-green);
}
.menu-item.red {
    background-color: var(--main-red);
}
.menu-item {
    text-decoration: none !important;
}
.menu-item img {
    vertical-align: sub;
}
.menu-item img.animated {
  -webkit-animation-duration: 4s;
          animation-duration: 4s;
  -webkit-animation-delay: 0s;
          animation-delay: 0s;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
}
#recent-packages {
    height: 162px;
    background-color: var(--main-dark-green);
    padding: 10px;
    border-left: 2px solid var(--main-white);
    border-right: 2px solid var(--main-white);
    position: absolute;
    z-index: 99;
    left: 0;
    right: 0;
    margin: -102px auto;
    visibility: 1;
    opacity: 1;
    -webkit-transition:visibility 0.3s linear,opacity 0.3s linear;
    -o-transition:visibility 0.3s linear,opacity 0.3s linear;
    transition:visibility 0.3s linear,opacity 0.3s linear;
}
#recent-packages .bxslide,
#recent-packages .menu-package-overview-img,
#recent-packages .menu-package-overview-txt,
    #recent-packages .menu-package-overview-txt .wrapper {
    max-height: 110px !important;
    height: 110px;
    vertical-align: top;
    overflow: hidden;
}
#recent-packages .menu-package-overview-img,
#recent-packages .menu-package-overview-txt {
    display: inline-block;
}
#recent-packages .menu-package-overview-img {
    width: calc(45% - 5px);
}
#recent-packages .menu-package-overview-txt {
    width: calc(55% - 5px);
    line-height: normal;
    vertical-align: middle;
}
#recent-packages .menu-package-overview-txt .wrapper {
    display: table-cell;
    vertical-align: middle;
    height: inherit;
}
#recent-packages .menu-package-overview-txt .headline {
    display: block;
    font-size: 20px;
    line-height: 23px;
    margin-bottom: 10px;
}
#recent-packages .menu-package-overview-txt .content {
    display: block;
    font-size: 16px;
    line-height: 20px;
}
#recent-packages .bx-controls .bx-controls-direction {
    background-image: url('/frontend/img/uploaded/icons/3Punkte_tuerkis.svg');
    background-repeat: no-repeat;
    background-position: 50% 0%;
    background-size: 14px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    width: 100%;
}
#recent-packages .bx-controls .bx-controls-direction img {
    vertical-align: top;
    margin-top: 5px;
}
#recent-packages .bx-viewport {
    z-index: 98;
}
#recent-packages .bx-controls {
    z-index: 99;
    margin-top: -10px;
    padding-top: 10px;
}

/* top line */
.header-logo {
    position: absolute;
    z-index: 99;
    left: 0;
    right: 0;
    margin: auto;
    width: 230px;
    height: 110px;
    margin-top: 40px;
}
.top-line {
    position: absolute;
    z-index: 99;
    width: 100%;
    padding: 0 100px;
    height: 65px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}
.top-line a {
    text-decoration: none !important;
}
.top-line .left,
.top-line .right {
    width: 50%;
    color: var(--main-white);
}
.top-line .left {
    text-align: left;
}
.top-line .right {
    text-align: right;
    padding-top: 40px;
}
.top-line .right img {
    margin-bottom: -5px;
    margin-left: 15px;
    margin-top: 5px;
    width: 24px;
    height: 24px;
}
.top-line .left .language .active {
    font-weight: 600;
}
#spacer-white {
    display: inline-block;
    background-color: var(--main-white);
    width: 1px;
    height: 65px;
}

/* header */
header {
    z-index: 99999;
}
header.images {
    display: block;
    width: 100%;
    height: 100vH;
    padding: 0;
    position: relative;
}
header.images a.j2c{
    text-decoration: none !important;
	position:absolute;
	z-index:99;
	bottom:60px;
  	-webkit-transform: translateX(-50%);
  	-ms-transform: translateX(-50%);
  	    transform: translateX(-50%);
	color:var(--main-white);
	-webkit-transition: opacity 0.3s linear, bottom 0.3s linear;
	-o-transition: opacity 0.3s linear, bottom 0.3s linear;
	transition: opacity 0.3s linear, bottom 0.3s linear;
    left: 50%;
    margin-left: -26px;
    text-align: center;
    letter-spacing: 0;
}
body.ontop header.images a.j2c{
	opacity:1;
	bottom:0;
}
header.images.images-1 .bx-wrapper .bx-controls {
	display:none;
}
header.images .bx-wrapper {
    position: relative;
    margin: 0;
    padding: 0;
    *zoom: 1;
    height: 100% !important;
}
header.images .bx-wrapper .bx-viewport {
    width: 100%;
    height: 100% !important;
    overflow: hidden;
}
header.images .bx-wrapper .bx-viewport .viewport.bxslider {
    width: 100%;
    height: 100%;
    overflow: hidden;
}
header.images .bx-wrapper .bx-viewport .viewport.bxslider > li {
    height: 100%;
}
header.images .bx-wrapper .bx-viewport .viewport.bxslider > li .bxslide {
    width: 100%;
    height: 100% !important;
    background-position: center center;
    background-size: cover;
}
header.images .bx-wrapper .bx-controls {
}
header.images .bx-wrapper .bx-controls .bx-controls-direction{
	position:absolute;
	z-index:29;
	top:0;
	left:0;
	width:100%;
	height:100%;
}
header.images .bx-wrapper .bx-controls .bx-controls-direction a{
	position:absolute;
	z-index:29;
	top:0;
	height:100%;
	width:33%;
	vertical-align:middle;
	opacity: 0.5;
	-webkit-transition: opacity 0.3s ease-in-out;
    -o-transition: opacity 0.3s ease-in-out;
    transition: opacity 0.3s ease-in-out;
}
header.images .bx-wrapper .bx-controls .bx-controls-direction a:hover{
	opacity:1;
}
header.images .bx-wrapper .bx-controls .bx-controls-direction a.bx-prev{
	left:0;
	text-align:left;
	padding-left:20px;
}
header.images .bx-wrapper .bx-controls .bx-controls-direction a.bx-next{
	right:0;
	text-align:right;
	padding-right:20px;
}
header.images .bx-wrapper .bx-controls .bx-controls-direction a img{
	font-size:4rem;
	color:#fff;
	text-shadow: 1px 1px 4px rgba(0, 0, 0, 0.7);
	position: relative;
	top:50%;
  	-webkit-transform: translateY(-50%);
  	-ms-transform: translateY(-50%);
  	    transform: translateY(-50%);
    width: 60px;
}
header.images .bx-wrapper .bx-controls .bx-pager{
	text-align: center;
	position:absolute;
	z-index:30;
	width: 100%;
	left:0;
	bottom: 30px;
}
header.images .bx-wrapper .bx-controls .bx-pager .bx-pager-item{
	display: inline-block;
	padding: 0 5px;
}
header.images .bx-wrapper .bx-controls .bx-pager .bx-pager-item a{
	text-indent: -9999;
	font-size:0;
	line-height:0;
	background:#444;
	display:inline-block;
	height: 15px;
	width: 15px;-webkit-box-shadow: 1px 1px 2px 0px rgba(0, 0, 0, 0.5);
	box-shadow:         1px 1px 2px 0px rgba(0, 0, 0, 0.5);
	border-radius: 90px;
	-webkit-transition: background 0.3s ease-in-out;
    -o-transition: background 0.3s ease-in-out;
    transition: background 0.3s ease-in-out;
}
header.images .bx-wrapper .bx-controls .bx-pager .bx-pager-item a.active{
	background:#fff;
}

/* footer */
footer {
    background-color: var(--main-dark-green);
    background-repeat: repeat;
    background-size: 450px;
}
footer a {
    text-decoration: none !important;
    color: var(--main-white);
}
footer .inner-wrapper {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    padding-top: 60px;
    padding-bottom: 60px;
}
footer .collumns {
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}
footer .collumns .left,
footer .collumns .right {
    display: inline-block;
    width: 50%;
}
footer .collumns .left {
    text-align: left;
}
footer .collumns .right {
    text-align: center;
}
footer .collumns .left .links {
    margin-top: 30px;
}
footer .collumns .left .links a {
    display: block;
}
footer .collumns .left .links img.icon {
    width: 15px;
    height: 20px;
    margin-right: 5px;
}
.footer-logo {
    width: 200px;
    height: 100px;
}
.footer-map {
    width: 483px;
    height: 255px;
}
footer .contact {
    font-size: 16px;
    line-height: 19px;
    margin-top: 40px;
}
footer .social {
    margin-top: 40px;
}
footer .social a {
margin: 0 5px;
}
footer .social .icon {
    -webkit-filter: invert(1);
            filter: invert(1);
}
footer .search {
    margin-top: 30px;
    margin-bottom: 40px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}
footer .bottom-links {
    font-size: 10px;
    line-height: 20px;
    letter-spacing: 0;
}
footer .dot {
    color: var(--main-white);
}

/* breadcrumbs */
.breadcrumbs{
	text-align:center;
    margin-bottom: 20px;
    font-size: 16px;
    line-height: 20px;
}
.breadcrumbs a{
    text-decoration: none !important;
    color: var(--main-dark-green);
}
.breadcrumbs li{
	display:inline-block;
}

/* teaser */
.teaser {
    background-image: url('/frontend/img/uploaded/icons/Pattern_outline_tuerkis.svg');
    background-repeat: repeat;
    background-size: 450px;
    padding: 100px 0;
}
.teaser .headline {
    font-size: 30px;
    line-height: 36px;
}
.teaser .design-element {
    padding: 50px 0;
}
.teaser .design-element .design-lines {
    display: block;
    background: var(--main-dark-grey);
    height: 2px;
    width: calc(50% - 30px);
    margin-top: 19px;
}
.teaser .design-element .design-lines.left {
    float: left;
}
.teaser .design-element .design-lines.right {
    float: right;
}
.teaser .content {
    -webkit-column-count: 2;
            column-count: 2;
    -webkit-column-gap: 40px;
            column-gap: 40px;
}
.teaser .content ul {
    display: contents;
}
.teaser ul {
    list-style-image: url('/frontend/img/uploaded/icons/Icons_List.svg');
    list-style-position: outside;
    margin-left: 15px;
}
.teaser ul li {
    margin-bottom: 15px;
    margin-left: 15px;
}

/* banner_1 */
.banner-wrapper {
    max-width: 1800px;
    margin: 0 auto;
    overflow: hidden !important;
}
.banner-wrapper a {
    text-decoration: none !important;
}
.banner-wrapper figure {
    position: relative;
    margin-bottom: -5px;
}
.banner-wrapper figure figcaption {
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.25)
}
.banner-wrapper figure figcaption .inner-wrapper {
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
}
.banner-wrapper figure figcaption .headline,
.banner-wrapper figure figcaption .content {
    color: var(--main-white);
    font-size: 28px;
    line-height: 34px;
    display: block;
}
.banner-wrapper figure figcaption .headline {
    margin-bottom: 30px;
}
.banner-wrapper figure figcaption .headline .bg {
    background-color: var(--main-red);
    padding: 0 10px;
}
.banner-2sp-wrapper {
    width: 100%;
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
}
.banner-2sp-wrapper .left,
.banner-2sp-wrapper .right {
    width: 50%;
    display: inline-block;
}
.banner-2sp-wrapper .left {
    background-image: url('/frontend/img/uploaded/icons/Pattern_outline_weiss.svg');
    background-color: var(--main-dark-green);
    background-repeat: repeat;
    background-size: 450px;
    color: var(--main-white);
    margin-right: 15px;
    height: auto;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}
.banner-2sp-wrapper .left.red {
    background-color: var(--main-red);
}
.banner-2sp-wrapper .right {
    margin-left: 15px;
}
.banner-2sp-wrapper .left .content{
    font-family: 'Adobe Garamond Pro', sans-serif;
    font-size: 50px;
    line-height: 60px;
    display: block;
    margin: auto;
}
.banner-2sp-wrapper figure figcaption .inner-wrapper {
    width: 80%;
}
.banner-wrapper.counter  {
    background-color: var(--main-light-grey);
    color: var(--main-white);
    text-align: center;
    display: table;
    clear: both;
    width: 100%;
    padding: 70px 0;
}
.banner-wrapper.counter .column  {
    float: left;
    width: 33.33%;
}
.banner-wrapper.counter .content  {
    display: block;
    font-size: 50px;
    line-height: 60px;
    margin-bottom: 7.5px;
}
.banner-wrapper.counter .headline  {
    display: block;
    font-size: 30px;
    line-height: 36px;
    margin-top: 7.5px;
}
.banner-wrapper.counter .design-element {
    display: block;
    position: absolute;
    width: 1px;
    height: 180px;
    background-color: var(--main-white);
    margin-top: -35px;
}
.banner-wrapper.counter .design-element.right {
    right: 33%;
}
.banner-wrapper.counter .design-element.left {
    right: 66%;
}

/* banner #4 */
.footer-banner-wrapper {
    max-width: none;
}

/* banner #5 */
.banner-5-wrapper {
    margin: 100px auto 100px auto;
    max-width: 1150px;
}
.banner-5-wrapper .inner-wrapper {
    margin-top: 60px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
}
.banner-5-wrapper .big-img {
    text-align: right;
}
.banner-5-wrapper .small-img {
    position: absolute;
    margin-top: -430px;
    margin-right: -60px;
}
.banner-5-wrapper .small-img img {
    border: 2px solid var(--main-white);
    margin-left: 20px;
}
.banner-5-wrapper .inner-wrapper .content {
    max-width: 465px;
    display: block;
    margin-right: 60px;
}

/* Info-box */
.info-box-wrapper {
    background-image: url(/frontend/img/uploaded/icons/Pattern_outline_tuerkis.svg);
    background-repeat: repeat;
    background-size: 450px;
    padding: 100px 0 160px 0;
}
.info-box-wrapper .buttons {
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    position: relative;
    z-index: 2
}
.info-box-wrapper .buttons a {
    height: 90px;
    text-decoration: none !important;
    font-size: 30px;
    line-height: 36px;
    color: var(--main-red);
    border: 1px solid var(--main-dark-grey);
    padding: 0 30px;
    -webkit-animation: shrinkEffect 1;
            animation: shrinkEffect 1;
}
.info-box-wrapper .buttons a.active {
    border-bottom: 0;
    height: 120px;
    background-color: var(--main-white);
    -webkit-animation: growEffect 1s;
            animation: growEffect 1s;
}
.info-box-wrapper .buttons a .positioner {
    height: 90px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
}
.info-box-wrapper .content {
    position: relative;
    z-index: 1;
    margin-top: -1px;
}
.info-box-wrapper .content .item {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    padding: 30px;
    border: 1px solid var(--main-dark-grey);
    -webkit-animation: fadeOutEffect 3s;
            animation: fadeOutEffect 3s;
}
.info-box-wrapper .content .item.active {
    background-color: var(--main-white);
    -webkit-animation: fadeInEffect 3s;
            animation: fadeInEffect 3s;
}
.info-box-wrapper .content .item .left {
    display: inline-block;
    width: 50%;
    padding-right: 45px;
}
.info-box-wrapper .content .item .right {
    display: inline-block;
    width: 50%;
    padding-left: 30px;
}
.info-box-wrapper .content .item .right img {
    width: 100%;
    height: auto;
}
.info-box-wrapper .content .item ul {
    list-style-image: url('/frontend/img/uploaded/icons/Icons_List.svg');
    list-style-position: outside;
    margin-left: 15px;
}
.info-box-wrapper .content .item ul li {
    padding-bottom: 15px;
}
.info-box-wrapper .link {
    width: 100%;
    margin-top: 60px;
}
.info-box-wrapper .link a {
    text-decoration: none !important;
    height: 52px;
}
.info-box-wrapper .link a span {
    position: relative;
}
.info-box-wrapper .link a .content {
    width: auto;
    height: 50px;
    padding: 0 45px;
    color: var(--main-white);
    background-color: var(--main-red);
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    font-size: 20px;
    line-height: 23px;
    border: 1px solid var(--main-dark-grey);
    z-index: 2;
    top: -15px;
}
.info-box-wrapper .link a .design-element {
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
    height: 1px;
    width: 100%;
    background-color: var(--main-dark-grey);
    z-index: 1;
    top: 15px;
}

/* Banner #3 (big room) */
.big-banner-wrapper {
    width: 100%;
}
.big-banner-wrapper .bottom {
    background-image: url(/frontend/img/uploaded/icons/Pattern_outline_tuerkis.svg);
    background-repeat: repeat;
    background-size: 450px;
    padding-bottom: 60px;
}
.big-banner-wrapper .content {
    background-color: var(--main-white);
    width: 100%;
    height: auto;
    max-width: 1328px;
    min-height: 432px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    position: relative;
    top: -100px;
}
.big-banner-wrapper .content .left {
    display: inline-block;
    width: calc(100% - 450px);
    padding: 110px 45px 60px 60px;
}
.big-banner-wrapper .content .left span {
    display: block;
    text-align: left;
}
.big-banner-wrapper .content .left .headline {
    color: var(--main-dark-green);
    font-family:  'Adobe Garamond Pro', sans-serif;
    font-size: 50px;
    line-height: 60px;
    margin-bottom: 15px;
}
.big-banner-wrapper .content .left .subheadline {
    font-size: 30px;
    line-height: 36px;
    margin-bottom: 30px;
}
.big-banner-wrapper .content .left .text {
}
.big-banner-wrapper .content .right {
    display: inline-block;
    height: 0;
    width: 300px;
    margin-right: 150px;
    position: relative;
    top: -230px;
}
.big-banner-wrapper .content .right .red-dot {
    width: 300px;
    height: 300px;
}
.big-banner-wrapper .content .right a {
    text-decoration: none !important;
}
.big-banner-wrapper .content .right > a {
    position: relative;
    z-index: 2;
}
.big-banner-wrapper .content .right .red-dot figcaption {
    position: relative;
    left: 50%;
    -webkit-transform: translate(-50%, -85%);
        -ms-transform: translate(-50%, -85%);
            transform: translate(-50%, -85%);
    width: 100%;
    height: 100%;
}
.big-banner-wrapper .content .right .red-dot figcaption span {
    color: var(--main-white);
}
.big-banner-wrapper .content .right .bttn {
    background-color: var(--main-red);
    color: var(--main-white);
    font-size: 20px;
    line-height: 23px;
    height: 60px;
    position: relative;
    z-index: 3;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
}
.big-banner-wrapper .content .right .bttn img {
    vertical-align: sub;
}
.big-banner-wrapper .content .right .price {
    position: relative;
    z-index: 1;
    margin-top: 60px;
    margin-bottom: 90px;
}
.big-banner-wrapper .content .right .price span {
    display: block;
}
.big-banner-wrapper .content .right .price .line-1 {
    font-size: 44px;
    line-height: 53px;
}
.big-banner-wrapper .content .right .price .line-2 {
    font-size: 16px;
    line-height: 20px;
}

/* 3 TABS */
.tabs3-wrapper {
    margin: 100px auto;
}
.tabs3-wrapper .headline {
    font-size: 30px;
    line-height: 36px;
}
.tabs3-wrapper .design-element {
    padding: 50px 0;
}
.tabs3-wrapper .design-element .design-lines {
    display: block;
    background: var(--main-dark-grey);
    height: 2px;
    width: calc(50% - 30px);
    margin-top: 19px;
}
.tabs3-wrapper .design-element .design-lines.left {
    float: left;
}
.tabs3-wrapper .design-element .design-lines.right {
    float: right;
}
.tabs3-wrapper .tabs-wrapper {
    max-width: 1800px;
    margin: 0 auto;
    overflow: hidden !important;
}
.tabs3-wrapper .link {
    width: 100%;
    margin-top: 60px;
}
.tabs3-wrapper .link a {
    text-decoration: none !important;
    height: 52px;
}
.tabs3-wrapper .link a span {
    position: relative;
}
.tabs3-wrapper .link a .design-element {
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
    height: 1px;
    width: 100%;
    max-width: 1800px;
    background-color: var(--main-dark-grey);
    z-index: 1;
    top: 15px;
    padding: 0;
}
.tabs3-wrapper .link a .content {
    width: auto;
    height: 50px;
    padding: 0 45px;
    color: var(--main-white);
    background-color: var(--main-red);
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    font-size: 20px;
    line-height: 23px;
    border: 1px solid var(--main-dark-grey);
    z-index: 2;
    top: -15px;
}

/* acordion */
.flex-container {
    position: relative;
    max-height: 780px;
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    overflow: hidden;
}
.flex-title {
    color: var(--main-white);
    position: relative;
    height: 0;
    opacity: 1;
}
.flex-slide.active .flex-title {
    opacity: 0;
}
.flex-title span {
    display: block;
    font-size: 28px;
    line-height: 34px;
    text-align: left;
    padding-left: 15px;
}
.flex-title .headline {
    padding-top: 15px;
}
.flex-about {
    opacity: 0;
    color: var(--main-white);
    position: relative;
    height: auto;
    position: absolute;
    bottom: 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    padding-bottom: 80px;
    max-width: 916px;
    width: 100%;
}
.flex-slide.active .flex-about {
    opacity: 1;
}
.flex-about .left {
    width: calc(100% - 380px);
    padding-left: 80px;
}
.flex-about .left span {
    display: block;
    text-align: left;
}
.flex-about .left .headline {
    font-size: 50px;
    line-height: 60px;
    margin-bottom: 5px;
}
.flex-about .left .subheadline {
    font-size: 30px;
    line-height: 36px;
}
.flex-about .left .times {
    margin-top: 10px;
    font-size: 28px;
    line-height: 34px;
}
.flex-about .right {
    width: 300px;
    margin-right: 80px;
}
.flex-about .right a {
    text-decoration: none !important;
}
.flex-about .right .bttn{
    background-color: var(--main-dark-green);
    color: var(--main-white);
    font-size: 20px;
    line-height: 23px;
    height: 60px;
    position: relative;
    z-index: 3;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
}
.flex-about .right .bttn img {
    margin-bottom: -7px;
}
.flex-slide {
    min-width: 442px;
    min-height: 780px;
    -ms-flex: 1;
    -webkit-box-flex: 1;
            flex: 1;
    cursor: pointer;
    overflow: hidden;
}
.flex-slide.active {
    -webkit-box-flex: 3;
        -ms-flex-positive: 3;
            flex-grow: 3;
}
.flex-slide.active .flex-about {
    opacity: 1;
}
.home-0, .home-1, .home-2 {
    background-size: cover;
    background-repeat: no-repeat;
    background-color: rgba(0, 0, 0, 0.25);
}
.flex-about-home-0, .flex-about-home-1, .flex-about-home-2 {
    opacity: 0;
}
.flex-title,
.flex-about {
    text-align: center;
    -webkit-transition: all 200ms ease;
    -o-transition: all 200ms ease;
    transition: all 200ms ease;
}
.flex-slide {
    text-align: center;
    -webkit-transition: all 500ms ease;
    -o-transition: all 500ms ease;
    transition: all 500ms ease;
}

/* newsletter in footer */
section.newsletter {
    /* background-color: var(--main-light-green); */
    /* color: var(--main-white); */
    /* padding-top: 60px; */
    /* padding-bottom: 60px; */
}
section.newsletter a {
    text-decoration: none !important;
}
section.newsletter .headline {
    font-size: 42px;
    line-height: 51px;
    font-family:  'Adobe Garamond Pro', sans-serif;
}
section.newsletter .design-element {
    padding: 50px 0;
}
section.newsletter .design-element .design-lines {
    display: block;
    background: var(--main-white);
    height: 2px;
    width: calc(50% - 30px);
    margin-top: 19px;
}
section.newsletter .design-element .design-lines.left {
    float: left;
}
section.newsletter .design-element .design-lines.right {
    float: right;
}
section.newsletter form {
    text-align: center;
}
section.newsletter form > input {
    background-color: var(--main-dark-green);
    border: 0;
    color: var(--main-white);
    height: 50px;
    width: 300px;
    display: inline-block;
    margin: 0 15px;
    padding: 0 30px;
    letter-spacing: 2px;
}
section.newsletter form > button {
    background-color: var(--main-light-green);
    border: 1px solid var(--main-white);
    font-size: 20px;
    line-height: 23px;
    height: 50px;
    padding: 14px 45px 14px 45px;
    width: auto;
    display: block;
    margin: 0 auto;
    margin-top: 60px;
    letter-spacing: 2px;
}

/* GALLERY */
section.gallery .inner-wrapper {
    max-width: 1800px;
}
#bx-gallery-pager {
    margin-top: 10px;
    background-color: var(--main-light-grey);
    width: 100%;
    height: 50px;
    color: var(--main-white);
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: distribute;
        justify-content: space-around;
}
#bx-gallery-pager a {
    text-decoration: none !important;
    width: 100%;
    font-size: 20px;
    line-height: 23px;
    height: 50px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}
#bx-gallery-pager a.active {
    background: var(--main-dark-green);
}
section.gallery .bx-wrapper {
    height: 100%;
}
section.gallery .bx-wrapper .bx-controls {
    height: 0;
    position: relative;
    margin-top: -27%;
    margin-bottom: 27%;
}
section.gallery .bx-wrapper .bx-controls .bx-controls-direction {
    z-index: 29;
    width: 110%;
    height: 100%;
    margin-left: -5%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
}

/* privacy block */
section.privacy {
    margin: 30px auto;
}
section.privacy > span > div > label {
    font-weight: 200;
}

/* sitemap */
.sitemap > .inner{
	display:-webkit-box;
	display:-ms-flexbox;
	display:flex;
	-webkit-box-pack:justify;
	    -ms-flex-pack:justify;
	        justify-content:space-between;
	-ms-flex-wrap:wrap;
	    flex-wrap:wrap;
}
.sitemap > .inner > ul{
	-webkit-box-flex: 1;
	    -ms-flex: 1 1 auto;
	        flex: 1 1 auto;
}
.sitemap > .inner > ul > li{
	margin-bottom:20px;
}
.sitemap > .inner > ul > li > a{
	text-transform: uppercase;
	font-weight: bold;
}
.sitemap > .inner > ul > li > a > i{
	display:none;
}
.sitemap > .inner ul > li a{
	text-decoration: none;
}
.sitemap > .inner ul > li a:hover{
	text-decoration: underline;
}
.sitemap > .inner ul > li > ul{
	margin-left:20px;
}

/* weather */
/* .wunderground{
	padding-left:4rem;
	padding-right: 4rem;
}
.wunderground .inner .cols{
	display:-webkit-box;
	display:-ms-flexbox;
	display:flex;
	-ms-flex-wrap:wrap;
	    flex-wrap:wrap;
	-webkit-box-pack:justify;
	    -ms-flex-pack:justify;
	        justify-content:space-between;
}
.wunderground .inner .cols .col{
	margin: 0 auto;
	background: rgba(0,0,0,0.5);
	padding:2rem;
	text-align: center;
	margin-bottom:2rem;
}
.wunderground .inner .cols .col .weather-icon-wrap{
	padding-bottom:1rem;
	margin-bottom: 1rem;
	border-bottom: 1px solid #fff;
}
.wunderground .inner .cols .col .weather-icon-wrap .weather-icon{
    font-family: 'MeteoconsRegular';
    font-size: 5rem;
    line-height: 6rem;
}
.wunderground .inner .cols .col .weather-temp{
	font-size:80%;
	line-height:110%;
	margin-top:1rem;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: center;
	    -ms-flex-pack: center;
	        justify-content: center;
}
.wunderground .inner .cols .col .weather-temp > div{
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient:vertical;
	-webkit-box-direction:normal;
	    -ms-flex-direction:column;
	        flex-direction:column;
	padding:0 0.5rem;
}
.wunderground .inner .cols .col .weather-temp > div .title{
	font-weight: bold;
}
.wunderground .inner .weather-copy{
	width:100%;
	font-size: 1rem;	text-align: center;
	padding: 0.5rem;
	opacity:0.3;
} */

/* routenplanner */
.routeplanner {
    padding-bottom: 40px;
}

.routeplanner .map {
    position: relative;
}
.routeplanner .map .map-bg {
    background: #000;
}
.routeplanner .map .map-bg .inner {
    background: #000;
    border-left: none;
    border-right: none;
    -webkit-box-sizing: content-box;
    box-sizing: content-box;
}
.routeplanner .map #map-canvas {
    width: 100%;
    padding-top: 56%;
}
.routeplanner .map #route-error {
    display: none;
    width: 100%;
    color: #fff;
    text-align: center;
    padding: 15px;
    background: #000;
}
.routeplanner .map #control {
    width: 30%;
    margin: 10px;
    position: absolute;
    top: 10px;
    right: 10px;
}
.routeplanner .map #control form {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}
.routeplanner .map #control form > * {
    width: calc(100% - 40px);
    padding: 0 10px;
    border: 1px solid #a68c6d;
}
.routeplanner .map #control form > button {
    width: 40px;
}
.routeplanner .map #control form > .clear {
    display: none;
}
.routeplanner .gmnoprint img {
    max-width: none;
}

.routeplanner .adp-list {
    border: 1px solid #912224;
    background-color: #FFFFFF;
}

.routeplanner .adp-list .adp-listheader {
    font-weight: bold;
}

.routeplanner .adp-list tr td {
    padding: 5px;
}

.routeplanner .adp-list tr td.adp-listsel {
    background-color: #912224;
    color: #FFFFFF;
}

.routeplanner .adp-placemark {
    border: 1px solid #912224;
    background-color: #912224;
    color: #FFFFFF;
}

.routeplanner .adp-placemark td {
    padding: 10px;
    vertical-align: middle;
    line-height: 0;
}

.routeplanner .adp-placemark td.adp-text {
    font-weight: bold;
    line-height: 40px;
}

.routeplanner .adp-legal {
    font-size: 1rem;
    text-align: right;
}

/* search */
#quick-search-form {
    width: 350px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}
#quick-search-form > div {
    display: inline-block;
    width: calc(100% - 50px);
    margin: 0 !important;
    padding: 0 !important;
}
#quick-search-form > span {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    width: 50px;
    border-top: 1px solid var(--main-white);
    border-bottom: 1px solid var(--main-white);
    border-left: 1px solid var(--main-white);
    border-right: 2px solid var(--main-white);
}
#quick-search-form > span:hover {
    cursor: pointer;
}
#quick-search-form > span img {
    -webkit-transform: scale(-1, 1);
    -ms-transform: scale(-1, 1);
    transform: scale(-1, 1);
}
#quick-search-form > div > input {
    width: 100%;
    margin: 0 !important;
    padding: 0 30px !important;
    background-color: var(--main-dark-green);
    border-top: 1px solid var(--main-white);
    border-bottom: 1px solid var(--main-white);
    border-left: 2px solid var(--main-white);
    border-right: 1px solid var(--main-white);
    color: var(--main-white);
    letter-spacing: 2px;
}
/* .search > .inner > form{
	display:-webkit-box;
	display:-ms-flexbox;
	display:flex;
	margin-bottom:3rem;
}
.search > .inner > form > *{
	border:1px solid #ccc;
	background:#fff;
	line-height:4rem;
	vertical-align:middle;
}
.search > .inner > form > input{
	-webkit-box-flex: 1;
	    -ms-flex: 1 1 auto;
	        flex: 1 1 auto;
	border-right:none;
	padding:0 2rem;
}
.search > .inner > form > button{
	border-left:none;
	cursor: pointer;
	padding:0 2rem;
	color: inherit;
    width: auto;
}
.search > .inner > .articles{
	display:-webkit-box;
	display:-ms-flexbox;
	display:flex;
	-webkit-box-pack:justify;
	    -ms-flex-pack:justify;
	        justify-content:space-between;
	-ms-flex-wrap:wrap;
	    flex-wrap:wrap;
}
.search > .inner > .articles > article{
	width: calc(50% - 1rem);
	background:#fff;
	padding:2rem;
	margin-bottom:2rem;
	display:-webkit-box;
	display:-ms-flexbox;
	display:flex;
	-webkit-box-orient:vertical;
	-webkit-box-direction:normal;
	    -ms-flex-direction:column;
	        flex-direction:column;
	-webkit-box-pack:justify;
	    -ms-flex-pack:justify;
	        justify-content:space-between;
}
.search > .inner > .articles[data-article-count="1"] > article{
	width:100%;
}
.search > .inner > .articles > article .search-text{
	padding-bottom:2rem;
} */

/* forms */
.asterisks{
  display: none;
}
.required .asterisks{
  display: inline;
}
.info {
    font-size: 70%;
}

main > form {
    padding-top: 40px;
}

form div.col {
    float: left;
    width: calc(50% - 20px);
}

form div.col.right {
    float: right;
}

div.input {
    border-radius: 5px;
    -webkit-transition: background 0.3s ease-in-out, padding 0.1s ease-in-out;
    -o-transition: background 0.3s ease-in-out, padding 0.1s ease-in-out;
    transition: background 0.3s ease-in-out, padding 0.1s ease-in-out;
    margin-bottom: 10px;
}
div.input > select[data-type=room], div.input > select[data-type=package] {
    width: calc(100% - 50px);
}
div.input > button[data-type=room], div.input > button[data-type=package] {
    width: 45px;
    margin-left: 5px;
}
div.input > input, div.input > select, div.input > textarea {
    width: 100%;
    height: 40px;
    color: var(--main-dark-grey);
    -webkit-transition: background 0.3s linear;
    -o-transition: background 0.3s linear;
    transition: background 0.3s linear;
    border: 1px solid var(--main-light-grey);
}

div.input > div.checkbox {
    width: 100%;
    clear: both;
    padding-top: 5px;
}

div.input > div.checkbox input[type=checkbox] {
    width: 12px;
    height: 12px;
    float: left;
    margin: 5px 10px 0 0;
}

div.input.error > input,
div.input.error > select,
div.input.error > textarea {
    border-color: #FF0000;
}

div.input > .error-message {
    margin-top: 5px;
    padding: 5px;
    width: 100%;
    color: var(--main-white);
    background: #ff0000;
}

div.input > label,
div.input span.label {
    border: none;
    padding: 5px 0px;
    font-weight: 600;
    font-size: 16px;
    line-height: 30px;
}
div.input > label:not([for=captcha]) {
    -webkit-transition: width 0.1s ease-in-out;
    -o-transition: width 0.1s ease-in-out;
    transition: width 0.1s ease-in-out;
}
div.input.checkbox > label {
    width: 100%;
}

div.input.checkbox input {
    width: 12px;
    height: 12px;
    margin: 0 10px 0 0;
}

form div.input label > span.asterisks {
    display: none;
}

div.input.required label > span.asterisks {
    display: inline;
}

div.input button.selector {
    background: var(--main-light-green);
    color: var(--main-white);
    cursor: pointer;
    border: 0;
}

div.input *.clear {
    display: none;
}

section.captcha {
    padding: 10px;
    color: var(--main-white);
}

section.captcha div.input.captcha {
    float: left;
    margin: 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}

section.captcha div.input > .captcha-field {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    padding: 0;
    width: 200px;
}

section.captcha div.input > label[for=captcha] {
    line-height: 40px;
    padding: 0 10px 0 0;
}

section.captcha div.input > .captcha-field > img {
    width: 70px;
    max-height: 40px;
}

section.captcha div.input > .captcha-field > .input {
    display: block;
    width: calc(100% - 70px);
    margin: 0;
}

section.captcha div.input > .captcha-field > .input input {
    height: 40px;
    width: 100%;
}

section.captcha div.submit {
    float: right;
}

section.captcha div.submit input
section.captcha button {
    padding-left: 20px;
    padding-right: 20px;
}
section.captcha button {
    float: right;
    background: var(--main-dark-green);
    color: var(--main-white);
    cursor: pointer;
    min-width: 300px;
    width: 300px;
    text-transform: uppercase;
    font-weight: 600;
    height: 60px;
}
.grecaptcha-badge {
    bottom: 75px !important;
}

section.send-option {
    width: 100%;
    text-align: right;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    padding: 10px;
}
section.send-option a {
    display: block;
    text-transform: uppercase;
    text-decoration: none !important;
    text-align: center;
    width: 300px;
    height: 60px;
    margin-top: 15px;
}

/* newsletter formn */
.newsletter-form .content {
    margin-bottom: 30px;
}

/* request form rooms */
.rooms-wrap{
	text-align: center;
}
.rooms-label{
	margin-top: 2rem;
}
.rooms-wrap .room-add.button{
	background: var(--main-light-green);
	width:auto;
    display: inline-block;
    margin: 0 auto 1rem auto;
}
.rooms-wrap .room-wrap{
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-ms-flex-wrap:wrap;
	    flex-wrap:wrap;
	background:var(--main-white);
	padding:15px;
	margin-bottom: 1.5rem;
	position: relative;
	border:1px solid var(--main-dark-green);
	opacity:1;
	max-height:500px;
	-webkit-transition: opacity 0.3s linear, max-height 0.3s linear;
	-o-transition: opacity 0.3s linear, max-height 0.3s linear;
	transition: opacity 0.3s linear, max-height 0.3s linear;
}
.rooms-wrap .room-wrap.fadedout{
	opacity:0;
	max-height:0;
}
.rooms-wrap .room-wrap label{
	text-align: left;
    font-weight: bold;
    font-size: 1.3rem;
}
input.room-children{
	max-height: 3.3rem;
}
.rooms-wrap .room-wrap .room-remove{
	position: absolute;
	top: -0.5rem;
    right: -0.5rem;
	border-radius: 90px;
	background: var(--main-light-green);
	color: var(--main-white);
	font-size: 2rem;
	height:3rem;
	line-height: 3rem;
	width: 3rem;
	vertical-align: middle;
	text-align: center;
	opacity:1;
	-webkit-transition: opacity 0.3s linear;
	-o-transition: opacity 0.3s linear;
	transition: opacity 0.3s linear;
}
.rooms-wrap .room-wrap .room-remove.room-nodelete{
	opacity:0;
}
.rooms-wrap .room-wrap > .input.select{
	width:100%;
	padding: 0;
}
.rooms-wrap .room-wrap > .room-col{
	width:calc(50% - 5px);
}
.rooms-wrap .room-wrap > .room-col-2{
	margin-left: 10px;
	display:-webkit-box;
	display:-ms-flexbox;
	display:flex;
	-ms-flex-wrap:wrap;
	    flex-wrap:wrap;
	-webkit-box-pack:justify;
	    -ms-flex-pack:justify;
	        justify-content:space-between;
}
.rooms-wrap .room-wrap > .room-col-2 > .input{
	width:calc(50% - 5px);
}
.rooms-wrap .room-wrap > .room-col-2 > .input:first-of-type{
	width:100%;
}
.rooms-wrap .room-wrap > .room-col-2 > .input.room-child-age{
	opacity:1;
	max-height:100px;
	-webkit-transition: opacity 0.3s linear, max-height 0.3s linear;
	-o-transition: opacity 0.3s linear, max-height 0.3s linear;
	transition: opacity 0.3s linear, max-height 0.3s linear;
}
.rooms-wrap .room-wrap > .room-col-2 > .input.room-child-age.fadedout{
	opacity:0;
	max-height:0;
}

/* media-groups */
.media-group{
	display:-webkit-box;
	display:-ms-flexbox;
	display:flex;
	-webkit-box-pack:justify;
	    -ms-flex-pack:justify;
	        justify-content:space-between;
	-ms-flex-wrap: wrap;
	    flex-wrap: wrap;
}
.media-group:not(.inner){
	width:100%;
}
.media-group > *{
	-webkit-box-flex: 1;
	    -ms-flex: 1 1 auto;
	        flex: 1 1 auto;
	margin-left:auto;
	margin-right:auto;
	max-width:100%;
	overflow:hidden;
}

main .content-wrapper {
    width: 100%;
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
    margin-top: 100px;
    margin-bottom: 100px;
}
main .content-wrapper .left,
main .content-wrapper .right {
    width: 50%;
    display: inline-block;
}
main .content-wrapper .left {
    margin-right: 5px;
}
main .content-wrapper .right {
    text-align: left;
    margin-left: 5px;
}
main .content-wrapper .blank span {
    /* margin-top: 60px; */
    display: inline-block;
}

/* ROOM */
main.room .content-wrapper.first-line {
    margin-bottom: 60px;
}
main.room .content-wrapper.second-line {
    margin-top: 0;
    margin-bottom: 80px;
}
main.room .content-wrapper.second-line .right {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: end;
        -ms-flex-align: end;
            align-items: flex-end;
}
main.room .content-wrapper.second-line .right > div > span {
    border-top: 1px solid var(--main-dark-grey);
}
main.room .content-wrapper.second-line .right > div > span,
main.room .content-wrapper.second-line .right > div > span a {
    height: 50px;
    text-align: left;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: left;
    -ms-flex-pack: left;
    justify-content: left;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}
main.room .content-wrapper.second-line .right > div > span:last-of-type {
    border-bottom: 1px solid var(--main-dark-grey);
}
main.room .content-wrapper.second-line .right > div > span img {
    margin-right: 10px;
}
main.room .content-wrapper.second-line .right > div > span a {
    text-decoration: none !important;
    color: var(--main-dark-green);
}
section.room-slider {
    max-width: 1800px;
    margin: 0 auto;
}
section.room-slider .impressions {
    height: 100%;
}
section.room-slider .bx-wrapper {
    height: auto;
}
section.room-slider .bx-wrapper .bx-controls {
    height: 0;
    position: relative;
    margin-top: -27%;
    margin-bottom: 27%;
}
section.room-slider .bx-wrapper .bx-controls .bx-controls-direction {
    z-index: 29;
    width: 110%;
    height: 100%;
    margin-left: -5%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
}
section.room-slider .link-bttn {
    position: relative;
    height: 0;
    width: 100%;
    top: -50px;
}
section.room-slider .link-bttn .degree360 {
    text-decoration: none !important;
    color: var(--main-dark-green);
    background-color: var(--main-white);
    margin: 0 auto;
    display: block;
    height: 50px;
    width: 250px;
    text-align: center;
    line-height: 50px;
}
section.room-slider .link-bttn .degree360 span {
    font-size: 20px;
    line-height: 23px;
}
section.room-slider .link-bttn .degree360 img {
    vertical-align: sub;
    margin-right: 5px;
    margin-bottom: -2px;
}
section.room-info {
    margin-top: 100px;
    margin-bottom: 100px;
}
section.room-info .inner .headline {
    font-size: 30px;
    line-height: 36px;
}
section.room-info .inner .design-element {
    padding: 50px 0;
}
section.room-info .inner .design-lines {
    display: block;
    background: var(--main-dark-grey);
    height: 2px;
    width: calc(50% - 30px);
    margin-top: 19px;
}
section.room-info .inner .design-lines.left {
    float: left;
}
section.room-info .inner .design-lines.right {
    float: right;
}
section.room-info .content {
    -webkit-column-count: 2;
    column-count: 2;
    -webkit-column-gap: 40px;
    column-gap: 40px;
}
section.room-info .content ul {
    display: contents;
}
section.room-info ul {
    list-style-image: url(/frontend/img/uploaded/icons/Icons_List.svg);
    list-style-position: outside;
    margin-left: 15px;
}
section.room-info ul li {
    margin-bottom: 15px;
    margin-left: 15px;
}

/* special back button */
section.link-back {
    margin-top: 100px;
    margin-bottom: 100px;
    width: 100%;
    text-align: center;
}
section.link-back a {
    text-decoration: none !important;
    height: auto;
}
section.link-back a img {
    vertical-align: sub;
    margin-bottom: -5px;
}

/* special iFrame */
section.html {
    margin-top: 100px;
    margin-bottom: 100px;
    width: 100%;
    text-align: center;
}

/* POOL */
section.pool {
    max-width: 1800px;
    margin: 0 auto;
}
section.pool .bx-wrapper {
    height: 100%;
}
section.pool .bx-wrapper .bx-controls {
    height: 0;
    position: relative;
    margin-top: -10%;
    margin-bottom: 10%;
}
section.pool .bx-wrapper .bx-controls .bx-controls-direction {
    z-index: 29;
    width: 110%;
    height: 100%;
    margin-left: -5%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
}

section.pool figure figcaption {
    position: absolute;
    top: 49%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    width: calc(100% - 30px);
    height: 100%;
    background-color: rgba(0, 0, 0, 0.25);
}
section.pool figure figcaption .inner-wrapper {
    margin: 20px;
}
section.pool figure figcaption .headline,
section.pool figure figcaption .content {
    color: var(--main-white);
    font-size: 28px;
    line-height: 34px;
    display: block;
    letter-spacing: 0;
}
section.pool figure figcaption .headline {
    margin-bottom: 5px;
}
section.pool.treatment .bx-wrapper .bx-viewport {
    height: 394px !important;
}
section.pool.treatment figure figcaption .inner-wrapper {
    margin: 0;
    height: calc(100% + 83px);
}
section.pool.treatment figure figcaption .headline {
    padding: 20px 20px 0 20px;
}
section.pool.treatment figure figcaption .content {
    background-color: var(--main-light-grey);
    font-size: 20px;
    line-height: 23px;
    color: var(--main-dark-grey);
    height: 83px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    position: absolute;
    bottom: -83px;
    width: 100%;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
}
section.pool.treatment figure figcaption .content .icon {
    width: 30px;
    height: 30px;
    margin-bottom: -7px;
}
section.pool.treatment figure figcaption .content > span {
    height: 30px;
    display: inline-block;
}
section.pool.treatment figure figcaption .content > span.right {
    display: block;
    margin-bottom: -10px;
    padding-right: 20px;
}
section.pool.treatment figure figcaption .content > span.left {
    padding-left: 20px;
}
section.pool.treatment .bx-wrapper .bx-controls {
    height: 0;
    position: relative;
    margin-top: -12%;
    margin-bottom: 12%;
}


/* OVERVIEWS */
/* room overview */
section.overview.room {
    background-image: url(/frontend/img/uploaded/icons/Pattern_outline_tuerkis.svg);
    background-repeat: repeat;
    background-size: 450px;
    padding: 60px 0;
}
.overview-headline {
    font-size: 30px;
    line-height: 36px;
}
.overview-healdine-design-element {
    padding: 50px 0;
}
.overview-healdine-design-element .design-lines {
    display: block;
    background: var(--main-dark-grey);
    height: 2px;
    width: calc(50% - 30px);
    margin-top: 19px;
}
.overview-healdine-design-element .design-lines.left {
    float: left;
}
.overview-healdine-design-element .design-lines.right {
    float: right;
}
section.overview.room .room {
    margin-bottom: 60px;
}
section.overview.room .content-wrapper {
    background-color: var(--main-white);
    height: 300px;
    width: 92%;
    position: relative;
    top: -60px;
    margin-bottom: -60px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    padding-top: 60px;
}
section.overview.room .content-wrapper > .left {
    width: 33.33%;
    padding-left: 30px;
}
section.overview.room .content-wrapper > .right {
    width: 66.66%;
    padding-left: 30px;
}
section.overview.room .content-wrapper > .left a {
    text-decoration: none !important;
}
section.overview.room .content-wrapper > .left span {
    display: block;
}
section.overview.room .content-wrapper > .left .headline {
    font-size: 50px;
    line-height: 60px;
    text-align: left;
    color: var(--main-dark-green);
    font-family:  'Adobe Garamond Pro', sans-serif;
}
section.overview.room .content-wrapper > .left .subheadline {
    font-size: 30px;
    line-height: 36px;
    text-align: left;
}
section.overview.room .content-wrapper .right > div {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}
section.overview.room .content-wrapper .right > div > div {
    width: calc(50% - 30px);
}
section.overview.room .content-wrapper .right > div > div.left {
    margin-right: 15px;
}
section.overview.room .content-wrapper .right > div > div.right {
    margin-left: 15px;
}
section.overview.room .content-wrapper .right > div.top > div.left > span {
    border-top: 1px solid var(--main-dark-grey);
    height: 50px;
    text-align: left;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: left;
        -ms-flex-pack: left;
            justify-content: left;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
}
section.overview.room .content-wrapper .right > div.top > div.left > span img {
    margin-right: 10px;
}
section.overview.room .content-wrapper .right > div.top > div.right > a {
    text-decoration: none !important;
}
section.overview.room .content-wrapper .right > div.top > div.right > a > span {
    display: block;
}
section.overview.room .content-wrapper .right > div.top > div.right > a > span.price {
    font-size: 44px;
    line-height: 53px;
}
section.overview.room .content-wrapper .right > div.bottom > div {
    color: var(--main-white);
    height: 50px;
    font-size: 20px;
    line-height: 23px;
    margin-top: 15px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}
section.overview.room .content-wrapper .right > div.bottom > div a {
    text-decoration: none !important;
}
section.overview.room .content-wrapper .right > div.bottom > div.left {
    background-color: var(--main-dark-green);
}
section.overview.room .content-wrapper .right > div.bottom > div.right {
    background-color: var(--main-red);
}
section.overview.room .content-wrapper .right > div.bottom > div.right img {
    margin-bottom: -7px;
}



/* LIGHTBOX (ROOM) */

.lightbox {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}
/* Styles the lightbox, removes it from sight and adds the fade-in transition */
.lightbox-target {
    position: fixed;
    top: -100%;
    width: 100%;
    background: rgba(0,0,0,0.5);
    width: 100%;
    opacity: 0;
    -webkit-transition: opacity .5s ease-in-out;
    -o-transition: opacity .5s ease-in-out;
    transition: opacity .5s ease-in-out;
    overflow: hidden;
}

/* Styles the lightbox image, centers it vertically and horizontally, adds the zoom-in transition and makes it responsive using a combination of margin and absolute positioning */
.lightbox-target img {
    margin: auto;
    position: absolute;
    top: 0;
    left:0;
    right:0;
    bottom: 0;
    max-height: 0%;
    max-width: 0%;
    border: 3px solid white;
    -webkit-box-shadow: 0px 0px 8px rgba(0,0,0,0.25);
            box-shadow: 0px 0px 8px rgba(0,0,0,0.25);
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    -webkit-transition: .5s ease-in-out;
    -o-transition: .5s ease-in-out;
    transition: .5s ease-in-out;
}

/* Uses the :target pseudo-class to perform the animations upon clicking the .lightbox-target anchor */
.lightbox-target:target {
    opacity: 1;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 9999;
}

.lightbox-target:target img {
    max-height: 100%;
    max-width: 100%;
}

.lightbox-target:target a.lightbox-close {
    top: 0px;
}


/*#####################
#	DRUCK             #
 ######################*/
@media print {
	/* general */
	.hidden-print{
		display:none !important;
	}
}

.hidden {
    display: none !important;
}

.hide-text {
    overflow: hidden;
    text-indent: 100%;
    white-space: nowrap;
}

.nulled {
    font-size: 0;
    line-height: 0;
    padding: 0;
    margin: 0;
}

.clear {
    clear: both;
    display: block;
    height: 0;
    width: 0;
    overflow: hidden;
    padding: 0;
    margin: 0;
}


.captcha-error{
  display: none;
  color: red;
}



/* coupon form */
.coupon-form {
    margin-bottom: 100px;
}

/* jobs & brochure forms */
#jobs-wrapper,
#brochure-wrapper{
    margin-top: -40px;
    margin-bottom: 100px;
}
#open-jobs-form,
#open-brochure-form {
    margin-bottom: 100px;
}
#brochure-wrapper div.input > div.checkbox {
    display: table-cell;
    width: 30%;
}



/* newsletter in forms */
form section.newsletter {
    margin-top: 30px;
}
form section.newsletter h3 {
    font-weight: 600;
}
form section.newsletter div label {
    font-weight: 400;
}




/* forms */
.asterisks{
  display: none;
}
.required .asterisks{
  display: inline;
}
.info {
    font-size: 70%;
}

main > form {
    padding-top: 40px;
}

form div.col {
    width: calc(50% - 20px);
}
form .form-cols {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
}

div.input {
    border-radius: 5px;
    -webkit-transition: background 0.3s ease-in-out, padding 0.1s ease-in-out;
    -o-transition: background 0.3s ease-in-out, padding 0.1s ease-in-out;
    transition: background 0.3s ease-in-out, padding 0.1s ease-in-out;
    margin-bottom: 10px;
}
div.input > select[data-type=room], div.input > select[data-type=package] {
    width: calc(100% - 50px);
}
div.input > button[data-type=room], div.input > button[data-type=package] {
    width: 45px;
    margin-left: 5px;
}
div.input > input, div.input > select, div.input > textarea {
    width: 100%;
    height: 40px;
    color: var(--main-dark-grey);
    -webkit-transition: background 0.3s linear;
    -o-transition: background 0.3s linear;
    transition: background 0.3s linear;
    border: 1px solid var(--main-light-grey);
}

div.input > div.checkbox {
    width: 100%;
    clear: both;
    padding-top: 5px;
}

div.input > div.checkbox input[type=checkbox] {
    width: 12px;
    height: 12px;
    float: left;
    margin: 5px 10px 0 0;
}

div.input.error > input,
div.input.error > select,
div.input.error > textarea {
    border-color: #FF0000;
}

div.input > .error-message {
    margin-top: 5px;
    padding: 5px;
    width: 100%;
    color: var(--main-white);
    background: #ff0000;
}

div.input > label,
div.input span.label {
    border: none;
    padding: 5px 0px;
    font-weight: 600;
    font-size: 16px;
    line-height: 30px;
}
div.input > label:not([for=captcha]) {
    -webkit-transition: width 0.1s ease-in-out;
    -o-transition: width 0.1s ease-in-out;
    transition: width 0.1s ease-in-out;
}
div.input.checkbox > label {
    width: 100%;
}

div.input.checkbox input {
    width: 12px;
    height: 12px;
    margin: 0 10px 0 0;
}

form div.input label > span.asterisks {
    display: none;
}

div.input.required label > span.asterisks {
    display: inline;
}

div.input button.selector {
    background: var(--main-light-green);
    color: var(--main-white);
    cursor: pointer;
    border: 0;
}

div.input *.clear {
    display: none;
}

section.captcha {
    padding: 10px;
    color: var(--main-white);
}

section.captcha div.input.captcha {
    float: left;
    margin: 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}

section.captcha div.input > .captcha-field {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    padding: 0;
    width: 200px;
}

section.captcha div.input > label[for=captcha] {
    line-height: 40px;
    padding: 0 10px 0 0;
}

section.captcha div.input > .captcha-field > img {
    width: 70px;
    max-height: 40px;
}

section.captcha div.input > .captcha-field > .input {
    display: block;
    width: calc(100% - 70px);
    margin: 0;
}

section.captcha div.input > .captcha-field > .input input {
    height: 40px;
    width: 100%;
}

section.captcha div.submit {
    float: right;
}

section.captcha div.submit input
section.captcha button {
    padding-left: 20px;
    padding-right: 20px;
}
section.captcha button {
    float: right;
    background: var(--main-dark-green);
    color: var(--main-white);
    cursor: pointer;
    min-width: 300px;
    width: 300px;
    text-transform: uppercase;
    font-weight: 600;
    height: 40px;
}
.grecaptcha-badge {
    bottom: 75px !important;
    z-index: 999;
}

section.send-option {
    width: 100%;
    text-align: right;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    padding: 10px;
}
section.send-option a {
    display: block;
    text-transform: uppercase;
    text-decoration: none !important;
    text-align: center;
    width: 300px;
    height: 60px;
    margin-top: 15px;
}

/* newsletter formn */
.newsletter-form .content {
    margin-bottom: 30px;
}

/* request form rooms */
section.request-wrapper {
    margin-bottom: 100px;
}
.rooms-wrap{
	text-align: center;
}
.rooms-label{
	margin-top: 30px;
    padding-bottom: 5px;
}
.rooms-wrap .room-add.button,
.more-fields .button{
	background: var(--main-light-green);
	width:auto;
    min-width: 300px;
    display: inline-block;
    margin: 15px auto;
}
.more-fields {
    display: block;
    width: 100%;
    text-align: center;
}
.rooms-wrap .room-wrap{
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-ms-flex-wrap:wrap;
	    flex-wrap:wrap;
	background:var(--main-white);
	padding:15px;
	margin-bottom: 1.5rem;
	position: relative;
	border:1px solid var(--main-dark-green);
	opacity:1;
	max-height:500px;
	-webkit-transition: opacity 0.3s linear, max-height 0.3s linear;
	-o-transition: opacity 0.3s linear, max-height 0.3s linear;
	transition: opacity 0.3s linear, max-height 0.3s linear;
}
.rooms-wrap .room-wrap.fadedout{
	opacity:0;
	max-height:0;
}
.rooms-wrap .room-wrap label{
	text-align: left;
    font-weight: bold;
    display: block;
}
.rooms-wrap .room-wrap .room-remove{
	position: absolute;
	top: -0.5rem;
    right: -0.5rem;
	border-radius: 90px;
	background: var(--main-light-green);
	color: var(--main-white);
	font-size: 2rem;
	height:3rem;
	line-height: 3rem;
	width: 3rem;
	vertical-align: middle;
	text-align: center;
	opacity:1;
	-webkit-transition: opacity 0.3s linear;
	-o-transition: opacity 0.3s linear;
	transition: opacity 0.3s linear;
}
.rooms-wrap .room-wrap .room-remove.room-nodelete{
	opacity:0;
}
.rooms-wrap .room-wrap > .input.select{
	width:100%;
	padding: 0;
}
.rooms-wrap .room-wrap > .room-col{
	width:calc(50% - 20px);
}
.rooms-wrap .room-wrap > .room-col-2{
	margin-left: 40px;
	display:-webkit-box;
	display:-ms-flexbox;
	display:flex;
	-ms-flex-wrap:wrap;
	    flex-wrap:wrap;
	-webkit-box-pack:justify;
	    -ms-flex-pack:justify;
	        justify-content:space-evenly;
}
.rooms-wrap .room-wrap > .room-col-2 > .input{
	width: 100%;
}
.rooms-wrap .room-wrap > .room-col-2 > .input:first-of-type{
	width:100%;
}
.rooms-wrap .room-wrap > .room-col-2 > .input.room-child-age{
	opacity:1;
	max-height:100px;
    min-width: 100px;
    width: 24%;
	-webkit-transition: opacity 0.3s linear, max-height 0.3s linear;
	-o-transition: opacity 0.3s linear, max-height 0.3s linear;
	transition: opacity 0.3s linear, max-height 0.3s linear;
}
.rooms-wrap .room-wrap > .room-col-2 > .input.room-child-age.fadedout{
	opacity:0;
	max-height:0;
}




@media (max-width: 1250px) {
    .top-line .right a span {
        display: none;
    }
    footer .collumns {
        display: none;
    }
}

@media (max-width: 900px) {
    .header-logo {
        width: 130px;
        height: auto;
    }
    header.images,
    header.images .bx-wrapper,
    header.images .bx-wrapper .bx-viewport {
        height: auto !important;
    }
    header.images .bx-wrapper .bx-viewport .viewport.bxslider > li .bxslide {
        width: 100% !important;
        height: auto !important;
    }
    .top-line {
        padding: 0 5px;
    }
}



@media (max-width: 450px) {
    .header-logo {
        width: 90px;
    }
}
