<div class="error message"><?= $error; ?></div>
<div class="actions error-actions">
    <a href="javascript:void(0);" class="submit cancel"><?= __d('be', 'OK'); ?></a>
    <div class="clear"></div>
</div>