/*#####################
#	Imports           #
######################*/
@import "_vars.scss";
@import "_mixins.scss";


/*#####################
#	Fonts             #
######################*/
@font-face {
  font-family: "MeteoconsRegular";
  src: url("https://www.hochkoenigin.com/frontend/fonts/meteocons/meteocons-webfont.eot");
  src: url("https://www.hochkoenigin.com/frontend/fonts/meteocons/meteocons-webfont.eot?#iefix") format("embedded-opentype"),
    url("https://www.hochkoenigin.com/frontend/fonts/meteocons/meteocons-webfont.woff") format("woff"),
    url("https://www.hochkoenigin.com/frontend/fonts/meteocons/meteocons-webfont.ttf") format("truetype"),
    url("https://www.hochkoenigin.com/frontend/fonts/meteocons/meteocons-webfont.svg#MeteoconsRegular") format("svg");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "weathericons";
  src: url("https://www.hochkoenigin.com/frontend/fonts/weathericons/weathericons-regular-webfont.eot");
  src: url("https://www.hochkoenigin.com/frontend/fonts/weathericons/weathericons-regular-webfont.eot?#iefix") format("embedded-opentype"),
    url("https://www.hochkoenigin.com/frontend/fonts/weathericons/weathericons-regular-webfont.woff") format("woff"),
    url("https://www.hochkoenigin.com/frontend/fonts/weathericons/weathericons-regular-webfont.woff2") format("woff2"),
    url("https://www.hochkoenigin.com/frontend/fonts/weathericons/weathericons-regular-webfont.ttf") format("truetype"),
    url("https://www.hochkoenigin.com/frontend/fonts/weathericons/weathericons-regular-webfont.svg") format("svg");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Adobe Garamond Pro";
  src: url("https://www.hochkoenigin.com/frontend/fonts/AGaramondPro-Regular.otf");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "PT Sans";
  src: url("https://www.hochkoenigin.com/frontend/fonts/ptsans/PTSans-Regular.ttf");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "magic";
  src: url("https://www.hochkoenigin.com/frontend/fonts/magic/magic-Regular.eot");
  src: url("https://www.hochkoenigin.com/frontend/fonts/magic/magic-Regular.eot?#iefix") format("embedded-opentype"),
    url("https://www.hochkoenigin.com/frontend/fonts/magic/magic-Regular.woff2") format("woff2"),
    url("https://www.hochkoenigin.com/frontend/fonts/magic/magic-Regular.woff") format("woff"),
    url("https://www.hochkoenigin.com/frontend/fonts/magic/magic-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

// @font-face {
//     font-family: "FA_brands";
//     src: url("../frontend/fonts/fontawesome/fa-brands-400.eot");
//     src: url("../frontend/fonts/fontawesome/fa-brands-400.eot?#iefix") format("embedded-opentype"),
//         url("../frontend/fonts/fontawesome/fa-brands-400.woff") format("woff"),
//         url("../frontend/fonts/fontawesome/fa-brands-400.woff2") format("woff2"),
//         url("../frontend/fonts/fontawesome/fa-brands-400.ttf") format("truetype"),
//         url("../frontend/fonts/fontawesome/fa-brands-400.svg") format("svg");
//     font-weight: normal;
//     font-style: normal;
// }

// @font-face {
//     font-family: "FA_duotone";
//     src: url("../frontend/fonts/fontawesome/fa-duotone-900.eot");
//     src: url("../frontend/fonts/fontawesome/fa-duotone-900.eot?#iefix") format("embedded-opentype"),
//         url("../frontend/fonts/fontawesome/fa-duotone-900.woff") format("woff"),
//         url("../frontend/fonts/fontawesome/fa-duotone-900.woff2") format("woff2"),
//         url("../frontend/fonts/fontawesome/fa-duotone-900.ttf") format("truetype"),
//         url("../frontend/fonts/fontawesome/fa-duotone-900.svg") format("svg");
//     font-weight: normal;
//     font-style: normal;
// }

// @font-face {
//     font-family: "FA_light";
//     src: url("../frontend/fonts/fontawesome/fa-light-300.eot");
//     src: url("../frontend/fonts/fontawesome/fa-light-300.eot?#iefix") format("embedded-opentype"),
//         url("../frontend/fonts/fontawesome/fa-light-300.woff") format("woff"),
//         url("../frontend/fonts/fontawesome/fa-light-300.woff2") format("woff2"),
//         url("../frontend/fonts/fontawesome/fa-light-300.ttf") format("truetype"),
//         url("../frontend/fonts/fontawesome/fa-light-300.svg") format("svg");
//     font-weight: light;
//     font-style: light;
// }

// @font-face {
//     font-family: "FA_regular";
//     src: url("../frontend/fonts/fontawesome/fa-regular-400.eot");
//     src: url("../frontend/fonts/fontawesome/fa-regular-400.eot?#iefix") format("embedded-opentype"),
//         url("../frontend/fonts/fontawesome/fa-regular-400.woff") format("woff"),
//         url("../frontend/fonts/fontawesome/fa-regular-400.woff2") format("woff2"),
//         url("../frontend/fonts/fontawesome/fa-regular-400.ttf") format("truetype"),
//         url("../frontend/fonts/fontawesome/fa-regular-400.svg") format("svg");
//     font-weight: normal;
//     font-style: normal;
// }

// @font-face {
//     font-family: "FA_solid";
//     src: url("../frontend/fonts/fontawesome/fa-solid-900.eot");
//     src: url("../frontend/fonts/fontawesome/fa-solid-900.eot?#iefix") format("embedded-opentype"),
//         url("../frontend/fonts/fontawesome/fa-solid-900.woff") format("woff"),
//         url("../frontend/fonts/fontawesome/fa-solid-900.woff2") format("woff2"),
//         url("../frontend/fonts/fontawesome/fa-solid-900.ttf") format("truetype"),
//         url("../frontend/fonts/fontawesome/fa-solid-900.svg") format("svg");
//     font-weight: bold;
//     font-style: bold;
// }

/*#####################
#	Desktop           #
######################*/
:root {
  font-size: 62.5%;
  font-family: $primary_font;
  // overflow-x: hidden; // does not work with sticky
  /* letter-spacing: 2px; */
}

* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  font-weight: 400;
  backface-visibility: hidden;
  -webkit-backface-visibility: hidden;
  -webkit-print-color-adjust: exact;
  /* economy | exact */
}

body {
  min-width: 360px;
  overflow-x: hidden;
  font-size: $main_fs;
  line-height: $main_lh;
  font-weight: 400;
  color: $dark_grey;
  overflow-x: hidden;
}

h1 {
  font-size: $h1_fs;
  line-height: $h1_lh;
  color: $dark_green;
  font-family: $secondary_font;
  margin-bottom: 15px;
}

h2 {
  font-size: $h2_fs;
  line-height: $h2_lh;
}

input,
select,
textarea,
button {
  font-size: 1.6rem;
  line-height: 3.8rem;
  font-weight: 400;
  background-color: $white;
  border: 1px solid $dark_green;
  padding: 0 5px;
}

textarea {
  min-height: 110px !important;
}

input[type="checkbox"] {
  -webkit-appearance: none;
  /* checkbox */
}

input[type="checkbox"]:checked {
  background: $dark_green;
}

textarea {
  line-height: 2.1rem;
  padding-top: 0.85rem;
  padding-bottom: 0.85rem;
}

strong,
b {
  font-weight: 600;
}

em {
  font-style: italic;
}

a {
  color: $light_green;
  text-decoration: underline;
}

main {
  max-width: 1300px;
  margin: $center_m;
  position: relative;
  z-index: 1;
}

#mainnav li,
ul.bxslider li {
  padding-left: 0;
  padding-bottom: 0;
}

#mainnav li:before,
ul.bxslider li:before {
  height: 0;
  width: 0;
}

li {
  list-style: none !important;
  padding-left: 20px;
  margin-bottom: 15px;
}

li:before {
  content: "";
  display: inline-block;
  height: 15px;
  width: 10px;
  background-image: url("/frontend/img/uploaded/icons/Icons_List_Dark.svg");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: left;
  position: absolute;
  margin-left: -20px;
  margin-top: 3px;
}

main {
  div.no-content {
    margin-bottom: 0 !important;
    margin-top: 0 !important;
  }
}

#master-wrapper {
  z-index: 9;
  position: relative;
  background-color: $white;
  padding-top: 45px;
  margin-top: -45px;
}

/*#####################
#	Images            #
######################*/
.object-fit-image {
  height: 100%;
  width: 100%;

  img {
    -o-object-fit: cover;
    object-fit: cover;
    width: 100%;
    height: 100%;
    margin-bottom: -3px;
  }
}

/*#####################
#	Editor            #
######################*/
.editor-headline-sans {
  font-size: $h2_fs;
  line-height: $h2_lh;
  font-family: $primary_font;
}

.editor-headline-serif {
  font-size: $h2_fs;
  line-height: $h2_lh;
  font-family: $secondary_font;
}

.editor-red {
  color: $red;
}

.editor-green {
  color: $dark_green;
}

.editor-blue {
  color: $blue;
}

.editor-light-grey {
  color: $light_grey;
}

.editor-small {
  font-size: 12px;
  line-height: 16px;
}

.uppercase {
  text-transform: uppercase;
}

/*#####################
#	Helpers           #
######################*/
.hidden {
  display: none !important;
}

.invisible {
  visibility: hidden;
  opacity: 0 !important;
  z-index: 0 !important;
  @include transition(all 2s ease);
}

.invisible-fast {
  visibility: hidden;
  opacity: 0 !important;
  z-index: 0 !important;
  @include transition(all 0.3s ease);
}

.invisible-2 {
  visibility: hidden;
  opacity: 0 !important;
  z-index: 0 !important;
  @include transition(visibility 0.5s ease-in-out, opacity 0.3s ease-in-out);
}

.visible {
  visibility: visible;
  opacity: 1 !important;
  z-index: 1 !important;
  @include transition(all 3s ease);
}

.rotate {
  @include transform(rotate(180deg));
  @include transition(all 3s ease);
}

.uppercase {
  text-transform: uppercase;
}

.capitalize {
  text-transform: capitalize;
}

.strong {
  font-weight: 600;
}

.light {
  font-weight: 200;
}

.icon {
  width: 25px;
  height: 25px;
  display: inline-block;
}

.center {
  text-align: center;
  margin: $center_m;
}

.block {
  display: block;
}

.invert {
  -webkit-filter: invert(1);
  filter: invert(1);
}

.prices-anchor {
  position: relative;
  margin-top: -275px;
  margin-bottom: 275px;
  display: block;
}

.only-mobile {
  display: none;
}

.unreachable {
  overflow: hidden !important;
}

.beforeHidden {
  li:before {
    display: none;
  }
}

.beforeUnHidden {
  li:before {
    display: inline-block;
  }
}

.small-unhide {
  display: none;
}

.closedForm {
  height: 0;
  overflow: hidden;
}


/*#####################
#	TinyMCE           #
######################*/
#tinymce ul,
.content ul {
  list-style: disc;
  margin-left: 2rem;
}

::-webkit-input-placeholder {
  /* Chrome/Opera/Safari */
  color: #aaa;
  opacity: 1;
}

::-moz-placeholder {
  /* Firefox 19+ */
  color: #aaa;
  opacity: 1;
}

:-ms-input-placeholder {
  /* IE 10+ */
  color: #aaa;
  opacity: 1;
}

:-moz-placeholder {
  /* Firefox 18- */
  color: #aaa;
  opacity: 1;
}

*:focus::-webkit-input-placeholder {
  /* Chrome/Opera/Safari */
  visibility: hidden;
}

*:focus::-moz-placeholder {
  /* Firefox 19+ */
  visibility: hidden;
}

*:focus:-ms-input-placeholder {
  /* IE 10+ */
  visibility: hidden;
}

*:focus:-moz-placeholder {
  /* Firefox 18- */
  visibility: hidden;
}

.mobile-placeholder::-webkit-input-placeholder {
  /* Chrome/Opera/Safari */
  opacity: 0;
}

.mobile-placeholder::-moz-placeholder {
  /* Firefox 19+ */
  opacity: 0;
}

.mobile-placeholder:-ms-input-placeholder {
  /* IE 10+ */
  opacity: 0;
}

.mobile-placeholder:-moz-placeholder {
  /* Firefox 18- */
  opacity: 0;
}

input:focus,
select:focus,
textarea:focus,
button:focus,
[contenteditable="true"]:focus {
  outline: none;
}

/*#####################
#	Messages           #
######################*/
.message {
  padding: 1rem 2rem;
  background: rgba(0, 0, 0, 0.3);
  color: $white;
  text-align: center;
}

.message.success {
  background-color: $green;
}

.message.warning {
  background-color: $orange;
}

.message.error {
  background-color: $red;
}

/*#####################
#	DRUCK             #
######################*/
@media print {

  /* general */
  .hidden-print {
    display: none !important;
  }
}

.hide-text {
  overflow: hidden;
  text-indent: 100%;
  white-space: nowrap;
}

.nulled {
  font-size: 0;
  line-height: 0;
  padding: 0;
  margin: 0;
}

.clear {
  clear: both;
  display: block;
  height: 0;
  width: 0;
  overflow: hidden;
  padding: 0;
  margin: 0;
}

.captcha-error {
  display: none;
  color: $red;
}