/*#####################
#	SASS MIXINS    #
######################*/

@mixin transform($property) {
    -webkit-transform: $property;
    -ms-transform: $property;
    transform: $property;
}

@mixin transition($property) {
    -webkit-transition: $property;
    -o-transition: $property;
    transition: $property;
}
