/*#####################
#	SASS VARIABLES    #
######################*/

/*  colors  */
$white: #ffffff;
$red: #c93458;
$pink: #ff00ff;
$blue: #00ffff;
$orange: orange;
$green: green;
$bg_color: #f0f0f0;
$dark_green: #003c70;
$light_green: #778db4;
$dark_grey: #575756;
$lighter_grey: rgba(87, 87, 86, 0.51);
$light_grey: #b9b9b9;
$table_grey: #e2e2e2;

/*  fonts  */
$primary_font: "PT Sans",
sans-serif;
$secondary_font: "Adobe Garamond Pro",
sans-serif;
$magic_font: "magic",
sans-serif;

// main text
$main_fs: 1.7rem;
$main_lh: 2.4rem;
$smaller_fs: 1.5rem;

// h1 text
$h1_fs: 50px;
$h1_lh: 60px;
$h1_fs_mobile: 36px;
$h1_lh_mobile: 42px;

// h2 text
$h2_fs: 30px;
$h2_lh: 36px;
$h2_fs_mobile: 21px;
$h2_lh_mobile: 26px;

/*  OTHERS  */
$center_m: 0 auto;
$full_margin: 100px;
$half_margin: 60px;