.container {
    /*display:flex;*/
    /*flex-wrap: wrap;*/
}
section.last-minute {
    width:50%;
}
/* teaser 5 */

.teaser-5 {
    position: relative;
    background-color: #FFFFFF;
    margin-top: 40px;
    /*width: 1000px;*/
    -webkit-box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.5);
    -moz-box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.5);
    box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.5);
}

.teaser-5.nr-0 {
    margin-top: 0;
}

.teaser-5 > div.preview {
    position: relative;
}

.teaser-5 .ratio-image {
    position: absolute;
    left: 0;
    top: 0;
    width: 66.666%;
    height: 100%;
    background-size: cover;
    background-repeat: no-repeat;
    display: block;
}

.teaser-5 .ratio-image > div {
    background-size: cover;
    background-repeat: no-repeat;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
}

.teaser-5 div.text-wrapper {
    float: right;
    width: 33.333%;
    padding: 40px;
}

.teaser-5 div.text-wrapper h2 {
    font-weight: 300;
    font-family: 'Raleway', sans-serif;
    font-size: 3rem;
    line-height: 3.5rem;
    text-align: center;
    padding-bottom: 0;
}

.teaser-5 div.text-wrapper .ranges {
    text-align: center;
}

.teaser-5 div.text-wrapper .desc {
    padding-top: 20px;
    text-align: center;
    padding-bottom: 5px;
    font-weight: bold;
}

.teaser-5 div.text-wrapper .value {
    font-size: 2.3rem;
    line-height: 2.3rem;
    font-weight: bold;
    text-align: center;
}

.teaser-5 div.text-wrapper .value span {
    font-size: 1rem;
}

.teaser-5 div.text-wrapper .buttons {
    padding-top: 20px;
}

.teaser-5 div.text-wrapper .buttons a {
    width: calc(50% - 10px);
    float: left;
    padding: 0;
}

.teaser-5 div.text-wrapper .buttons a {
    float: left;
    margin-left: 0;
    margin-right: 0;
    width: calc(50% - 10px);
}

.teaser-5 div.text-wrapper .buttons a.book {
    float: right;
}

.teaser-5 div.text-wrapper .buttons a.fw {
    margin: 0;
    width: 100%;
    float: none;
    clear: both;
}

.teaser-5 > div.more {
    position: relative;
    padding: 20px;
}

.teaser-5 > div.more a.close {
    margin-top: 20px;
}

.teaser-5 .ratio-image {
    width: 50%;

}
.teaser-5 div.text-wrapper {
    width: 50%;
}
.teaser-5 div.text-wrapper h2 {
    font-size: 2.5rem;
    line-height: 3rem;
}
.teaser-5 div.text-wrapper .buttons a.yellow {
    margin-top: 20px;
}
.teaser-5 div.text-wrapper h2 {
    font-size: 2.5rem;
    line-height: 3rem;
}

/* Misc */
.hidden {
    display: none!important;
}

input,
select,
textarea {
    font-size:1.6rem;
    font-family: 'Source Sans Pro', sans-serif;
    color: #585858;
    height: 40px;
    width: 100%;
    padding: 0 3px;

    -webkit-appearance: none;
    -webkit-border-radius:0;
    border-radius:0;
}

main > div > form div.col.left,
section.main > div > form div.col.left {
    padding-right: 10px;
}

main > div > form div.col.right,
section.main > div > form div.col.right {
    padding-left: 10px;
}

#lmf {
    display: flex;
    flex-wrap: wrap;
}

div.right, div.left {
    padding-left: 10px;
    padding-right: 10px;
    margin-top: 10px;
    width: 50%!important;
}

div.form-bottom {
    padding-left: 10px;
    width: 100%;
    padding-right: 10px;
}

form.left {
    padding-left: 5px;
    padding-right: 10px;
}
form.right {
    padding-left: 5px;
    padding-right: 10px;
}
form .error {
    color: #ff0000;
}
.radio-img {
    width: 60%;
}
.preview {
    display: flex;
    flex-direction: row;
}

@media (max-width: 730px) {
    div.left, div.right {
        width: 100%!important;
    }
    .teaser-5 .ratio-image {
        width: 40%;
    }
    .teaser-5 div.text-wrapper {
        /*width: 60%;*/
    }
    .preview {
        display: flex;
        flex-direction: column;
    }
    .text-wrapper {
        width: 100%;
    }
    .radio-img {
        width: 100%;
    }

    .radio-img {
        height: 200px;
    }
}
@media (max-width: 1039px){
    .teaser-5 .ratio-image {
        width: 50%;
    }
    .teaser-5 div.text-wrapper {
        width: 100%;
        padding: 25px;
    }

}


@media (max-width: 730px) {
    .teaser-5 .ratio-image {

    }
    .teaser-5 div.text-wrapper {
        padding: 15px;
    }
}
