/*#####################
 #	Imports           #
 ######################*/
/*#####################
 #	SASS VARIABLES    #
 ######################*/
/*  colors  */
/*  fonts  */
/*  OTHERS  */
/*#####################
 #	SASS MIXINS    #
 ######################*/
/*#####################
 #      EXCEPTIONS     #
 ######################*/
@media (max-width: 1900px) {
  .big-banner-wrapper .content {
    margin-bottom: -60px; } }

@media (max-width: 1800px) {
  section.gallery .inner-wrapper {
    width: 100%; }
    section.gallery .inner-wrapper li figure img {
      width: 100%;
      /* 3-tabs box */ }
  .flex-about {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -ms-flex-line-pack: justify;
    align-content: space-between !important; }
    .flex-about .left {
      width: 100%;
      padding: 0 60px;
      margin-top: 30px; }
      .flex-about .left span {
        text-align: center; }
    .flex-about .right {
      width: 380px;
      margin: 60px auto 0 auto; }
      .flex-about .right .bttn {
        width: 90%;
        margin: 0 auto; } }

@media (max-width: 1599px) {
  /* banner #6 */
    .banner-6-wrapper div .content-wrapper.left span.content, .banner-6-wrapper div .content-wrapper.right span.content {
      margin: 100px 60px 100px 60px;
      /* recent-packages in menu */ }
      #recent-packages figure {
        display: none; }
      #recent-packages .menu-package-overview-txt {
        width: 100%; } }

/*#####################
 #	      BIG         #
 ######################*/
@media (min-width: 1200px) and (max-width: 1399px) {
  /* general */
    main, footer .inner-wrapper, .inner {
      max-width: 1100px; }
    main.room .content-wrapper.second-line {
      width: 105%;
      margin-left: -2.5%; } }

@media (min-width: 1150px) and (max-width: 1199px) {
  /* general */
    main, footer .inner-wrapper, .inner {
      max-width: 1050px;
      /* info-box */ }
      .info-box-wrapper:not(.two-tabs) .buttons a {
        height: 60px;
        padding-top: 5px; }
      .info-box-wrapper:not(.two-tabs) .buttons a.active {
        height: 70px; }
    main.room .content-wrapper.second-line {
      width: 105%;
      margin-left: -2.5%; }
    .download-wrapper .content .buttons-wrapper a {
      width: 200px; } }

/*#####################
 #	TABLET QUER       #
 ######################*/
@media (max-width: 1149px) {
  /* general */
    :root {
      overflow-x: hidden; }
    main, .inner {
      max-width: 960px; }
    .home main .content-wrapper {
      margin-top: 30px; }
    .breadcrumbs {
      margin-bottom: 0;
      margin-top: 15px;
      /* header */ }
    .top-line a.phone, header.images .bx-wrapper .bx-controls .bx-controls-direction, header.images a.j2c, nav {
      display: none; }
    header div.animation {
      top: 67vH; }
      header div.animation .first-animated-line {
        font-size: 80px;
        line-height: 180px; }
      header div.animation .second-animated-line {
        font-size: 25px;
        line-height: 50px;
        margin-top: -60px; }
    .header-logo {
      width: 320px;
      height: auto;
      margin-top: 160px; }
    header.images {
      height: 100vH; }
      header.images .bx-wrapper .bx-viewport {
        height: calc(100vH - 70px) !important;
        /* menu & navigation */ }
    .menu .menu-item {
      height: 70px;
      line-height: 75px; }
    #recent-packages, .menu .menu-item.nav-bttn, .only-desktop {
      display: none !important; }
    .only-mobile, #header-mobile.images.only-mobile {
      display: block; }
    header .bubble {
      display: inline-block;
      top: calc((100vH / 1.8));
      left: calc((100vW / 2) - 150px); }
    .menu .menu-item {
      width: 25%; }
    .nav-icon {
      width: 25px;
      height: 25px;
      display: inline-block;
      padding-top: 1px;
      margin-right: 5px; }
    .nav-icon:after, .nav-icon:before, .nav-icon div {
      background-color: #fff;
      border-radius: 3px;
      content: '';
      display: block;
      height: 1px;
      margin: 7px 0;
      -webkit-transition: all 0.2s ease-in-out;
      -o-transition: all 0.2s ease-in-out;
      transition: all 0.2s ease-in-out; }
    .nav-icon.clicked:before {
      -webkit-transform: translateY(8px) rotate(135deg);
      -ms-transform: translateY(8px) rotate(135deg);
      transform: translateY(8px) rotate(135deg); }
    .nav-icon.clicked:after {
      -webkit-transform: translateY(-8px) rotate(-135deg);
      -ms-transform: translateY(-8px) rotate(-135deg);
      transform: translateY(-8px) rotate(-135deg); }
    .nav-icon.clicked div {
      -webkit-transform: scale(0);
      -ms-transform: scale(0);
      transform: scale(0); }
    #mainnav-mobile {
      position: fixed;
      top: 0;
      min-height: 100vH;
      padding-bottom: 90px;
      width: 100%;
      z-index: 999;
      background-color: #fff;
      height: auto;
      overflow-y: scroll;
      bottom: 0; }
      #mainnav-mobile li:before {
        display: none; }
      #mainnav-mobile a {
        text-decoration: none !important;
        color: #fff; }
    .nav-logo {
      width: 100%;
      display: block;
      text-align: center;
      background-color: #f0f0f0; }
      .nav-logo img {
        width: 250px;
        height: auto;
        margin: 30px 0 45px 0; }
    .mainnav-mobile li {
      background-color: #005d5d;
      color: #fff;
      height: 60px;
      line-height: 60px;
      margin: 0;
      border-bottom: 1px solid #fff;
      padding: 0; }
      .mainnav-mobile li a {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        width: 100%;
        height: 100%;
        text-align: left; }
        .mainnav-mobile li a span.wrapper {
          display: inline-block;
          width: calc(100% - 70px);
          height: auto;
          padding-left: 60px; }
        .mainnav-mobile li a span.image {
          display: inline-block;
          width: 70px;
          height: 100%;
          background-color: #4d8e8e;
          text-align: center; }
          .mainnav-mobile li a span.image img {
            width: 39px;
            height: auto; }
        .mainnav-mobile li a span.image-left {
          background-color: #005d5d; }
    .mainnav-mobile li.last {
      background-color: unset;
      color: unset;
      height: auto;
      margin: 90px auto 30px auto;
      border: 0;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-pack: center;
      -ms-flex-pack: center;
      justify-content: center; }
    .mainnav-mobile li.last.mobile-nav-links a {
      width: auto;
      display: inline-block;
      background-color: #fff;
      height: 40px;
      border: 1px solid #b9b9b9;
      color: #005d5d !important;
      line-height: 40px;
      width: auto;
      padding: 0 20px; }
    .mainnav-mobile li.clicked {
      background-color: #4d8e8e;
      height: auto; }
    .mainnav-mobile .subnav, .mainnav-mobile .subsubnav {
      padding: 0;
      border-top: 1px solid #fff; }
    .mobile-nav-links {
      width: 100%;
      text-align: center;
      height: 120px;
      padding-top: 60px; }
      .mobile-nav-links a.first {
        margin-right: 15px; }
      .mobile-nav-links a img {
        margin-right: 5px;
        position: relative;
        top: 6px;
        /* main content */ }
    main .content-wrapper {
      display: block; }
      main .content-wrapper .left, main .content-wrapper .right {
        width: 100%; }
      main .content-wrapper .right {
        margin-top: 30px; }
    .teaser .content {
      -webkit-column-count: unset;
      column-count: unset; }
    .banner-wrapper.counter {
      margin-bottom: -100px; }
    .banner-2sp-wrapper .left .content img {
      display: none; }
    .banner-6-wrapper {
      display: flex; }
      .banner-6-wrapper .content-wrapper .content {
        max-width: unset !important; }
      .banner-6-wrapper .green, .banner-6-wrapper .red {
        margin-top: -5px; }
      .banner-6-wrapper .content-wrapper.left span.content, .banner-6-wrapper .content-wrapper.right span.content {
        margin: 40px 30px 40px 30px !important; }
    .banner-6-wrapper.left {
      flex-direction: column; }
    .banner-6-wrapper.right {
      flex-direction: column-reverse; }
    .banner-6-wrapper > div {
      width: 100%; }
    .info-box-wrapper .linked-buttons {
      display: block;
      text-align: center; }
      .info-box-wrapper .linked-buttons a {
        display: block;
        width: 85%;
        border: 1px solid #575756;
        height: 50px;
        margin: 0 auto 30px auto; }
      .info-box-wrapper .linked-buttons a:last-of-type {
        margin-bottom: 0;
        margin-right: auto; }
      .info-box-wrapper .linked-buttons .positioner {
        display: block !important;
        height: 50px !important;
        line-height: 50px; }
    .flex-container {
      height: auto; }
    .flex-slide {
      background-size: cover;
      overflow: hidden; }
      .flex-slide .flex-about .left span {
        text-align: center; }
    .media-bottom section.newsletter form > input {
      display: block;
      width: 80%;
      margin: 0 auto 30px auto; }
    .media-bottom section.newsletter form > input:last-of-type {
      margin-bottom: 0; }
      footer .collumns {
        display: block; }
        footer .collumns .left {
          display: block;
          width: 250px;
          margin: 0 auto; }
      footer .contact .dot, footer .collumns .right {
        display: none; }
      footer .contact a, footer .contact a span {
        display: block; }
      footer .scroll-to-top-btn {
        bottom: 90px; }
      footer .inner-wrapper {
        padding-bottom: 100px; }
    #foot-lang {
      margin-top: -80px;
      margin-bottom: 60px;
      /* room */ }
      section.overview.room .content-wrapper {
        height: auto;
        padding-bottom: 30px; }
        section.overview.room .content-wrapper .right > div > div.left, section.overview.room .content-wrapper .right > div > div.right {
          margin-left: 0;
          margin-right: 0; }
        section.overview.room .content-wrapper .right > div.bottom > div.left {
          margin-bottom: 15px; }
        section.overview.room .content-wrapper .right > div.top > div.left > span:last-of-type {
          border-bottom: 1px solid #575756; }
      section.overview.room .content-wrapper, section.overview.room .content-wrapper .right > div {
        display: block; }
      section.overview.room .content-wrapper > .left, section.overview.room .content-wrapper > .right, section.overview.room .content-wrapper .right > div > div.left, section.overview.room .content-wrapper .right > div > div.right {
        width: 100%; }
      section.overview.room .content-wrapper > .left, section.overview.room .content-wrapper .right > div > div.right, section.overview.room .content-wrapper .right > div > div.left {
        margin-bottom: 30px; }
      section.overview.room .content-wrapper > .right {
        padding-right: 30px; }
    main .content-wrapper .left, main .content-wrapper .right {
      display: block;
      width: 100%; }
    main .content-wrapper .left img {
      width: 100%;
      margin: 0 auto; }
    main .content-wrapper .right {
      margin-left: 0; }
  main.room .content-wrapper.second-line .right .positioner {
    width: 100%; }
  main.room .content-wrapper.second-line .left a {
    margin-right: 0;
    border: 1px solid rgba(87, 87, 86, 1); }
  section.room-slider .bx-wrapper .bx-controls {
    display: none; }
  section.room-info .content, main.package .content .services .content {
    -webkit-column-count: unset;
    column-count: unset; }
  .info-box-wrapper.two-tabs .buttons a {
    width: 50%; }
    .info-box-wrapper .buttons a.active {
      height: inherit;
      -webkit-animation: unset;
      animation: unset; }
    .info-box-wrapper .content {
      min-height: unset !important; }
      .info-box-wrapper .content .item.active {
        display: block; }
        .info-box-wrapper .content .item .left {
          width: 100%; }
        .info-box-wrapper .content .item .right {
          width: 100%;
          padding: 0;
          margin-right: 0;
          height: auto;
          margin-bottom: -190px; }
          .info-box-wrapper .content .item .right .red-dot {
            margin: 0 auto;
            margin-top: -25px; }
          .info-box-wrapper .content .item .right .bttn {
            width: 85%;
            margin: 0 auto; }
          .info-box-wrapper .content .item .right .bttn.only-mobile {
            display: -webkit-box;
            display: -ms-flexbox;
            display: flex;
            margin-top: 15px; }
          .info-box-wrapper .content .item .right .bttn.green {
            background-color: #005d5d; }
      .info-box-wrapper .content .left.only-mobile {
        display: inline-block; }
      .info-box-wrapper .content .left, .info-box-wrapper .content .right {
        width: 100%; }
    .info-box-wrapper .bottom .content {
      width: calc(100% - 60px);
      margin-left: 30px;
      margin-right: 30px; }
  section.pool {
    width: 100%;
    -webkit-transform: translateX(-90px);
    -ms-transform: translateX(-90px);
    transform: translateX(-90px); }
    section.pool .bx-wrapper .bx-viewport {
      overflow: visible !important; }
    section.pool .bx-wrapper .bx-controls {
      display: none; }
  .banner-5-wrapper {
    margin: 50px auto 50px auto; }
    .banner-5-wrapper .big-img {
      text-align: center; }
      .banner-5-wrapper .big-img img {
        width: 100%;
        max-width: 650px; }
    .banner-5-wrapper .small-img {
      display: none; }
    .banner-5-wrapper .inner-wrapper {
      margin-top: 30px; }
      .banner-5-wrapper .inner-wrapper .content {
        margin: 0 auto; }
  .footer-banner-wrapper a figure .footer-banner-wrapper a figure img {
    min-height: 280px; }
  .footer-banner-wrapper a figure .footer-banner-wrapper a figure figcaption .inner-wrapper {
    width: 90%; }
    .footer-banner-wrapper a figure .footer-banner-wrapper a figure figcaption .inner-wrapper .content {
      display: block; }
  .download-wrapper .content .buttons-wrapper a {
    width: 200px;
    /*#####################
     #   ONLY SAFARI             #
     ######################*/ } }
@media (max-width: 1149px) {
  @media not all and (min-resolution: 0.001dpcm) {
    body {
      margin-top: 0; } } }

/*#####################
 #	TABLET HOCH       #
 ######################*/
@media (max-width: 991px) {
  /* general */
    main, .inner {
      max-width: 720px;
      /* room */ }
    .mobile-prices {
      display: block; }
      .mobile-prices .title-line a {
        color: #005d5d; }
        .mobile-prices .price-line .option {
          display: -webkit-box;
          display: -ms-flexbox;
          display: flex;
          border-bottom: 1px solid rgba(87, 87, 86, 0.51); }
          .mobile-prices .price-line .option .price-title {
            padding-left: 15px; }
          .mobile-prices .price-line .option .price {
            text-align: center; }
        .mobile-prices .price-line .option.buttons-line {
          border-bottom: 0 !important; }
        .mobile-prices .price-line .option > div {
          width: 50%;
          display: inline-block;
          height: 40px;
          padding-top: 10px; }
        .mobile-prices .price-line .option > div > a {
          display: block;
          width: 100%;
          text-align: center; }
    .desktop-prices {
      display: none; }
    .room h2.season-title, .mobile-prices .title-line {
      text-align: center;
      margin-top: 30px;
      margin-bottom: 15px; }
    .mobile-prices > div {
      width: 100%; }
    .mobile-prices .season-line, section.package .room-title-line {
      height: 80px;
      line-height: 22px;
      background-color: #b9b9b9;
      text-align: center;
      padding-top: 15px;
      border-bottom: 1px solid rgba(87, 87, 86, 0.51); }
    .mobile-prices .season-line:first-of-type, section.package .room-title-line:first-of-type {
      border-top: 1px solid rgba(87, 87, 86, 0.51); }
    .mobile-prices .season-line .title, section.package .room-title-line .title {
      color: #005d5d;
      font-size: 1.7rem; }
    section.overview.package .package-wrapper {
      display: block;
      width: 100%; }
      section.overview.package .package-wrapper .package-info {
        padding: 30px; }
        section.overview.package .package-wrapper .package-info .title {
          margin-bottom: 30px; }
      section.overview.package .package-wrapper.right {
        margin-left: 0; }
      section.overview.package .package-wrapper.left {
        margin-right: 0; }
    main.package .content .package-teaser {
      text-align: center;
      margin-top: 60px;
      margin-bottom: 30px; }
    .animated-info-wrapper {
      padding: 5px 0 30px 0; }
      .animated-info-wrapper .room-info-wrapper {
        display: block; }
        .animated-info-wrapper .room-info-wrapper .left, .animated-info-wrapper .room-info-wrapper .right {
          width: 100%;
          display: block;
          margin-right: 0;
          margin-left: 0; }
        .animated-info-wrapper .room-info-wrapper .left {
          margin-bottom: 15px; }
    .download-wrapper {
      background-color: #fff;
      padding-top: 30px;
      margin-top: 0 !important;
      margin-bottom: 60px !important; }
      .download-wrapper .content {
        padding: 15px 30px 30px 30px;
        height: auto;
        min-height: unset; }
        .download-wrapper .content .positioner {
          display: block;
          margin-top: 30px;
          height: auto; }
        .download-wrapper .content .buttons-wrapper {
          justify-content: center; }
        .download-wrapper .content .headline {
          text-align: center; }
      .download-wrapper figure {
        margin: 0 auto;
        width: 40vW;
        height: auto;
        position: relative; }
        .download-wrapper figure img {
          object-fit: cover;
          -o-object-fit: cover; }
    section.downloads {
      padding: 60px 0 0 0; }
    .info-box-wrapper .content .item .padding {
      display: block; }
    section.treatment-overview .treatment-line > .title {
      width: 30%; }
    section.treatment-overview .treatment-line > .prices {
      width: 45%; }
    div.pool-group {
      display: none; }
    .footer-banner-wrapper {
      display: none; } }

/*#####################
 #	HANDY             #
 ######################*/
@media (max-width: 769px) {
  .mobile-placeholder::-webkit-input-placeholder {
    /* Chrome/Opera/Safari */
    opacity: 1; }
  .mobile-placeholder::-moz-placeholder {
    /* Firefox 19+ */
    opacity: 1; }
  .mobile-placeholder:-ms-input-placeholder {
    /* IE 10+ */
    opacity: 1; }
  .mobile-placeholder:-moz-placeholder {
    /* Firefox 18- */
    opacity: 1;
    /* cookie-hint */ }
  html.touchevents #cookie-hint > div {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column; }
  html.touchevents #cookie-hint > div > span {
    margin-bottom: 5px;
    /* general */ }
  main, .inner {
    max-width: 90%; }
  .top-line {
    padding: 0 30px; }
    .top-line .right {
      padding-top: 5px; }
  .top-line, #spacer-white {
    height: 35px; }
  .header-logo {
    width: 210px;
    margin-top: 100px; }
  header div.animation {
    width: 100%;
    margin-left: 0;
    margin-right: 0;
    top: 53vH; }
    header div.animation .first-animated-line {
      font-size: 42px;
      line-height: 96px; }
    header div.animation .second-animated-line {
      font-size: 10px;
      line-height: 20px;
      margin-top: -30px; }
  .nav-icon, .menu-item img {
    display: block;
    margin: 12px auto 5px auto; }
  .nav-icon {
    margin-top: 9px;
    margin-bottom: 8px; }
  .menu-item span {
    display: block;
    margin: 0 auto;
    line-height: 16px;
    font-size: 10px;
    font-weight: normal; }
  main .content-wrapper {
    margin-top: 30px;
    margin-bottom: 30px; }
    main .content-wrapper .right {
      margin-top: 20px; }
  h1, .big-banner-wrapper .content .left .headline, .flex-about .left .headline, .media-bottom section.newsletter .headline, section.overview.room .content-wrapper > .left .headline {
    font-size: 36px;
    line-height: 42px;
    margin-bottom: 10px; }
  h2, .teaser .headline, .big-banner-wrapper .content .left .subheadline, .tabs3-wrapper .headline, .flex-about .left .times, .overview-headline, section.overview.room .content-wrapper > .left .subheadline, .editor-headline-sans, section.room-info .inner .headline, section.pool figure figcaption .headline, section.overview.package .package-wrapper .package-info .title, main.package .headline .time, main.package .content .package-teaser, .download-wrapper .content .headline {
    font-size: 21px;
    line-height: 26px; }
  section.pool figure figcaption .content {
    font-size: 1.5rem;
    line-height: 20px; }
  .teaser {
    padding: 30px 0; }
  .teaser .design-element, .tabs3-wrapper .design-element, .media-bottom section.newsletter .design-element, .overview-healdine-design-element, section.room-info .inner .design-element, main.package .content .services .inner .design-element {
    padding: 25px 0; }
  .separator.px-100 {
    height: 50px !Important; }
  .separator.px-60 {
    height: 30px !Important; }
  .separator.px-30 {
    height: 15px !Important; }
  .nav-logo img {
    width: 180px; }
  .banner-2sp-wrapper, .banner-2sp-wrapper .left, .banner-2sp-wrapper .right {
    display: block; }
    .banner-2sp-wrapper .left {
      width: 100%;
      margin-right: 0;
      padding-top: 60px;
      padding-bottom: 60px;
      margin-bottom: 15px; }
      .banner-2sp-wrapper .left .content {
        font-size: 22px;
        line-height: 28px; }
    .banner-2sp-wrapper .right {
      width: 100%;
      margin-left: 0; }
  .banner-wrapper.counter .content {
    font-size: 1.7rem;
    line-height: 24px; }
  .banner-wrapper.counter .headline {
    font-size: 1.7rem;
    line-height: 22px; }
  .banner-wrapper.counter .design-element {
    height: 46px; }
  .info-box-wrapper {
    padding: 40px 0 40px 0; }
    .info-box-wrapper .buttons a {
      font-size: 22px;
      line-height: 26px; }
    .info-box-wrapper .linked-buttons a {
      width: 100%; }
    .info-box-wrapper .link a .content {
      height: auto;
      min-height: 40px; }
    .info-box-wrapper .content .item .left {
      padding-right: 0; }
  .big-banner-wrapper .content .right .price .line-1, section.overview.room .content-wrapper .right > div.top > div.right > a > span.price, section.overview.package .package-wrapper .package-info span.price {
    font-size: 32px;
    line-height: 36px; }
    .big-banner-wrapper .content {
      top: -40px;
      margin-bottom: 0;
      min-height: 263px; }
      .big-banner-wrapper .content .right .price {
        margin-top: -10px;
        margin-bottom: 40px; }
      .big-banner-wrapper .content .right .bttn {
        width: 90%;
        margin: 0 auto; }
      .big-banner-wrapper .content .right .red-dot {
        -webkit-transform: scale(0.6);
        -ms-transform: scale(0.6);
        transform: scale(0.6);
        margin-top: 35px; }
      .big-banner-wrapper .content .left {
        padding: 0 30px 30px 30px;
        margin-top: -30px; }
    .big-banner-wrapper .bottom {
      padding-bottom: 0; }
  .banner-wrapper.counter {
    margin-bottom: -60px; }
  .tabs3-wrapper {
    margin: 40px 0; }
  .flex-about {
    top: 80vW; }
    .flex-about .right {
      width: 300px;
      margin: 30px auto 0 auto; }
      .flex-about .right .bttn {
        width: 190px;
        margin: 0 auto; }
      .flex-about .right .prices {
        font-size: 19px;
        line-height: 24px; }
    .flex-about .left {
      width: 100%;
      padding: 0 30px; }
  .media-bottom section.newsletter {
    padding-top: 30px;
    padding-bottom: 30px; }
    .media-bottom section.newsletter form > button {
      font-size: 1.5rem;
      line-height: 23px;
      width: 80%;
      margin-top: 30px;
      padding: 9px 0; }
  .banner-wrapper figure figcaption .headline, .banner-wrapper figure figcaption .content {
    font-size: 1.7rem;
    line-height: 24px; }
  #foot-lang {
    display: none !important; }
    footer .inner-wrapper {
      padding-bottom: 150px;
      padding-top: 40px; }
    footer .scroll-to-top-btn {
      display: block;
      position: relative;
      height: 70px;
      bottom: -688px;
      margin-bottom: -70px;
      width: 100%;
      padding-top: 15px;
      background-color: #b9b9b9;
      opacity: 0.8; }
      footer .scroll-to-top-btn span {
        font-size: 12px;
        margin-top: -15px; }
  section.overview.room {
    padding: 30px 0; }
    section.overview.room .room {
      margin-bottom: 30px; }
    section.overview.room .room:last-of-type {
      margin-bottom: 0; }
    section.overview.room .content-wrapper {
      padding-top: 30px;
      top: -40px; }
      section.overview.room .content-wrapper .right > div.bottom > div.right {
        margin-bottom: 0; }
  main.room .content-wrapper.second-line {
    margin-bottom: 40px; }
  section.room-info {
    margin-top: 30px;
    margin-bottom: 30px; }
  .main.textblock {
    margin-bottom: 50px; }
  section.link-back {
    margin-top: 50px;
    margin-bottom: 50px; }
  section.pool {
    width: 140%; }
    section.pool .bx-wrapper .bx-viewport {
      overflow: hidden !important; }
  #bx-gallery-pager {
    display: none; }
  .banner-5-wrapper {
    margin: 30px auto 30px auto; }
  section.pool .bx-wrapper .bx-viewport ul li, section.pool .bx-wrapper .bx-viewport ul li img {
    max-width: 250px; }
    section.pool.treatment .bx-wrapper {
      max-height: 275px; }
    section.pool.treatment figure figcaption .content > span.right {
      margin-bottom: -15px; }
    section.pool.treatment figure figcaption .content {
      font-size: 14px;
      line-height: 18px;
      height: 53px;
      bottom: -50px; }
  section.overview.package.bg {
    margin-top: 30px;
    padding-bottom: 50px; }
  main.package {
    padding-top: 30px; }
    main.package .impressions {
      margin-top: 25px;
      margin-bottom: 30px; }
  .routeplanner {
    padding-bottom: 50px; }
  section.downloads {
    margin-bottom: 30px;
    padding: 30px 0 0 0; }
  .download-wrapper {
    margin-bottom: 30px !important;
    margin-top: 0 !important; }
    .download-wrapper figure {
      width: 55vW; }
    .download-wrapper .content .buttons-wrapper a {
      margin-bottom: 15px; }
  .search > .inner > .articles {
    display: block; }
  .search > .inner > .articles > article {
    width: 100%; }
  .flex-slide {
    min-height: 400px; }
    .flex-slide .flex-about {
      top: 0; }
  .Sitemap {
    margin-top: 30px; }
  .Videogalerie {
    margin-top: 30px; } }

@media (max-width: 1023px) and (min-width: 768px) and (max-height: 450px) {
  .header-logo {
    width: 220px;
    margin-top: 60px; } }

@media (max-width: 700px) {
  section.treatment-overview .treatment-line .treatment-line-button > span {
    display: none; }
  section.treatment-overview .treatment-line > .treatment-line-button {
    width: 5%; }
  section.treatment-overview .treatment-line > .prices {
    width: 52%; }
  section.treatment-overview .treatment-line > .title {
    width: 41%; } }

@media (max-width: 568px) {
  .flex-about {
    top: 110vW; }
  .big-banner-wrapper .content {
    top: -30px; }
    .big-banner-wrapper .content .right .red-dot {
      -webkit-transform: scale(0.38);
      -ms-transform: scale(0.38);
      transform: scale(0.38);
      margin-top: 65px; }
    .big-banner-wrapper .content .left {
      margin-top: -70px; }
  .info-box-wrapper.two-tabs .buttons a {
    font-size: 20px; }
  .info-box-wrapper .content .item .padding {
    padding: 30px 15px; }
    .flex-about .left .headline {
      font-size: 26px;
      line-height: 32px; }
    .flex-about .left .times, .flex-about .right .prices {
      font-size: 1.5rem;
      line-height: 22px; }
  header .bubble {
    top: calc((100vH / 2)); }
  .big-banner-wrapper .content .right > div {
    position: relative;
    top: -50px; }
    .banner-5-wrapper .inner-wrapper .content {
      display: block;
      width: 100%;
      max-width: unset;
      padding: 0 30px; }
  section.treatment-overview .treatment-line.first-line .prices {
    display: none; }
  section.treatment-overview .treatment-line > .title, section.treatment-overview .treatment-line > .prices {
    display: block;
    line-height: 30px;
    width: 100%; }
  section.treatment-overview .treatment-line > .treatment-line-button {
    position: absolute;
    margin-top: -60px;
    right: 30px; }
  section.treatment-overview .treatment-line > .prices {
    text-align: left; }
    section.treatment-overview .treatment-line .treatment-animated-info .treatment-content {
      margin-bottom: 15px; }
    section.treatment-overview .treatment-line .treatment-animated-info .positioner, section.treatment-overview .treatment-line .treatment-animated-info figure, section.treatment-overview .treatment-line .treatment-animated-info .treatment-content {
      display: block;
      width: 100%; }
  .table-manual-on-mobile td {
    width: 0; }
  .table-manual-on-mobile td:first-of-type {
    width: 40%; }
  .table-manual-on-mobile td:last-of-type {
    width: 60%;
    text-align: right !important; } }

@media (max-width: 489px) {
  .mobile-prices .price-line .option > div.placeholder {
    width: 0%;
    padding-left: 0; }
  .mobile-prices .price-line .option > div.buttons {
    width: 100%; }
  .download-wrapper figure {
    width: 70vW; }
    .download-wrapper .content .buttons-wrapper {
      display: block; }
      .download-wrapper .content .buttons-wrapper a {
        margin: 0 auto 15px auto !important; }
  .videos-overview-wrapper .video-item {
    min-width: 330px;
    min-height: 150px; }
    .banner-wrapper figure figcaption .content {
      display: none; }
    .banner-wrapper figure figcaption .headline {
      margin-bottom: 0; }
  .banner-2sp-wrapper .left {
    padding-top: 20px;
    padding-bottom: 20px; } }

@media (max-width: 448px) {
  .flex-about {
    top: 135vW; }
  .mainnav-mobile li.last {
    display: block;
    margin: 40px auto 60px auto; }
  #mainnav-mobile li.last a {
    width: 210px;
    text-align: center;
    margin: 0; }
  header .bubble {
    top: calc((100vH / 2.3)); }
  section.review > div {
    min-width: 320px !important;
    width: 85% !important; } }

@media (max-width: 410px) {
  .table-manual-on-mobile tr:last-of-type {
    display: block;
    width: 140%; }
    .table-manual-on-mobile tr:last-of-type td {
      display: none; }
    .table-manual-on-mobile tr:last-of-type td:first-of-type {
      display: block;
      width: 140%; }
    .table-manual-on-mobile tr:last-of-type td:last-of-type {
      display: block;
      width: 140%;
      text-align: left !important; }
  .table-manual-on-mobile .small-unhide {
    display: inline-block;
    margin-left: -3px; } }
