/*#####################
 #	Imports           #
 ######################*/
/*#####################
 #	SASS VARIABLES    #
 ######################*/
/*  colors  */
/*  fonts  */
/*  OTHERS  */
/*#####################
 #	SASS MIXINS    #
 ######################*/
/*#####################
 #	VERY BIG       #
 ######################*/
@media (min-width: 2300px) {
  .icon {
    width: 30px;
    height: 30px; }
  nav {
    height: 130px; }
    nav span.title, nav span.subtitle {
      line-height: 23px; }
    nav .right-links {
      width: 60px;
      height: 60px; }
      nav .right-links a {
        width: 60px;
        height: 60px;
        margin-bottom: 5px;
        line-height: 60px; }
  nav > ul {
    line-height: 130px;
    width: calc(100% - 430px); }
  nav > ul > li > ul {
    top: 100px; }
  .mainnav > li > a {
    margin-top: 20px; }
  .mainnav > li.active {
    background-image: url('/frontend/img/uploaded/icons/3Punkte.svg');
    background-size: 26px;
    background-repeat: no-repeat;
    background-position: 50% 18%; }
  .menu-item {
    height: 60px !important;
    line-height: 60px !important;
    letter-spacing: 3px !important;
    font-size: 20px !important; }
  .menu-logo {
    width: 210px;
    height: 100px;
    margin-left: 100px; }
  .design-line {
    height: 45px;
    bottom: -45px; }
  #recent-packages {
    height: 172px;
    margin: -172px auto; }
    #recent-packages .bxslide, #recent-packages .menu-package-overview-img, #recent-packages .menu-package-overview-txt, #recent-packages .menu-package-overview-txt .wrapper {
      max-height: 110px !important;
      height: 110px; }
      #recent-packages .menu-package-overview-txt .headline {
        font-size: 20px;
        line-height: 23px; }
      #recent-packages .menu-package-overview-txt .content {
        font-size: 1.5rem; }
    #recent-packages .bx-controls {
      margin-top: -10px;
      padding-top: 10px; }
      #recent-packages .bx-controls .bx-controls-direction {
        background-size: 75%; }
  header.images {
    height: calc(100vh - 60px); }
  .nav-list-icon {
    width: 10px; }
  .banner-5-wrapper {
    max-width: 1150px !important; }
  .banner-wrapper {
    max-width: unset; }
  .banner-wrapper.counter {
    padding: 70px 0; }
    .banner-wrapper.counter .content {
      font-size: 50px;
      line-height: 60px;
      margin-bottom: 7.5px; }
    .banner-wrapper.counter .headline {
      font-size: 30px;
      line-height: 36px;
      margin-top: 7.5px; }
    .banner-wrapper.counter .design-element {
      height: 180px;
      margin-top: -35px; }
  .info-box-wrapper .buttons a {
    height: 90px;
    font-size: 30px;
    line-height: 36px;
    -webkit-animation: shrinkEffectBig 1;
    animation: shrinkEffectBig 1;
    -webkit-transition: background 2.5s;
    -o-transition: background 2.5s;
    transition: background 2.5s; }
    .info-box-wrapper .buttons a .positioner {
      height: 90px; }
    .info-box-wrapper .buttons a .content {
      height: 50px; }
    .info-box-wrapper .buttons a .design-element {
      top: 15px; }
  .info-box-wrapper .buttons a.active {
    border-bottom: 0;
    height: 120px;
    background-color: #fff;
    -webkit-animation: growEffectBig 1s;
    animation: growEffectBig 1s; }
  .info-box-wrapper .buttons a:last-of-type {
    margin-right: -1px; }
  .big-banner-wrapper .content {
    top: -100px; }
    .big-banner-wrapper .content .right .bttn {
      height: 60px; }
    .big-banner-wrapper .content .right .red-dot {
      margin-top: 0; }
    .big-banner-wrapper .content .right .price {
      margin-top: 60px;
      margin-bottom: 90px; }
    .big-banner-wrapper .content .left {
      padding: 110px 45px 60px 60px; }
  .tabs3-wrapper .tabs-wrapper {
    width: 100%; }
    .tabs3-wrapper .link a .content {
      height: 50px; }
    .tabs3-wrapper .link a .design-element {
      width: 100%; }
  .flex-slide {
    min-width: 442px;
    min-height: 780px; }
  .flex-about .right .bttn {
    height: 40px;
    font-size: 20px;
    line-height: 23px; }
    .media-bottom section.newsletter form > input {
      height: 50px; }
    .media-bottom section.newsletter form > button {
      height: 50px;
      padding: 14px 45px 14px 45px; }
  footer {
    margin-bottom: 60px; }
    footer .scroll-to-top-btn {
      width: 60px;
      height: 60px;
      line-height: 60px; }
      footer .scroll-to-top-btn img {
        width: 25px;
        height: 25px; }
      footer .scroll-to-top-btn span {
        font-size: 12px;
        line-height: 20px;
        display: block;
        margin-top: -25px; }
  section.captcha button {
    height: 60px; }
  section.overview.room .content-wrapper .right > div.bottom > div {
    height: 50px; }
  section.overview.package .package-wrapper .package-info .bttn {
    height: 50px; }
  #bx-gallery-pager {
    height: 50px; }
    #bx-gallery-pager a {
      height: 50px; }
  .download-wrapper .content .buttons-wrapper a {
    height: 50px;
    /*#####################
     #   ONLY SAFARI             #
     ######################*/ } }
@media (min-width: 2300px) {
  @media not all and (min-resolution: 0.001dpcm) {
    body {
      margin-top: 120px; } } }
