/*#####################
#	Imports           #
######################*/
@import "vars";
@import "mixins";

/*#####################
#	VERY BIG       #
 ######################*/
@media (min-width: 2300px) {
    .icon {
        width: 30px;
        height: 30px;
    }

    nav {
        height: 130px;

        span.title,
        span.subtitle {
            line-height: 23px;
        }

        .right-links {
            width: 60px;
            height: 60px;

            a {
                width: 60px;
                height: 60px;
                margin-bottom: 5px;
                line-height: 60px;
            }
        }
    }

    nav>ul {
        line-height: 130px;
        width: calc(100% - 430px);
    }

    nav>ul>li>ul {
        top: 100px;
    }

    .mainnav>li>a {
        margin-top: 20px;
    }

    .mainnav>li.active {
        background-image: url('/frontend/img/uploaded/icons/3Punkte.svg');
        background-size: 26px;
        background-repeat: no-repeat;
        background-position: 50% 18%;
    }

    .menu-item {
        height: 60px !important;
        line-height: 60px !important;
        letter-spacing: 3px !important;
        font-size: 20px !important;
    }

    .menu-logo {
        width: 210px;
        height: 100px;
        margin-left: 100px;
    }

    .design-line {
        height: 20px;
        bottom: -19px;
    }

    #recent-packages {
        height: 172px !important;
        margin: -172px auto;

        .bxslide,
        .menu-package-overview-img,
        .menu-package-overview-txt,
        .menu-package-overview-txt .wrapper {
            max-height: 110px !important;
            height: 110px;
        }

        .menu-package-overview-txt {
            .headline {
                font-size: 20px;
                line-height: 23px;
            }

            .content {
                font-size: $smaller_fs;
            }
        }

        .bx-controls {
            margin-top: -10px;
            padding-top: 10px;

            .bx-controls-direction {
                background-size: 75%;
            }
        }
    }

    header.images {
        height: calc(100vh - 60px);
    }

    .nav-list-icon {
        width: 10px;
    }

    .banner-5-wrapper {
        max-width: 1150px !important;
    }

    .banner-wrapper {
        max-width: unset;
    }

    .banner-wrapper.counter {
        padding: 70px 0;

        .content {
            font-size: $h1_fs;
            line-height: $h1_lh;
            margin-bottom: 7.5px;
        }

        .headline {
            font-size: $h2_fs;
            line-height: $h2_lh;
            margin-top: 7.5px;
        }

        .design-element {
            height: 180px;
            margin-top: -35px;
        }
    }

    .info-box-wrapper .buttons {
        a {
            height: 90px;
            font-size: $h2_fs;
            line-height: $h2_lh;
            -webkit-animation: shrinkEffectBig 1;
            animation: shrinkEffectBig 1;
            @include transition(background 2.5s);

            .positioner {
                height: 90px;
            }

            .content {
                height: 50px;
            }

            .design-element {
                top: 15px;
            }
        }

        a.active {
            border-bottom: 0;
            height: 120px;
            background-color: $white;
            -webkit-animation: growEffectBig 1s;
            animation: growEffectBig 1s;
        }

        a:last-of-type {
            margin-right: -1px;
        }
    }

    .big-banner-wrapper .content {
        top: -100px;

        .right {
            .bttn {
                height: 60px;
            }

            .red-dot {
                margin-top: 0;
            }

            .price {
                margin-top: $half_margin;
                margin-bottom: 90px;
            }
        }

        .left {
            padding: 110px 45px $half_margin 60px;
        }
    }

    .tabs3-wrapper {
        .tabs-wrapper {
            width: 100%;
        }

        .link a {
            .content {
                height: 50px;
            }

            .design-element {
                width: 100%;
            }
        }
    }

    .flex-slide {
        min-width: 442px;
        min-height: 780px;
    }

    .flex-about .right .bttn {
        height: 40px;
        font-size: 20px;
        line-height: 23px;
    }

    .media-bottom section.newsletter {
        form>input {
            height: 50px;
        }

        form>button {
            height: 50px;
            padding: 14px 45px 14px 45px;
        }
    }

    footer {
        margin-bottom: $half_margin;

        .scroll-to-top-btn {
            width: 60px;
            height: 60px;
            line-height: 60px;

            img {
                width: 25px;
                height: 25px;
            }

            span {
                font-size: 12px;
                line-height: 20px;
                display: block;
                margin-top: -25px;
            }
        }
    }

    section.captcha button {
        height: 60px;
    }

    section.overview.room .content-wrapper .right>div.bottom>div {
        height: 50px;
    }

    section.overview.package .package-wrapper .package-info .bttn {
        height: 50px;
    }

    #bx-gallery-pager {
        height: 50px;

        a {
            height: 50px;
        }
    }

    .download-wrapper .content .buttons-wrapper a {
        height: 50px;
    }

    /*#####################
    #   ONLY SAFARI             #
    ######################*/
    @media not all and (min-resolution:.001dpcm) {
        @media {
            body {
                margin-top: 120px;
            }
        }
    }
}