/*#####################
#	Imports           #
######################*/
@import "vars";
@import "mixins";
@import "init";

/*#####################
#	General           #
######################*/
.inner {
  max-width: 1300px;
  margin: $center_m;
}

.bx-viewport {
  height: auto !important;
}

/*#####################
#	Buttons           #
######################*/
.button,
input[type="submit"] {
  width: 100%;
  text-align: center;
  line-height: 40px;
  vertical-align: middle;
  background: rgba(0, 0, 0, 0.5);
  text-decoration: none;
  color: $white;
  border: none;
  cursor: pointer;
  @include transition(background 0.1s ease-in-out,
    -webkit-box-shadow 0.1s ease-in-out);
}

/*#####################
#	Cookie-hint       #
######################*/
/* cookie-hint */
body.cookie-hint {
  padding-bottom: 1rem;
}

#cookie-hint {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  z-index: 999999;
  background: $dark_green;
  padding: 1rem 2rem;
}

#cookie-hint>div {
  color: $white;
  border-radius: 5px;
  max-width: 95vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;

  a {
    color: $white;
  }

  a.cookie-hint-button {
    position: relative;
    background: $dark_green;
    padding: 0 1rem;
    -webkit-box-flex: 0;
    -ms-flex: 0 1 auto;
    flex: 0 1 auto;
    width: auto;
  }

  div a.cookie-hint-button>i {
    display: none;
  }
}

html.touchevents #cookie-hint>div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;

  span {
    -webkit-box-flex: 1;
    -ms-flex: 1 1 auto;
    flex: 1 1 auto;
  }

  a.cookie-hint-button {
    position: relative;
    top: auto;
    right: auto;
    text-shadow: none;
    width: auto;
    background: none;
    border: 1px solid $white;
    border-radius: 5px;
    padding: 0 20px;
  }

  a.cookie-hint-button>span {
    display: inline-block;
  }

  a.cookie-hint-button>i {
    display: none;
  }
}

/*#####################
#	Navigation        #
######################*/
nav {
  position: -webkit-sticky;
  /* Safari */
  position: sticky;
  top: 0;
  width: 100%;
  z-index: 999;
  height: 80px;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  background-color: #f0f0f0;
  margin-bottom: 30px;

  .m {
    display: none;
  }

  a {
    text-decoration: none !important;
    color: $dark_grey;
  }

  li {
    margin-bottom: 0;
  }

  .right-links {
    width: 40px;
    margin-left: 30px;

    a {
      span {
        height: auto;
        line-height: 20px;
        padding: 7px;
        margin-left: -64px;
        font-size: 13px;
        text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.1);
        text-align: center;
        background: rgba(87, 87, 86, 0.85);
        text-indent: 0px;
        border-radius: 5px;
        position: absolute;
        pointer-events: none;
        top: 20px;
        right: 0;
        opacity: 0;
        -webkit-box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.1);
        box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.1);
        -webkit-transition: all 0.3s ease-in-out;
        -o-transition: all 0.3s ease-in-out;
        transition: all 0.3s ease-in-out;
        color: $white;
      }
    }

    a:hover {
      span {
        opacity: 1;
        right: 50px;
        z-index: 99;
      }
    }
  }

  .right-links>a {
    width: 40px;
    height: 36px;
    background-color: $light_grey;
    display: inline-block;
    margin-bottom: 6px;
    line-height: 32px;
    text-align: center;
  }

  .right-links>a>img {
    vertical-align: middle;
  }
}

@media not all and (min-resolution: 0.001dpcm) {
  @supports (-webkit-appearance: none) {
    nav {
      position: fixed;
    }
  }
}

nav.fixed {
  position: fixed;
  top: 0;
  left: 0;
}

nav>a {
  margin: auto 0;
}

nav>ul>li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.menu-logo {
  width: 130px;
  height: 80px;
  margin-left: 80px;
  margin-right: 30px;
}

nav>ul {
  width: calc(100% - 310px);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
  justify-content: space-around;
  line-height: 80px;
  font-size: 20px;
}

.design-line {
  width: 100%;
  height: 21px;
  position: absolute;
  bottom: -21px;
}

nav span.title,
nav span.subtitle {
  display: block;
  line-height: 20px;
}

nav span.subtitle {
  font-size: $smaller_fs;
}

.mainnav>li {
  z-index: 99;
}

.mainnav>li>a {
  margin-top: 5px;
}

.mainnav li.active {
  color: $light_green;
}

.mainnav li.active>a {
  color: $light_green !important;
}

.subnav li.active a img,
.subsubnav li.active a img {
  -webkit-filter: grayscale(0);
  filter: grayscale(0);
}

nav>ul>li>ul {
  display: block !important;
  position: absolute;
  background: rgba(240, 240, 240, 1);
  top: 81px;
  height: 0px !important;
  overflow: hidden;
}

.subnav,
.subsubnav {
  line-height: 32px;
  font-size: $smaller_fs;
  color: $dark_grey;
  padding: 0 30px 15px 30px;
  min-width: 200px;
}

.subnav li,
.subsubnav li {
  -webkit-box-pack: left;
  -ms-flex-pack: left;
  justify-content: left;
}

.nav-list-icon {
  width: 10px;
  -webkit-filter: grayscale(1);
  filter: grayscale(1);
  vertical-align: middle;
  margin-bottom: 5px;
}

/*#####################
#	Menu              #
######################*/
.menu {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100vw;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  z-index: 9999;

  .menu-item {
    width: 20%;
    text-align: center;
    background-color: $dark_green;
    color: $white;
    height: 40px;
    line-height: 45px;
    letter-spacing: 2px;
    font-size: $smaller_fs;
    border-top: 2px solid $white;
    border-right: 1px solid $white;
    border-left: 1px solid $white;
    z-index: 99;
    text-decoration: none !important;

    img {
      vertical-align: sub;
    }

    img.animated {
      -webkit-animation-duration: 4s;
      animation-duration: 4s;
      -webkit-animation-delay: 0s;
      animation-delay: 0s;
      -webkit-animation-iteration-count: infinite;
      animation-iteration-count: infinite;
    }
  }

  .menu-item.first {
    border-left: 0px;
  }

  .menu-item.last {
    border-right: 0px;
  }

  .menu-item.col-light {
    background-color: $light_green;
  }

  .menu-item.red {
    background-color: $red;
  }
}

#recent-packages-toggle {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  margin: $center_m;
  z-index: 999;

  img {
    position: absolute;
    top: 7px;
  }

  span {
    margin-left: 30px;
  }
}

#recent-packages {
  height: 142px;
  background-color: $dark_green;
  padding: 10px;
  border: 0;
  position: absolute;
  z-index: 99;
  left: 0;
  right: 0;
  margin: -142px auto;
  visibility: visible;
  opacity: 1;
  @include transition(all 1s ease);

  a {
    text-decoration: none !important;
    color: $white;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    height: 100%;
  }

  .bxslide,
  .menu-package-overview-txt {
    max-height: 90px !important;
    height: 90px;
    vertical-align: top;
    overflow: hidden;
  }

  figure {
    display: inline-block;
    width: calc(45% - 6px);
    overflow: hidden;
    margin-right: 5px;
    margin-left: 1px;
    height: 100%;
  }

  figure img {
    max-width: 170px;
    -o-object-fit: cover;
    object-fit: cover;
    width: 100%;
    height: 100%;
    margin-bottom: -6px;
  }

  .menu-package-overview-txt {
    width: calc(55% - 5px);
    margin-left: 5px;
    line-height: normal;
    vertical-align: middle;
    text-align: end;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;

    .wrapper {
      display: table;
    }

    .headline {
      display: block;
      font-size: $smaller_fs;
      line-height: 20px;
      margin-bottom: 10px;
    }

    .content {
      display: block;
      font-size: 14px;
      line-height: 20px;
    }
  }

  .bx-controls {
    z-index: 99;
    margin-top: -7px;
    padding-top: 12px;

    .bx-controls-direction {
      background-image: url("/frontend/img/uploaded/Pauschale.svg");
      background-repeat: no-repeat;
      background-position: 50% 0.1vw;
      background-size: 70%;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-pack: justify;
      -ms-flex-pack: justify;
      justify-content: space-between;
      width: 100%;
      height: 31px;

      img {
        vertical-align: top;
        margin-top: 5px;
      }
    }
  }

  .bx-viewport {
    z-index: 98;
    height: 90px !important;
  }
}

/*#####################
#	Top Line         #
######################*/
.header-logo {
  position: absolute;
  z-index: 99;
  left: 0;
  right: 0;
  margin: auto;
  width: 230px;
  height: 110px;
  margin-top: 40px;
  top: 0;
}

.top-line {
  position: absolute;
  z-index: 99;
  width: 100%;
  padding: 0 $full_margin;
  height: 65px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  top: 0;

  a {
    text-decoration: none !important;
    color: $white;
  }

  span {
    &.active {
      color: $light_grey !important;
    }
  }

  .left,
  .right {
    width: 50%;
    color: $white;
  }

  .left {
    text-align: left;
  }

  .right {
    text-align: right;
    padding-top: 40px;

    img {
      margin-bottom: -5px;
      margin-left: 15px;
      margin-top: 5px;
      width: 24px;
      height: 24px;
    }

    .language .active {
      font-weight: 600;
    }

    a {
      span {
        height: auto;
        line-height: 20px;
        padding: 7px;
        margin-left: -64px;
        font-size: 13px;
        text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.1);
        text-align: center;
        background: rgba(255, 255, 255, 0.3);
        text-indent: 0px;
        border-radius: 5px;
        position: absolute;
        pointer-events: none;
        top: 50px;
        opacity: 0;
        -webkit-box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.1);
        box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.1);
        @include transition(all 0.3s ease-in-out);
        color: $white;
      }
    }

    a:hover {
      span {
        opacity: 0.9;
        top: 80px;
      }
    }
  }
}

#spacer-white {
  display: inline-block;
  background-color: $white;
  width: 1px;
  height: 65px;
}

/*#####################
#	Header            #
######################*/
header {
  z-index: 0;
}

header.images {
  display: block;
  width: 100%;
  height: calc(100vh - 40px);
  padding: 0;
  position: relative;

  .bx-wrapper {
    position: fixed;
    z-index: 0;
    margin: 0;
    padding: 0;
    zoom: 1;
    height: calc(100% - 40px) !important;
    max-width: 100vw !important;
    overflow: hidden;

    .bx-viewport {
      width: 100%;
      height: 100% !important;
      overflow: hidden;

      .viewport.bxslider {
        width: 100%;
        height: 100%;
        overflow: hidden;
      }

      .viewport.bxslider>li {
        height: 100%;

        .bxslide {
          width: 100%;
          height: 100% !important;
          background-size: cover;
          background-repeat: no-repeat;

          figcaption {
            position: absolute;
            top: 50%;
            left: 50%;
            @include transform(translate(-50%, -50%));
            width: 100%;
            height: 100%;
            background-color: rgba(0, 0, 0, 0.25);
            opacity: 0;
            @include transition(all opacity 3s ease);

            -webkit-transition: opacity 2s ease;
            -o-transition: opacity 2s ease;
            transition: opacity 2s ease;

            &.fully-loaded {
              opacity: 1;
              @include transition(all opacity 3s ease);
            }
          }
        }
      }
    }

    .bx-controls {
      // display:none;

      .bx-controls-direction {
        position: absolute;
        z-index: 29;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
      }

      a {
        position: absolute;
        z-index: 29;
        top: 0;
        height: 100%;
        width: 33%;
        vertical-align: middle;
        opacity: 1;
        @include transition(opacity 0.3s ease-in-out);

        img {
          font-size: 4rem;
          color: $white;
          text-shadow: 1px 1px 4px rgba(0, 0, 0, 0.7);
          position: relative;
          top: 50%;
          @include transform(translateY(-50%));
          width: 60px;
        }
      }

      a.bx-prev {
        left: 0;
        text-align: left;
        padding-left: 20px;
      }

      a.bx-next {
        right: 0;
        text-align: right;
        padding-right: 20px;
      }

      .bx-pager {
        text-align: center;
        position: absolute;
        z-index: 30;
        width: 100%;
        left: 0;
        bottom: 30px;

        .bx-pager-item {
          display: inline-block;
          padding: 0 5px;

          a {
            text-indent: -9999;
            font-size: 0;
            line-height: 0;
            background: #444;
            display: inline-block;
            height: 15px;
            width: 15px;
            -webkit-box-shadow: 1px 1px 2px 0px rgba(0, 0, 0, 0.5);
            box-shadow: 1px 1px 2px 0px rgba(0, 0, 0, 0.5);
            border-radius: 90px;
            @include transition(background 0.3s ease-in-out);
          }

          a.active {
            background: $white;
          }
        }
      }
    }
  }
}

#header-mobile.images.only-mobile {
  display: none;
}

body.ontop .j2c {
  opacity: 1;
  bottom: 0;
}

.header.j2c {
  text-decoration: none !important;
  position: absolute;
  z-index: 99999;
  top: calc(100vh - 150px);
  @include transform(translateX(-50%));
  color: $white;
  @include transition(opacity 0.3s linear, bottom 0.3s linear);
  left: 50%;
  margin-left: -26px;
  text-align: center;
  letter-spacing: 0;
}

header .bubble {
  display: inline-block;
  height: 0;
  width: 300px;
  margin-right: 150px;
  position: absolute;
  top: calc(150% - 80vh);
  left: 75%;
  z-index: 99;
  @include transform(scale(0.76));
  opacity: 0;
  @include transition(all opacity 3s ease);

  &.fully-loaded {
    opacity: 1;
    @include transition(all opacity 3s ease);
  }

  a {
    text-decoration: none !important;
  }

  figure.red-dot-frame {
    width: 300px;
    height: 300px;

    figure {
      width: 300px;
      height: 300px;
      position: relative;

      figcaption {
        position: relative;
        left: 50%;
        @include transform(translate(-50%, -85%));
        width: 100%;
        height: 100%;

        span {
          color: $white;
        }
      }
    }

    .header-bubble {
      position: relative;
      perspective: 450px;
      transform-style: preserve-3d;

      &-side {
        position: absolute;
        transition: all 0.5s ease;
        top: -303px;
        transform-style: preserve-3d;
        @include transition(all 0.5s ease-in-out);

        &-front {
          @include transform(rotateY(0deg));
        }

        &-back {
          @include transform(rotateY(-180deg));
        }
      }
    }

    &:hover {
      .header-bubble-side-front {
        @include transform(rotateY(180deg));
        @include transition(all 0.5s ease-in-out);
      }

      .header-bubble-side-back {
        @include transform(rotateY(0deg));
        @include transition(all 0.5s ease-in-out);
      }
    }
  }
}

header div.animation {
  width: 80%;
  margin-left: 10%;
  margin-right: 10%;
  height: 30vh;
  position: absolute;
  top: 37vh;
  left: 0;
  z-index: 28;
  color: $white;

  span {
    display: block;
  }

  .first-animated-line {
    font-family: $magic_font;
    font-size: 108px;
    line-height: 240px;
  }

  .second-animated-line {
    font-weight: 600;
    font-size: $h2_fs;
    line-height: 60px;
    margin-top: -80px;
  }
}

/*#####################
#	Footer            #
######################*/
footer {
  background-color: $dark_green;
  background-repeat: repeat;
  background-size: 1500px;

  a {
    text-decoration: none !important;
    color: $white;
  }

  .inner-wrapper {
    width: 100%;
    max-width: 1200px;
    margin: $center_m;
    padding-top: $half_margin;
    padding-bottom: $half_margin;
  }

  .collumns {
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;

    .left,
    .right {
      display: inline-block;
      width: 50%;
    }

    .left {
      text-align: left;

      .links {
        margin-top: 30px;

        a {
          display: block;
        }

        img.icon {
          width: 15px;
          height: 20px;
          margin-right: 5px;
        }
      }
    }

    .right {
      text-align: center;
    }
  }

  .contact {
    font-size: $smaller_fs;
    line-height: 19px;
    margin-top: 40px;
  }

  .social {
    margin-top: 40px;

    a {
      margin: 0 5px;
    }

    .icon {
      -webkit-filter: invert(1);
      filter: invert(1);
    }
  }

  .search {
    margin-top: 30px;
    margin-bottom: 40px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }

  .bottom-links {
    font-size: 14px;
    line-height: 23px;
    letter-spacing: 1px;
    position: relative;
    z-index: 99;
  }

  .dot {
    color: $white;
  }
}

.footer-logo {
  width: 200px;
  height: 100px;
}

.footer-map {
  width: 483px;
  height: 255px;
}

/* back to top button */
footer .scroll-to-top-btn {
  color: $white;
  position: fixed;
  bottom: $half_margin;
  right: 0;
  cursor: pointer;
  z-index: 99;
  width: 40px;
  height: 40px;
  background-color: rgba(185, 185, 185, 0.5);
  display: block;
  line-height: 40px;
  text-align: center;
  display: none;

  img {
    width: 18px;
    height: 18px;
    margin-bottom: 2px;
    margin-left: 1px;
  }

  span {
    font-size: 9px;
    line-height: 16px;
    display: block;
    margin-top: -17px;
    padding-left: 3px;
  }
}

body.onbottom footer .scroll-to-top-btn {
  bottom: 10rem;
  position: absolute;
}

/* newsletter in footer */
.media-bottom section.newsletter {
  background: linear-gradient($light_green, $light_grey);
  color: $white;
  padding-top: $half_margin;
  padding-bottom: $half_margin;

  a {
    text-decoration: none !important;
  }

  .headline {
    font-size: 42px;
    line-height: 51px;
    font-family: $secondary_font;
  }

  .design-element {
    padding: 50px 0;

    .design-lines {
      display: block;
      background: $white;
      height: 1px;
      width: calc(50% - 30px);
      margin-top: 19px;
    }

    .design-lines.left {
      float: left;
    }

    .design-lines.right {
      float: right;
    }
  }

  form {
    text-align: center;
  }

  form>input {
    background-color: $white;
    border: 0;
    color: $dark_grey;
    height: 40px;
    width: 300px;
    display: inline-block;
    margin: 0 15px;
    padding: 0 30px;
    letter-spacing: 2px;
  }

  form>button {
    background-color: $light_grey;
    border: 1px solid $white;
    font-size: 20px;
    line-height: 23px;
    height: 40px;
    padding: 9px 45px 9px 45px;
    width: auto;
    display: block;
    margin: $center_m;
    margin-top: $half_margin;
    letter-spacing: 2px;
  }
}

/*#####################
#	language switcher #
######################*/
#foot-lang {
  margin-top: -$full_margin;

  div {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin-left: 5px;

    .lang {
      margin: 0 5px 0 5px;
    }

    .lang.active {
      color: $light_grey;
    }
  }
}

#spacer-white-footer {
  display: inline-block;
  background-color: $white;
  width: 1px;
  height: $half_margin;
}

/* breadcrumbs */
.breadcrumbs {
  text-align: center;
  font-size: 13px;
  line-height: 17px;
  position: relative;
  z-index: 30;

  a {
    text-decoration: none !important;
    color: $dark_green;
  }

  li {
    display: inline-block;
    padding-left: 0;
  }

  li:before {
    display: none;
  }
}

/*#####################
#	Teaser            #
######################*/
.teaser.no-bg {
  background: unset;
}

.teaser {
  background-image: url("/frontend/img/uploaded/Pattern_1.png");
  background-repeat: repeat;
  padding: $full_margin 0;
  background-size: 1500px;

  .headline {
    font-size: $h2_fs;
    line-height: $h2_lh;
  }

  .design-element {
    padding: 50px 0;

    .design-lines {
      display: block;
      background: $dark_grey;
      height: 1px;
      width: calc(50% - 30px);
      margin-top: 19px;
    }

    .design-lines.left {
      float: left;
    }

    .design-lines.right {
      float: right;
    }
  }

  .content.no-collumns {
    -webkit-column-count: unset;
    column-count: unset;
  }

  .content {
    -webkit-column-count: 2;
    column-count: 2;
    -webkit-column-gap: 40px;
    column-gap: 40px;

    ul {
      display: contents;
    }
  }
}

/*#####################
#	banner #1          #
######################*/
.banner-wrapper {
  max-width: 1500px;
  margin: $center_m;
  overflow: hidden !important;

  a {
    text-decoration: underline !important;
    color: $dark_green;
  }

  figure {
    position: relative;
    margin-bottom: -5px;

    img {
      max-height: 32vw;
      @include transition(all 1s ease-in-out);
    }

    figcaption {
      position: absolute;
      top: 50%;
      left: 50%;
      @include transform(translate(-50%, -50%));
      width: 100%;
      height: 100%;
      background-color: rgba(0, 0, 0, 0.35);
      @include transition(all 1s ease-in-out);

      .inner-wrapper {
        position: absolute;
        top: 50%;
        left: 50%;
        @include transform(translate(-50%, -50%));
      }

      .headline,
      .content {
        color: $white;
        font-size: 28px;
        line-height: 34px;
        display: block;
      }

      .headline {
        margin-bottom: 30px;

        .bg {
          background-color: $red;
          padding: 0 10px;
        }
      }
    }
  }

  figure:hover {
    img {
      @include transform(scale(1.09));
      @include transition(all 1s ease-in-out);
    }

    figcaption {
      background-color: rgba(0, 0, 0, 0.15);
      @include transition(all 1s ease-in-out);
    }
  }
}

/*#####################
#	banner #2         #
######################*/
.banner-2sp-wrapper {
  width: 100%;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;

  .left,
  .right {
    width: 50%;
    display: inline-block;
  }

  .left {
    background-image: url("/frontend/img/uploaded/icons/Pattern_outline_weiss.svg");
    background-color: $dark_green;
    background-repeat: repeat;
    background-size: 535px;
    color: $white;
    margin-right: 15px;
    height: auto;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;

    .content {
      font-family: $secondary_font;
      font-size: 40px;
      line-height: 50px;
      display: block;
      margin: auto;
    }
  }

  .left.red {
    background-color: $red;
  }

  .right {
    margin-left: 15px;

    a {
      display: inline-block;
      width: 100%;
      height: 100%;
      overflow: hidden;
    }
  }

  figure {
    height: 100%;

    figcaption .inner-wrapper {
      width: 80%;
    }
  }
}

/*#####################
#	banner #3         #
######################*/
.banner-wrapper.counter {
  background-color: $light_grey;
  color: $white;
  text-align: center;
  display: table;
  clear: both;
  width: 100%;
  padding: 15px 0;

  a {
    color: $white;
  }

  .column {
    float: left;
    width: 33.33%;
  }

  .content {
    display: block;
    font-size: 36px;
    line-height: 44px;
    margin-bottom: 0;
  }

  .headline {
    display: block;
    font-size: 26px;
    line-height: 30px;
    margin-top: 0;
  }

  .design-element {
    display: block;
    position: absolute;
    width: 1px;
    height: 80px;
    background-color: $white;
    margin-top: 0px;
  }

  .design-element.right {
    right: 33%;
  }

  .design-element.left {
    right: 66%;
  }
}

/*#####################
#	banner #4         #
######################*/
.footer-banner-wrapper {
  max-width: none;

  figure img {
    max-height: 27vw;
  }
}

/*#####################
#	banner #5         #
######################*/
.banner-5-wrapper {
  margin: $full_margin auto;
  max-width: 1150px;

  .inner-wrapper {
    margin-top: $half_margin;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: end;
    -ms-flex-pack: end;
    justify-content: flex-end;

    .content {
      max-width: 465px;
      display: block;
      margin-right: 60px;
    }
  }

  .big-img {
    text-align: right;

    img {
      max-height: 420px;
    }
  }

  .small-img {
    position: absolute;
    margin-top: -430px;
    margin-right: -60px;

    img {
      border: 2px solid $white;
      margin-left: 20px;
      min-height: 220px;
    }
  }
}

/*#####################
#	banner #6         #
######################*/
.banner-6-wrapper {
  width: 100%;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;

  div {
    width: 50%;
    display: inline-block;
    color: $white !important;

    .content-wrapper {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      width: 100%;

      span.content {
        max-width: 650px;
        display: block;
      }
    }

    .content-wrapper.left {
      -webkit-box-pack: end;
      -ms-flex-pack: end;
      justify-content: flex-end;

      span.content {
        margin: $full_margin $full_margin $full_margin 0;
      }
    }

    .content-wrapper.right {
      -webkit-box-pack: start;
      -ms-flex-pack: start;
      justify-content: flex-start;

      span.content {
        margin: $full_margin 0 $full_margin $full_margin;
      }
    }
  }

  div.green {
    background-color: $dark_green;
  }

  div.red {
    background-color: $red;
  }

  a {
    color: $white !important;
  }

  li:before {
    background-image: url(/frontend/img/uploaded/icons/Icons_List_White.svg);
  }

  .object-fit-image {
    img {
      margin-bottom: -6px;
    }
  }
}

/*#####################
#	Info-box         #
######################*/
.info-box-wrapper {
  background-image: url(/frontend/img/uploaded/Pattern.png);
  background-repeat: repeat;
  padding: $full_margin 0 $full_margin 0;

  .buttons {
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    position: relative;
    z-index: 2;

    a {
      position: relative;
      height: 50px;
      width: 31%;
      text-decoration: none !important;
      font-size: 26px;
      line-height: 30px;
      color: $red;
      border: 1px solid $dark_grey;
      padding: 0 30px;

      .positioner {
        height: 50px;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
      }

      .positioner:after {
        content: "";
        height: 1px;
        background: $white;
        width: 100%;
        opacity: 0;
        bottom: -31px;
        display: block;
        position: absolute;
      }
    }

    a.active {
      border-bottom: 0;
      height: 70px;
      background-color: $white;

      .positioner:after {
        opacity: 1;
        bottom: 0;
      }
    }

    a:last-of-type {
      margin-right: 0;
    }
  }

  .content {
    position: relative;
    z-index: 1;
    margin-top: -1px;

    .item {
      height: 0;
      overflow: hidden;
      border: 1px solid $dark_grey;

      .padding {
        padding: 30px;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
      }

      .left {
        display: inline-block;
        width: 50%;
        padding-right: 45px;
      }

      .right {
        display: inline-block;
        width: 50%;
        padding-left: 30px;

        figure img {
          width: 100%;
          height: auto;
          max-height: 450px;
        }
      }

      ul {
        list-style-image: url("/frontend/img/uploaded/icons/Icons_List.svg");
        list-style-position: outside;
        margin-left: 15px;

        li {
          padding-bottom: 10px;
        }
      }
    }

    .item.active {
      height: auto;
      overflow: hidden;
      background-color: $white;
    }
  }

  .link {
    width: 100%;
    margin-top: $half_margin;

    a {
      text-decoration: none !important;
      height: 52px;
      @include transition(all 1s ease-in-out);

      span {
        position: relative;
      }

      .content {
        width: auto;
        height: 40px;
        padding: 0 45px;
        color: $white;
        background-color: $red;
        display: -webkit-inline-box;
        display: -ms-inline-flexbox;
        display: inline-flex;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
        font-size: 20px;
        line-height: 23px;
        border: 1px solid $dark_grey;
        z-index: 2;
        top: -15px;
      }

      .design-element {
        display: -webkit-inline-box;
        display: -ms-inline-flexbox;
        display: inline-flex;
        height: 1px;
        width: 100%;
        background-color: $dark_grey;
        z-index: 1;
        top: 9px;
      }
    }
  }
}

.info-box-wrapper.two-tabs .buttons a {
  width: 47%;
}

/*#####################
# Banner #3 (big room) #
######################*/
.big-banner-wrapper {
  width: 100%;

  .top figure img {
    max-height: 35vw;
  }

  .bottom {
    background-image: url(/frontend/img/uploaded/Pattern_1.png);
    background-repeat: repeat;
    padding-bottom: $half_margin;
    background-size: 1500px;
  }

  .content {
    background-color: $white;
    width: 100%;
    height: auto;
    max-width: 1328px;
    min-height: 432px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    position: relative;
    top: -70px;

    .left {
      display: inline-block;
      width: calc(100% - 450px);
      padding: $half_margin 90px;

      .headline {
        color: $dark_green;
        font-family: $secondary_font;
        font-size: $h1_fs;
        line-height: $h1_lh;
        margin-bottom: 15px;
      }

      span {
        display: block;
        text-align: left;
      }

      .subheadline {
        font-size: $h2_fs;
        line-height: $h2_lh;
        margin-bottom: 30px;
      }
    }

    .left.only-mobile {
      display: none;
    }

    .right {
      display: inline-block;
      height: 0;
      width: 300px;
      margin-right: 150px;
      position: relative;
      top: -230px;
      margin: 0 auto;

      .red-dot {
        width: 300px;
        height: 300px;
        margin-top: 50px;

        figcaption {
          position: relative;
          left: 50%;
          @include transform(translate(-50%, -85%));
          width: 100%;
          height: 100%;

          span {
            color: $white;
          }
        }
      }

      a {
        text-decoration: none !important;
        color: $white;
      }

      .bttn {
        background-color: $red;
        color: $white;
        font-size: 20px;
        line-height: 23px;
        height: 40px;
        position: relative;
        z-index: 3;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;

        img {
          vertical-align: sub;
        }
      }

      .bttn.only-mobile {
        display: none;
      }

      .price {
        position: relative;
        z-index: 1;
        margin-top: 40px;
        margin-bottom: $half_margin;

        span {
          display: block;
        }

        .line-1 {
          font-size: 44px;
          line-height: 53px;
        }

        .line-2 {
          font-size: $smaller_fs;
          line-height: 20px;
        }
      }
    }

    .right>a {
      position: relative;
      z-index: 2;
    }
  }
}

/*#####################
#   3 TABS            #
######################*/
.tabs3-wrapper {
  margin: $full_margin;

  .headline {
    font-size: $h2_fs;
    line-height: $h2_lh;
  }

  .design-element {
    padding: 50px 0;

    .design-lines {
      display: block;
      background: $dark_grey;
      height: 1px;
      width: calc(50% - 30px);
      margin-top: 19px;
    }

    .design-lines.left {
      float: left;
    }

    .design-lines.right {
      float: right;
    }
  }

  .tabs-wrapper {
    max-width: 1800px;
    width: 85%;
    margin: $center_m;
    overflow: hidden !important;
  }

  .link {
    width: 100%;
    margin-top: $half_margin;

    a {
      text-decoration: none !important;
      height: 52px;

      span.content {
        position: relative;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        max-width: 350px;
        margin: $center_m;
      }

      span.design-element {
        position: relative;
      }

      .design-element {
        display: -webkit-inline-box;
        display: -ms-inline-flexbox;
        display: inline-flex;
        height: 1px;
        width: 85%;
        max-width: 1800px;
        background-color: $dark_grey;
        z-index: 1;
        top: 15px;
        padding: 0;
      }

      .content {
        width: auto;
        height: 40px;
        padding: 0 45px;
        color: $white;
        background-color: $red;
        display: -webkit-inline-box;
        display: -ms-inline-flexbox;
        display: inline-flex;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
        font-size: 20px;
        line-height: 23px;
        border: 1px solid $dark_grey;
        z-index: 2;
        top: -15px;
      }
    }
  }
}

/* acordion */
.flex-container {
  position: relative;
  max-height: 780px;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  overflow: hidden;

  a {
    text-decoration: none !important;
    color: $white;
  }
}

.flex-title,
.flex-about {
  text-align: center;
  @include transition(all 200ms ease);
}

.flex-title {
  color: $white;
  position: relative;
  height: 0;
  opacity: 1;
  -webkit-animation: fadeInEffect 2s;
  animation: fadeInEffect 2s;

  span {
    display: block;
    font-size: $main_fs;
    line-height: 24px;
    text-align: left;
    padding-left: 15px;
  }

  .headline {
    padding-top: 15px;
  }
}

.flex-slide.active {
  -webkit-box-flex: 3;
  -ms-flex-positive: 3;
  flex-grow: 3;

  .flex-title {
    opacity: 0;
    -webkit-animation: fadeOutEffect 0.75s;
    animation: fadeOutEffect 0.75s;
  }

  .flex-about {
    opacity: 1;
    height: 100%;
    -webkit-animation: fadeInEffect 2.5s;
    animation: fadeInEffect 2.5s;
    -ms-flex-line-pack: baseline;
    align-content: baseline;
  }
}

.flex-about {
  opacity: 0;
  color: $white;
  position: absolute;
  bottom: 0;
  height: 100%;
  -webkit-box-align: end;
  -ms-flex-align: end;
  align-items: flex-end;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-bottom: 80px;
  max-width: 916px;
  width: 100%;
  -webkit-animation: fadeOutEffect 0.15s;
  animation: fadeOutEffect 0.15s;

  .left {
    width: calc(100% - 380px);
    padding-left: 80px;
    -webkit-hyphens: manual;
    -ms-hyphens: manual;
    hyphens: manual;

    span {
      display: block;
      text-align: left;
    }

    .headline {
      font-size: $h1_fs;
      line-height: $h1_lh;
      margin-bottom: 5px;
    }

    .subheadline {
      font-size: $h2_fs;
      line-height: $h2_lh;
    }

    .times {
      margin-top: 10px;
      font-size: 28px;
      line-height: 34px;
    }
  }

  .right {
    width: 300px;
    margin-right: 80px;

    .prices {
      margin-bottom: 15px;
      font-size: 20px;
      line-height: 23px;
    }

    a {
      text-decoration: none !important;
      color: $white;
    }

    .bttn {
      background-color: $light_green;
      color: $white;
      font-size: $main_fs;
      line-height: 20px;
      height: 40px;
      position: relative;
      z-index: 3;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-pack: center;
      -ms-flex-pack: center;
      justify-content: center;
      -webkit-box-align: center;
      -ms-flex-align: center;
      align-items: center;

      img {
        margin-bottom: -7px;
      }
    }
  }
}

.flex-slide {
  min-width: 302px;
  min-height: 653px;
  -ms-flex: 1;
  -webkit-box-flex: 1;
  flex: 1;
  overflow: hidden;
  position: relative;
  text-align: center;
  @include transition(all 500ms ease);
}

.home-0,
.home-1,
.home-2 {
  background-size: cover;
  background-repeat: no-repeat;
  background-color: rgba(0, 0, 0, 0.25);
}

.flex-about-home-0,
.flex-about-home-1,
.flex-about-home-2 {
  opacity: 0;
}

/*#####################
#  GALLERY            #
######################*/
section.gallery {
  .inner-wrapper {
    max-width: 1300px;
  }

  .bx-wrapper {
    height: 100%;
    height: auto;

    .bx-controls {
      height: 0;
      position: relative;
      margin-top: -27%;
      margin-bottom: 27%;

      .bx-controls-direction {
        z-index: 29;
        width: 110%;
        height: 100%;
        margin-left: -5%;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: justify;
        -ms-flex-pack: justify;
        justify-content: space-between;

        position: relative;
        top: 85px;
      }
    }
  }
}

#bx-gallery-pager {
  margin-top: 10px;
  background-color: $light_grey;
  width: 100%;
  min-height: 40px;
  color: $white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
  justify-content: space-around;

  a {
    text-decoration: none !important;
    width: 100%;
    font-size: 15px;
    line-height: 20px;
    min-height: 40px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    color: $white;
  }

  a.active {
    background: $dark_green;
  }
}

/*#####################
#  Video            #
######################*/
.youtube-video-container iframe {
  width: 100%;
  height: 35vW;
  max-height: 70rem;
}

/*#####################
#  Privacy            #
######################*/
section.privacy {
  margin: 30px auto;
}

section.privacy>span>div>label {
  font-weight: 200;
}

/*#####################
#  Sitemap            #
######################*/
.Sitemap {
  margin-top: 60px;
}

.sitemap>.inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  margin-bottom: $full_margin;

  a {
    color: $dark_grey;
  }
}

.sitemap>.inner>ul {
  -webkit-box-flex: 1;
  -ms-flex: 1 1 auto;
  flex: 1 1 auto;
}

.sitemap>.inner>ul>li {
  margin-bottom: 20px;
}

.sitemap>.inner>ul>li>a {
  text-transform: uppercase;
  font-weight: bold;
}

.sitemap>.inner>ul>li>a>i {
  display: none;
}

.sitemap>.inner ul>li a {
  text-decoration: none;
  margin-bottom: 15px;
  display: block;
}

.sitemap>.inner ul>li>ul {
  margin-left: 20px;
}

/*#####################
#  Weather            #
######################*/
.weather {
  padding: 30px 40px 30px 40px;
  background-color: $dark_green;
  color: $white;

  a {
    color: $white;
  }

  .inner {
    .cols {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -ms-flex-wrap: wrap;
      flex-wrap: wrap;
      -webkit-box-pack: justify;
      -ms-flex-pack: justify;
      justify-content: space-between;

      .col {
        margin: $center_m;
        padding: 2rem;
        text-align: center;
        margin-bottom: 2rem;

        .weather-icon-wrap {
          padding-bottom: 1rem;
          margin-bottom: 1rem;
          border-bottom: 1px solid $white;

          .weather-icon {
            font-family: "MeteoconsRegular";
            font-size: 5rem;
            line-height: 6rem;
          }
        }

        .weather-temp {
          font-size: 80%;
          line-height: 110%;
          margin-top: 1rem;
          display: -webkit-box;
          display: -ms-flexbox;
          display: flex;
          -webkit-box-pack: center;
          -ms-flex-pack: center;
          justify-content: center;
        }

        .weather-temp>div {
          display: -webkit-box;
          display: -ms-flexbox;
          display: flex;
          -webkit-box-orient: vertical;
          -webkit-box-direction: normal;
          -ms-flex-direction: column;
          flex-direction: column;
          padding: 0 0.5rem;

          .title {
            font-weight: bold;
          }
        }
      }
    }

    .weather-copy {
      width: 100%;
      font-size: 1rem;
      text-align: center;
      padding: 0.5rem;
      opacity: 0.3;
    }
  }
}

/*#####################
#  Routenplanner      #
######################*/
.routeplanner {
  padding-bottom: $full_margin;

  .map {
    position: relative;

    .map-bg {
      background: $dark_grey;

      .inner {
        background: $dark_grey;
        border-left: none;
        border-right: none;
        -webkit-box-sizing: content-box;
        box-sizing: content-box;
      }
    }

    #map-canvas {
      width: 100%;
      padding-top: 56%;
    }

    #route-error {
      display: none;
      width: 100%;
      color: $white;
      text-align: center;
      padding: 15px;
      background: $dark_grey;
    }

    #control {
      width: 30%;
      margin: 10px;
      position: absolute;
      top: 10px;
      right: 10px;

      form {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
      }

      form>* {
        width: calc(100% - 40px);
        padding: 0 10px;
        border: 1px solid $dark_green;
      }

      form>button {
        width: 40px;
      }

      form>.clear {
        display: none;
      }

      button {
        background-color: $dark_green;
        opacity: 0.8;
      }
    }
  }

  .gmnoprint img {
    max-width: none;
  }

  .adp-list {
    border: 1px solid $dark_green;
    background-color: $white;

    .adp-listheader {
      font-weight: bold;
    }

    tr td {
      padding: 5px;
    }

    tr td.adp-listsel {
      background-color: $dark_green;
      color: $white;
    }
  }

  .adp-placemark {
    border: 1px solid $dark_green;
    background-color: $dark_green;
    color: $white;

    td {
      padding: 10px;
      vertical-align: middle;
      line-height: 0;
    }

    td.adp-text {
      font-weight: bold;
      line-height: 40px;
    }
  }

  .adp-legal {
    font-size: 1rem;
    text-align: right;
  }
}

/*#####################
#  Search             #
######################*/
#quick-search-form {
  width: 350px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

#quick-search-form>div {
  display: inline-block;
  width: calc(100% - 50px);
  margin: 0 !important;
  padding: 0 !important;
}

#quick-search-form>span {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  width: 40px;
  border-top: 1px solid $white;
  border-bottom: 1px solid $white;
  border-left: 1px solid $white;
  border-right: 2px solid $white;

  img {
    @include transform(scale(-1, 1));
  }
}

#quick-search-form>div>input {
  width: 100%;
  margin: 0 !important;
  padding: 0 30px !important;
  background-color: $light_green;
  border-top: 1px solid $white;
  border-bottom: 1px solid $white;
  border-left: 2px solid $white;
  border-right: 1px solid $white;
  color: $white;
  letter-spacing: 2px;
}

#quick-search-form>div>input::placeholder {
  color: $bg_color;
}

/* main search */
.search>.inner {
  margin-bottom: $full_margin;
}

.search>.inner>form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 3rem;
}

.search>.inner>form>* {
  border: 1px solid $light_grey;
  background: $white;
  line-height: 4rem;
  vertical-align: middle;
}

.search>.inner>form>input {
  -webkit-box-flex: 1;
  -ms-flex: 1 1 auto;
  flex: 1 1 auto;
  border-right: none;
  padding: 0 2rem;
  width: 100%;
  margin: 0 !important;
  padding: 0 30px !important;
  background-color: $white;
  border-top: 1px solid $dark_green;
  border-bottom: 1px solid $dark_green;
  border-left: 2px solid $dark_green;
  border-right: 1px solid $dark_green;
  color: $white;
  letter-spacing: 2px;
}

.search>.inner>form>.sear-bttn {
  border-left: none;
  cursor: pointer;
  width: 50px;
  background-color: $dark_green;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  border-top: 1px solid $dark_green;
  border-bottom: 1px solid $dark_green;
  border-left: 1px solid $dark_green;
  border-right: 2px solid $dark_green;
}

.search>.inner>.articles {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}

.search>.inner>.articles>article {
  width: calc(50% - 1rem);
  background: $white;
  padding: 2rem;
  margin-bottom: 2rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.search>.inner>.articles[data-article-count="1"]>article {
  width: 100%;
}

.search>.inner>.articles>article .search-text {
  padding-bottom: 2rem;
}

.search>.inner>.articles>article .more {
  background-color: $dark_green;
  border: 1px solid $white;
}

/*#####################
#  Forms             #
######################*/
.asterisks {
  display: none;
}

.required .asterisks {
  display: inline;
}

.info {
  font-size: 70%;
}

main>form {
  padding-top: 40px;
}

form div.col {
  width: calc(50% - 20px);
}

form .form-cols {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

div.input {
  border-radius: 5px;
  @include transition(background 0.3s ease-in-out, padding 0.1s ease-in-out);
  margin-bottom: 10px;

  span.label {
    border: none;
    padding: 5px 0px;
    font-weight: 600;
    font-size: $smaller_fs;
    line-height: 30px;
  }

  button.selector {
    background: $light_green;
    color: $white;
    cursor: pointer;
    border: 0;
  }
}

div.input>select[data-type="room"],
div.input>select[data-type="package"] {
  width: calc(100% - 50px);
}

div.input>button[data-type="room"],
div.input>button[data-type="package"] {
  width: 45px;
  margin-left: 5px;
}

div.input>input,
div.input>select,
div.input>textarea {
  width: 100%;
  height: 40px;
  color: $dark_grey;
  @include transition(background 0.3s linear);
}

div.input>div.checkbox {
  width: 100%;
  clear: both;
  padding-top: 5px;

  input[type="checkbox"] {
    width: 12px;
    height: 12px;
    float: left;
    margin: 5px 10px 0 0;
  }
}

div.input.error>input,
div.input.error>select,
div.input.error>textarea {
  border-color: #ff0000;
}

div.input>.error-message {
  margin-top: 5px;
  padding: 5px;
  width: 100%;
  color: $white;
  background: #ff0000;
}

div.input>label,
div.input>label:not([for="captcha"]) {
  @include transition(width 0.1s ease-in-out);
}

div.input.checkbox>label {
  width: 100%;
}

div.input.checkbox input {
  width: 12px;
  height: 12px;
  margin: 0 10px 0 0;
}

form div.input label>span.asterisks {
  display: none;
}

div.input.required label>span.asterisks {
  display: inline;
}

div.input *.clear {
  display: none;
}

section.captcha {
  padding: 10px;
  color: $white;

  div.input.captcha {
    float: left;
    margin: 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }

  div.input>.captcha-field {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    padding: 0;
    width: 200px;
  }

  div.input>label[for="captcha"] {
    line-height: 40px;
    padding: 0 10px 0 0;
  }

  div.input>.captcha-field>img {
    width: 70px;
    max-height: 40px;
  }

  div.input>.captcha-field>.input {
    display: block;
    width: calc(100% - 70px);
    margin: 0;
  }

  div.input>.captcha-field>.input input {
    height: 40px;
    width: 100%;
  }

  div.submit {
    float: right;
  }

  div.submit input,
  button {
    padding-left: 20px;
    padding-right: 20px;
  }

  button {
    float: right;
    background: $dark_green;
    color: $white;
    cursor: pointer;
    min-width: 300px;
    width: 300px;
    text-transform: uppercase;
    font-weight: 600;
    height: 40px;
  }
}

.grecaptcha-badge {
  bottom: 130px !important;
  z-index: 999;
}

section.send-option {
  width: 100%;
  text-align: right;
  -webkit-box-pack: end;
  -ms-flex-pack: end;
  justify-content: flex-end;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 10px;

  a {
    display: block;
    text-transform: uppercase;
    text-decoration: none !important;
    text-align: center;
    width: 300px;
    height: 60px;
    margin-top: 15px;
  }
}

/* required in forms */
form section.required {
  margin-top: 30px;
}

/* newsletter in forms */
form section.newsletter {
  margin-top: 30px;

  h3 {
    font-weight: 600;
  }

  div label {
    font-weight: 400;
  }
}

.newsletter-form .content {
  margin-bottom: 30px;
}

/* request form rooms */
section.request-wrapper {
  margin-bottom: $full_margin;

  .extendable .form-cols {
    height: 0;
  }
}

.rooms-wrap {
  text-align: center;

  .room-wrap {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    background: $white;
    padding: 15px;
    margin-bottom: 1.5rem;
    position: relative;
    border: 1px solid $dark_green;
    opacity: 1;
    max-height: 500px;
    @include transition(opacity 0.3s linear, max-height 0.3s linear);

    label {
      text-align: left;
      font-weight: bold;
      display: block;
    }

    .room-remove {
      position: absolute;
      top: -0.5rem;
      right: -0.5rem;
      border-radius: 90px;
      background: $light_green;
      color: $white;
      font-size: 2rem;
      height: 3rem;
      line-height: 3rem;
      width: 3rem;
      vertical-align: middle;
      text-align: center;
      opacity: 1;
      @include transition(opacity 0.3s linear);
    }

    .room-remove.room-nodelete {
      opacity: 0;
    }
  }

  .room-wrap.fadedout {
    opacity: 0;
    max-height: 0;
  }

  .room-wrap>.input.select {
    width: 100%;
    padding: 0;
  }

  .room-wrap>.room-col {
    width: calc(50% - 20px);
  }

  .room-wrap>.room-col-2 {
    margin-left: 40px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-evenly;
  }

  .room-wrap>.room-col-2>.input {
    width: 100%;
  }

  .room-wrap>.room-col-2>.input:first-of-type {
    width: 100%;
  }

  .room-wrap>.room-col-2>.input.room-child-age {
    opacity: 1;
    max-height: 100px;
    min-width: 100px;
    width: 24%;
    @include transition(opacity 0.3s linear, max-height 0.3s linear);
  }

  .room-wrap>.room-col-2>.input.room-child-age.fadedout {
    opacity: 0;
    max-height: 0;
  }
}

.rooms-label {
  margin-top: 30px;
  padding-bottom: 5px;
}

.rooms-wrap .room-add.button,
.more-fields .button {
  background: $light_green;
  width: auto;
  min-width: 300px;
  display: inline-block;
  margin: 15px auto;
}

.more-fields {
  display: block;
  width: 100%;
  text-align: center;
}

/* coupon form */
.coupon-form {
  margin-bottom: $full_margin;
}

.extendable .form-cols {
  height: 0;
}

/* jobs & brochure forms */
#jobs-wrapper,
#brochure-wrapper {
  margin-top: -40px;
  margin-bottom: $full_margin;

  .extendable .form-cols {
    height: 0;
  }
}

#brochure-wrapper {
  height: auto;
}

#open-jobs-form,
#open-brochure-form {
  margin-bottom: $full_margin;
}

#brochure-wrapper div.input>div.checkbox {
  display: table-cell;
  width: 30%;
}

/*#####################
#  Package            #
######################*/
main.package {
  text-align: left;
  padding-top: 60px;

  .headline .time {
    font-size: 24px;
    line-height: 28px;
  }

  .impressions {
    margin-top: 45px;
    margin-bottom: $half_margin;
  }

  .content {
    .services {
      .inner {
        .design-element {
          padding: 50px 0;
        }

        .design-lines {
          display: block;
          background: $dark_grey;
          height: 1px;
          width: calc(50% - 30px);
          margin-top: 19px;
        }

        .design-lines.left {
          float: left;
        }

        .design-lines.right {
          float: right;
        }
      }

      .content {
        -webkit-column-count: 2;
        column-count: 2;
        -webkit-column-gap: 40px;
        column-gap: 40px;

        ul {
          display: contents;
        }
      }

      ul {
        list-style-image: url(/frontend/img/uploaded/icons/Icons_List.svg);
        list-style-position: outside;
        margin-left: 15px;
      }
    }

    .package-teaser {
      margin-top: $full_margin;
      margin-bottom: $half_margin;
      font-size: $h2_fs;
      line-height: $h2_lh;
    }
  }
}

.package.prices {
  a {
    text-decoration: none !important;
    color: $dark_grey;
  }

  table {
    width: 100%;
  }

  tr {
    height: 60px;
  }

  tr.animated-info {
    height: auto;
  }

  tr.border-line {
    height: 1px;
    background-color: $light_grey;
  }

  td,
  th {
    vertical-align: middle;
  }

  th.price-name {
    text-align: left;
  }

  th.price-type {
    background-color: $table_grey;
    border-left: 1px solid $white;
  }

  td.element .title {
    color: $dark_green;
  }

  td.buttons {
    text-align: center;
  }

  td a svg {
    margin-bottom: -1px;
    margin-right: 5px;
  }
}

.animated-info-wrapper {
  width: 100%;

  .animationer {
    height: 0;
    overflow: hidden;
  }

  .animationer>.positioner {
    padding: 30px $half_margin 60px $half_margin;
  }

  .room-info-wrapper {
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
    width: 100%;

    .positioner {
      width: 100%;
    }

    .left,
    .right {
      width: 50%;
      display: inline-block;
    }

    .left {
      margin-right: 15px;

      img {
        width: 100%;
      }
    }

    .right {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-align: start;
      -ms-flex-align: start;
      align-items: flex-start;
      text-align: left;
      margin-left: 15px;
    }

    .right>div>span,
    .right>div>span a {
      height: 50px;
      text-align: left;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-pack: left;
      -ms-flex-pack: left;
      justify-content: left;
      -webkit-box-align: center;
      -ms-flex-align: center;
      align-items: center;
    }

    .right>div>span {
      border-top: 1px solid $dark_grey;

      a {
        text-decoration: none !important;
        color: $dark_green;
      }

      img {
        margin-right: 10px;
      }
    }

    .right>div>span:last-of-type {
      border-bottom: 1px solid $dark_grey;
    }
  }

  .book-iframe-wrapper {
    margin-top: $half_margin;
  }
}

// TEMPORARY PRICES BUTTONS
.book-iframe-wrapper {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  flex-wrap: wrap;

  .package-prices.book-button,
  .package-prices.request-button {
    width: 20%;
    text-align: center;
    background-color: $light_green;
    color: $white !important;
    height: 40px;
    line-height: 45px;
    letter-spacing: 2px;
    font-size: 1.5rem;
    text-decoration: none !important;
    display: flex;
    justify-content: center;
    align-items: center;
    width: calc((50% - 15px) / 2);
    margin-top: -50px;

    &.red {
      background-color: $red;
    }

    span {
      color: $white;
    }

    img {
      vertical-align: sub;
      margin-right: 0.5rem;
    }
  }

  .package-prices.request-button {
    margin-right: 1px;
  }

  .package-prices.book-button {
    margin-left: 1px;
  }
}

/*#####################
#  Media-groups       #
######################*/
.media-group {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}

.media-group:not(.inner) {
  width: 100%;
}

.media-group>* {
  -webkit-box-flex: 1;
  -ms-flex: 1 1 auto;
  flex: 1 1 auto;
  margin-left: auto;
  margin-right: auto;
  max-width: 100%;
  overflow: hidden;
}

.home main .content-wrapper {
  margin-top: $full_margin;
}

main .content-wrapper {
  width: 100%;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  margin-top: $half_margin;

  .left,
  .right {
    width: 50%;
    display: inline-block;
  }

  .left {
    margin-right: 5px;
  }

  .right {
    text-align: left;
    margin-left: 5px;
  }

  div>span {
    display: inline-block;
  }
}

main .content-wrapper.no-content div>span {
  margin-top: $half_margin;
}

/* ROOM */
main.room {
  .content-wrapper.first-line {
    margin-bottom: $half_margin;
  }

  .content-wrapper.second-line {
    margin-top: 0;
    margin-bottom: 80px;

    .left a {
      padding-top: 40px;
      padding-bottom: 40px;
      border: 1px solid $lighter_grey;
      margin-right: 25px;
    }

    .right {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-align: end;
      -ms-flex-align: end;
      align-items: flex-end;

      .positioner {
        width: 100%;
      }
    }

    .right>div>span {
      border-top: 1px solid $dark_grey;

      img {
        margin-right: 10px;
      }

      a {
        text-decoration: none !important;
        color: $dark_green;
      }
    }

    .right>div>span,
    .right>div>span a {
      height: 50px;
      text-align: left;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-pack: left;
      -ms-flex-pack: left;
      justify-content: left;
      -webkit-box-align: center;
      -ms-flex-align: center;
      align-items: center;
    }

    .right>div>span:last-of-type {
      border-bottom: 1px solid $dark_grey;
    }
  }
}

section.room-slider {
  max-width: 1800px;
  margin: $center_m;
  height: 715px;

  .impressions {
    height: 100%;
  }

  .bx-wrapper {
    height: auto;
    width: 95%;
    margin: 0 auto;

    .bx-controls {
      height: 0;
      position: relative;
      margin-top: -22%;
      margin-bottom: 22%;

      .bx-controls-direction {
        z-index: 29;
        width: 105%;
        max-width: 100vw;
        height: 100%;
        margin-left: -2.5%;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: justify;
        -ms-flex-pack: justify;
        justify-content: space-between;
      }
    }
  }

  .link-bttn {
    position: relative;
    height: 0;
    width: 100%;
    top: -50px;

    .degree360 {
      display: none !important;
    }

    .degree360 {
      text-decoration: none !important;
      color: $dark_green;
      background-color: $white;
      margin: $center_m;
      display: block;
      height: 50px;
      width: 250px;
      text-align: center;
      line-height: 50px;

      span {
        font-size: 20px;
        line-height: 23px;
      }

      img {
        vertical-align: sub;
        margin-right: 5px;
        margin-bottom: -2px;
      }
    }
  }
}

section.room-info {
  margin-top: $full_margin;
  margin-bottom: $full_margin;

  .inner {
    .headline {
      font-size: $h2_fs;
      line-height: $h2_lh;
    }

    .design-element {
      padding: 50px 0;
    }

    .design-lines {
      display: block;
      background: $dark_grey;
      height: 1px;
      width: calc(50% - 30px);
      margin-top: 19px;
    }

    .design-lines.left {
      float: left;
    }

    .design-lines.right {
      float: right;
    }
  }

  .content {
    -webkit-column-count: 2;
    column-count: 2;
    -webkit-column-gap: 40px;
    column-gap: 40px;

    ul {
      display: contents;
    }
  }

  ul {
    list-style-image: url(/frontend/img/uploaded/icons/Icons_List.svg);
    list-style-position: outside;
    margin-left: 15px;

    li {
      margin-left: 15px;
    }
  }
}

/*#####################
#  Room prices table  #
######################*/
.mobile-prices {
  display: none;
}

.room.prices {
  background-image: url(/frontend/img/uploaded/Pattern.png);
  background-repeat: repeat;

  .rp-bg {
    background-color: $white;
    padding: 4rem;
  }

  a {
    text-decoration: none !important;
  }

  table {
    width: 100%;
  }

  tr {
    height: 60px;
  }

  tr.border-line {
    height: 1px;
    background-color: $light_grey;
  }

  td,
  th {
    vertical-align: middle;
    text-align: center;
  }

  td.season,
  th.price-name {
    text-align: left;
  }

  td.season .title {
    color: $dark_green;
  }

  th.price-type {
    background-color: $table_grey;
    border-left: 1px solid $white;
    padding: 0 15px;
  }

  td.element .title,
  th.price-name a {
    color: $dark_green;
  }

  td.buttons {
    text-align: center;
  }

  td a svg {
    margin-bottom: -1px;
    margin-right: 5px;
  }

  h2:last-of-type {
    margin-top: 40px;
  }
}

.room h2.season-title {
  margin-bottom: 30px;
}

/*#####################
#  Special textblock  #
######################*/
.main.textblock {
  margin-bottom: $full_margin;
}

/*#####################
# Special back button #
######################*/
section.link-back {
  margin-top: $full_margin;
  margin-bottom: $full_margin;
  width: 100%;
  text-align: center;

  a {
    text-decoration: none !important;
    height: auto;
    color: $dark_grey;

    img {
      vertical-align: sub;
      margin-bottom: -3px;
    }
  }
}

/*#####################
# Special iFrame      #
######################*/
section.html {
  margin-top: $half_margin;
  margin-bottom: $half_margin;
  padding-left: 30px;
  padding-right: 30px;
  width: 100%;
  text-align: center;
  overflow: hidden;
  padding-top: 56.25%;
  position: relative;

  iframe {
    width: 100%;
    max-width: 1300px;
    display: block;
    margin: $center_m;
    border: 0;
    height: 100%;
    left: 50%;
    position: absolute;
    top: 0;
    width: 100%;
    transform: translateX(-50%);
  }

  &.book {
    margin: $center_m;
    margin-top: 0;
    margin-bottom: $half_margin;
    width: 100%;
    max-width: 1300px;
    overflow: hidden;
    padding: 0 !important;
  }
}

section.seekda {
  padding-top: $half_margin;
  padding-bottom: $half_margin;
  width: 100%;
  text-align: center;
  display: block;
  margin: $center_m;
  border: 0;
  background-image: url(/frontend/img/uploaded/Pattern.png);
  background-repeat: repeat;

  .inner {
    max-width: 1300px;
    background-color: $white;
    padding: 4rem;
  }
}

/*#####################
# Special review      #
######################*/
section.review {
  margin: 0 auto 70px auto;
  text-align: center;
  max-width: 1800px;
}

section.review>div {
  max-width: 400px;
  min-width: 400px;
  width: 400px;
  height: 600px;
  overflow: hidden;
  overflow-y: auto;
  display: inline-block;
  padding: 10px;
  border: 1px solid $dark_green;
  margin-left: 30px;
  margin-right: 30px;
  margin-bottom: 30px;
}

/*#####################
#     Pool            #
######################*/
section.pool {
  max-width: 1800px;
  width: 90%;
  margin: $center_m;
  height: 390px;

  &.room {
    height: 310px;
  }

  .bx-wrapper {
    height: 100%;
    margin: 0 auto;

    .bx-controls {
      height: 0;
      position: relative;
      margin-top: -10%;
      margin-bottom: 10%;

      .bx-controls-direction {
        z-index: 29;
        width: 110%;
        height: 100%;
        margin-left: -5%;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: justify;
        -ms-flex-pack: justify;
        justify-content: space-between;
      }
    }

    .wrapper {
      padding-left: 15px;
      padding-right: 15px;

      a {
        display: block;
        width: 100%;
        overflow: hidden;
      }
    }
  }

  figure {
    img {
      @include transition(all 1s ease-in-out);
    }

    figcaption {
      position: absolute;
      top: 49%;
      left: 50%;
      @include transform(translate(-50%, -50%));
      width: calc(100% - 30px);
      height: 100%;
      background-color: rgba(0, 0, 0, 0.15);
      @include transition(all 1s ease-in-out);

      .inner-wrapper {
        margin: 20px;
      }

      .title,
      .headline,
      .content {
        color: $white;
        font-size: 28px;
        line-height: 34px;
        display: block;
        letter-spacing: 0;
      }
    }
  }

  figure:hover {
    img:not(.icon) {
      @include transform(scale(1.09));
      @include transition(all 1s ease-in-out);
    }

    figcaption {
      background-color: rgba(0, 0, 0, 0.35);
      @include transition(all 1s ease-in-out);
    }
  }
}

section.pool.treatment {
  .bx-wrapper {
    .bx-viewport {
      height: 394px !important;
    }

    .bx-controls {
      height: 0;
      position: relative;
      margin-top: -12%;
      margin-bottom: 12%;
    }
  }

  figure figcaption {
    .inner-wrapper {
      margin: 0;
      height: calc(100% + 83px);
    }

    .headline {
      padding: 20px 20px 0 20px;
    }

    .content {
      background-color: $light_grey;
      font-size: 20px;
      line-height: 23px;
      color: $dark_grey;
      height: 83px;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-pack: center;
      -ms-flex-pack: center;
      justify-content: center;
      -webkit-box-align: center;
      -ms-flex-align: center;
      align-items: center;
      position: absolute;
      bottom: -83px;
      width: 100%;
      -webkit-box-pack: justify;
      -ms-flex-pack: justify;
      justify-content: space-between;

      .icon {
        width: 30px;
        height: 30px;
        margin-bottom: -7px;
      }
    }

    .content>span {
      height: 30px;
      display: inline-block;
    }

    .content>span.right {
      display: block;
      margin-bottom: -10px;
      padding-right: 20px;
    }

    .content>span.left {
      padding-left: 20px;
    }
  }
}

section.pool.package-cat {
  .bx-wrapper {
    .bx-viewport {
      height: 394px !important;
    }

    .bx-controls {
      height: 0;
      position: relative;
      margin-top: -12%;
      margin-bottom: 12%;
    }
  }

  figure figcaption {
    .inner-wrapper {
      margin: 0;
      height: calc(100% + 83px);
    }

    .headline {
      padding: 20px 20px 0 20px;
    }

    .content {
      background-color: $light_grey;
      font-size: 17px;
      line-height: 23px;
      color: $dark_grey;
      height: 83px;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-pack: center;
      -ms-flex-pack: center;
      justify-content: center;
      -webkit-box-align: center;
      -ms-flex-align: center;
      align-items: center;
      position: absolute;
      bottom: -83px;
      width: 100%;
      -webkit-box-pack: justify;
      -ms-flex-pack: justify;
      justify-content: space-between;

      .icon {
        width: 30px !important;
        height: 30px !important;
        margin-bottom: -7px;
      }
    }

    .content>span {
      height: 30px;
      display: inline-block;
    }

    .content>span.right {
      display: block;
      margin-bottom: -10px;
      padding-right: 20px;
    }

    .content>span.left {
      padding-left: 20px;
    }
  }
}

/*#####################
#     OVERVIEWS       #
######################*/
/* room overview */
section.overview.room {
  background-image: url(/frontend/img/uploaded/Pattern_1.png);
  background-repeat: repeat;
  padding: $half_margin 0;
  background-size: 1500px;

  .room {
    margin-bottom: $half_margin;
  }

  .content-wrapper {
    background-color: $white;
    height: 300px;
    width: 92%;
    position: relative;
    top: -$half_margin;
    margin-bottom: -$half_margin;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    padding-top: $half_margin;

    .right>div {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
    }

    .right>div>div {
      width: calc(50% - 30px);
    }

    .right>div>div.left {
      margin-right: 15px;
    }

    .right>div>div.right {
      margin-left: 15px;
    }

    .right>div.top>div.left>span {
      border-top: 1px solid $dark_grey;
      height: 50px;
      text-align: left;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-pack: left;
      -ms-flex-pack: left;
      justify-content: left;
      -webkit-box-align: center;
      -ms-flex-align: center;
      align-items: center;

      img {
        margin-right: 10px;
      }
    }

    .right>div.top>div.right>a {
      text-decoration: none !important;
      color: $dark_green;
    }

    .right>div.top>div.right>a>span {
      display: block;
    }

    .right>div.top>div.right>a>span.price {
      font-size: 44px;
      line-height: 53px;
    }

    .right>div.bottom>div {
      color: $white;
      height: 40px;
      font-size: 20px;
      line-height: 23px;
      margin-top: 15px;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-pack: center;
      -ms-flex-pack: center;
      justify-content: center;
      -webkit-box-align: center;
      -ms-flex-align: center;
      align-items: center;

      a {
        text-decoration: none !important;
        color: $white;
      }
    }

    .right>div.bottom>div.left {
      background-color: $dark_green;
    }

    .right>div.bottom>div.right {
      background-color: $red;

      img {
        margin-bottom: -4px;
      }
    }
  }

  .content-wrapper>.left {
    width: 33.33%;
    padding-left: 30px;

    a {
      text-decoration: none !important;
    }

    span {
      display: block;
    }

    .headline {
      font-size: $h1_fs;
      line-height: $h1_lh;
      text-align: left;
      color: $dark_green;
      font-family: $secondary_font;
    }

    .subheadline {
      font-size: $h2_fs;
      line-height: $h2_lh;
      text-align: left;
      color: $dark_grey;
    }
  }

  .content-wrapper>.right {
    width: 66.66%;
    padding-left: 30px;
  }
}

.overview-headline {
  font-size: $h2_fs;
  line-height: $h2_lh;
}

.overview-healdine-design-element {
  padding: 50px 0;

  .design-lines {
    display: block;
    background: $dark_grey;
    height: 1px;
    width: calc(50% - 30px);
    margin-top: 19px;
  }

  .design-lines.left {
    float: left;
  }

  .design-lines.right {
    float: right;
  }
}

/*  Package overview   */
section.overview.package.bg {
  background-image: url(/frontend/img/uploaded/Pattern.png);
  background-repeat: repeat;
  padding-top: $half_margin;
  padding-bottom: $full_margin;
}

section.overview.package a {
  text-decoration: none !important;
  color: $dark_green;
}

section.overview.package {
  .package-wrapper {
    width: calc(49.5% - 15px);
    display: inline-block;
    margin-bottom: 30px;
    @include transition(all 0.3s ease-in-out);

    .package-info {
      background-color: $white;
      margin-top: -5px;
      padding: $half_margin;

      span {
        display: block;
      }

      .title {
        font-size: $h2_fs;
        line-height: $h2_lh;
        text-align: left;
        margin-bottom: $half_margin;
        text-align: center;

        a {
          color: $dark_green;
        }
      }

      .line-1,
      .line-2 {
        border-top: 1px solid $dark_grey;
      }

      .line-1,
      .line-2,
      .line-3 {
        height: 50px;
        text-align: left;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: left;
        -ms-flex-pack: left;
        justify-content: left;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;

        img {
          margin-right: 10px;
        }
      }

      .line-2,
      .line-3 {
        border-bottom: 1px solid $dark_grey;
      }

      .line-3 {
        margin-bottom: 30px;
      }

      span.price {
        font-size: 44px;
        line-height: 53px;
        text-align: center;

        span {
          display: inline-block;
        }
      }

      span.text {
        text-align: center;
      }

      .bttn {
        background-color: $dark_green;
        color: $white;
        height: 40px;
        font-size: 20px;
        line-height: 23px;
        margin-top: 15px;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
        max-width: 300px;
        margin: $center_m;
        margin-top: 30px;
      }
    }
  }

  .package-wrapper.left {
    margin-right: 15px;
  }

  .package-wrapper.right {
    margin-left: 15px;
  }

  .package-wrapper:hover {
    -webkit-box-shadow: 0px 0px 15px 3px rgba(0, 0, 0, 0.3);
    box-shadow: 0px 0px 15px 3px rgba(0, 0, 0, 0.3);
    @include transition(all 0.3s ease-in-out);
  }
}

/* treatment overview */
section.treatment-overview {
  margin-top: 30px;
  margin-bottom: $half_margin;

  a {
    text-decoration: none !important;
    color: $dark_grey;
  }

  .treatment-line {
    display: block;
    width: 100%;
    min-height: 60px;
    height: auto;
    border-bottom: 1px solid $dark_grey;
    line-height: 0;

    div {
      display: inline-block;
      height: auto;
      line-height: 40px;
      padding-top: 5px;
      width: 49%;
      display: inline-block;
    }

    .prices .time img {
      margin-bottom: -6px;
    }

    .treatment-line-button {
      text-align: center;

      svg {
        margin-bottom: -1px;
        margin-right: 5px;
      }
    }

    .treatment-animated-info {
      height: 0;
      overflow: hidden;

      .positioner {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        padding-top: 15px;
      }

      figure {
        width: calc(49% - 10px);
        display: inline-block;
        margin-right: 10px;
      }

      .treatment-content {
        width: calc(49% - 10px);
        display: inline-block;
        margin-left: 10px;
        line-height: initial;
      }
    }

    .treatment-animated-info,
    .treatment-animated-info .positioner {
      width: 100%;
    }
  }

  .treatment-line.first-line .colored {
    background-color: $table_grey;
    border-left: 1px solid $white;
    line-height: 60px;
  }

  .treatment-line>.title {
    width: 45%;
    color: $dark_green;
  }

  .treatment-line>.prices {
    width: 30%;
    text-align: center;
  }

  .treatment-line>.treatment-line-button {
    width: 23%;
  }
}

/* videos overviews */
.Videogalerie {
  margin-top: 60px;
}

.videos-overview-wrapper {
  margin: 0 30px;
  padding-top: 30px;
  padding-bottom: 30px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  background-image: url(/frontend/img/uploaded/Pattern.png);
  background-repeat: repeat;

  .video-item {
    display: inline-block;
    min-width: 450px;
    min-height: 347px;
    margin: 30px 15px;
    padding: 30px 15px 15px 15px;
    background-color: $white;
    -webkit-box-shadow: 0px 1px 15px 1px rgba(0, 0, 0, 0.1);
    box-shadow: 0px 1px 15px 1px rgba(0, 0, 0, 0.1);
    @include transition(all 0.3s ease-in-out);

    .title {
      margin-bottom: 30px;
      color: $dark_green;
      text-align: left;
    }

    .video-container {
      display: block;
      width: 100%;

      iframe {
        width: 100%;
      }

      .video-js {
        width: 100%;

        .vjs-big-play-button {
          top: 40%;
          left: 38%;
        }
      }

      .iframe-placeholder {
        background: url(/frontend/img/uploaded/play.png);
      }
    }
  }

  .video-item:hover {
    -webkit-box-shadow: 0px 1px 15px 3px rgba(0, 0, 0, 0.3);
    box-shadow: 0px 1px 15px 3px rgba(0, 0, 0, 0.3);
    @include transition(all 0.3s ease-in-out);
  }
}

/*#####################
#	Downloads         #
######################*/
section.downloads {
  background-image: url(/frontend/img/uploaded/Pattern.png);
  background-repeat: repeat;
  /* background-size: 450px; */
  padding: $full_margin 0 0 0;
  margin-bottom: $half_margin;
  position: relative;
}

.download-wrapper {
  display: block;

  figure {
    width: 300px;
    height: 400px;
    position: absolute;
    margin-top: -50px;
    margin-left: 60px;
    z-index: 99;

    img {
      -o-object-fit: scale-down;
      object-fit: scale-down;
      -o-object-position: center;
      object-position: center;
    }
  }

  .content {
    background-color: $white;
    width: 100%;
    height: 300px;
    min-height: 300px;
    padding-left: 40%;
    padding-top: $half_margin;
    padding-bottom: 30px;

    .headline {
      color: $dark_green;
      font-size: $h2_fs;
      line-height: $h2_lh;
      text-align: left;
    }

    .positioner {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      height: calc(100% - 50px);
      -webkit-box-align: end;
      -ms-flex-align: end;
      align-items: flex-end;
    }

    .buttons-wrapper {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;

      a {
        height: 40px;
        width: 300px;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
      }

      a.open {
        background-color: $dark_green;
        margin-right: 30px;
      }

      a.download {
        background-color: $white;
        border-top: 2px solid $light_grey;
        border-bottom: 2px solid $light_grey;
        color: $dark_green;
        -webkit-box-pack: start;
        -ms-flex-pack: start;
        justify-content: flex-start;

        img {
          margin-left: 10px;
          margin-right: 15px;
        }
      }
    }
  }
}

.download-wrapper:first-of-type {
  margin-top: 0 !important;
}

.download-wrapper:last-of-type {
  margin-bottom: 0;
}

/*#####################
#   LIGHTBOX (ROOM)   #
######################*/
.lightbox {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  justify-content: center;
}

/* Styles the lightbox, removes it from sight and adds the fade-in transition */
.lightbox-target {
  position: fixed;
  top: -100%;
  width: 100%;
  background: rgba(0, 0, 0, 0.5);
  width: 100%;
  opacity: 0;
  @include transition(opacity 0.5s ease-in-out);
  overflow: hidden;
  z-index: 99;

  /* Styles the lightbox image, centers it vertically and horizontally, adds the zoom-in transition and makes it responsive using a combination of margin and absolute positioning */
  img {
    margin: auto;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    max-height: 0%;
    max-width: 0%;
    border: 3px solid white;
    -webkit-box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.25);
    box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.25);
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    @include transition(0.5s ease-in-out);
  }
}

/* Uses the :target pseudo-class to perform the animations upon clicking the .lightbox-target anchor */
.lightbox-target:target {
  opacity: 1;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 9999;

  img {
    max-height: 100%;
    max-width: 100%;
  }

  a.lightbox-close {
    top: 0px;
  }
}

/*#####################
#   HOVER             #
######################*/
.button:hover,
input[type="submit"]:hover,
.search>.inner>form>.sear-bttn:hover,
nav .right-links>a:hover,
a.menu-item:hover,
a.link-btn:hover>span,
div.bttn:hover,
.package-prices.book-button:hover,
.package-prices.request-button:hover {
  -webkit-box-shadow: inset 0 0 100px 100px rgba(255, 255, 255, 0.1);
  box-shadow: inset 0 0 100px 100px rgba(255, 255, 255, 0.1);
}

#cookie-hint>div a.cookie-hint-button:hover {
  -webkit-box-shadow: none;
  box-shadow: none;
}

nav li:hover>a,
nav li:hover>ul>li.hoveree>a {
  color: $light_green;
}

nav>ul>li:hover>ul,
nav>ul>li>ul:hover {
  visibility: visible;
  opacity: 1 !important;
  @include transition(all 0.3s ease-in-out);
  padding-top: 10px;
  -webkit-box-shadow: 0px 0px 25px 1px rgba(0, 0, 0, 0.3);
  box-shadow: 0px 0px 25px 1px rgba(0, 0, 0, 0.3);
  height: auto !important;
}

nav>ul>li>ul>li:hover>ul,
nav>ul>li>ul>li>ul:hover {
  display: block !important;
  visibility: visible;
  opacity: 1 !important;
  @include transition(all 0.3s ease-in-out);
  height: auto !important;
}

.subnav>li:hover>a>img,
.subsubnav>li:hover>a>img,
nav li:hover>ul>li.hoveree>a>img {
  -webkit-filter: grayscale(0);
  filter: grayscale(0);
}

header.images .bx-wrapper .bx-controls .bx-controls-direction a:hover {
  opacity: 1;
}

.sitemap>.inner ul>li a:hover {
  text-decoration: underline;
}

section.sitemap a:hover {
  text-decoration: none !important;
  color: $dark_green;
}

#quick-search-form>span:hover {
  cursor: pointer;
}

/*#####################
#   ONLY SAFARI             #
######################*/
@media not all and (min-resolution: 0.001dpcm) {
  @media {
    body {
      margin-top: 110px;
    }

    .breadcrumbs {
      margin-top: 10px;
    }

    .teaser .content {
      -webkit-column-count: unset !important;
      column-count: unset !important;
    }

    main.package .content .services .content,
    .content {
      -webkit-column-count: unset !important;
      column-count: unset !important;
    }
  }
}