<div class="<?= strtolower($this->name); ?> crop">
    <fieldset class="loading">
        <legend><?= __d('be', 'Please wait') ?></legend>
        <i class="fas fa-cog fa-spin"></i>
   </fieldset>
</div>