@media (min-width: 421px) {
    #first-line .left {
        margin-left: 2rem;
    }
    #first-line .right {
        margin-right: 2rem;
    }
    #language {
        right: 0;
        margin-right: 33px;
        margin-top: 0px;
    }
}
@media (min-width: 461px) {
    .hide-m-dot-2 {
        display: inline !important;
    }
}
@media (min-width: 701px) {
    body {
        width: calc(100% - 100px);
    }
    h1 {
        font-weight: normal;
        line-height: 5rem;
        margin-top: -1.5rem;
    }
    header {
        margin-top: 1rem;
        min-height: 680px;
    }
    #shadow img {
        width: 100%;
    }
    #first-line,
    #logo {
        top: 2.5rem;
        width: calc(100% - 100px);
    }
    #comming_soon {
        top: -6rem;
    }
    #comming_soon img {
        width: 12rem;
    }
    #text .collumns {
        display: flex;
        justify-content: space-between;
    }
    #text .collumns span {
        width: calc(50% - 2rem);
    }
    #links {
        margin-bottom: 1.5rem;
    }
    #text {
        margin-top: 8rem;
    }
}
@media (min-width: 951px) {
    h1,
    h2 {
        font-size: 3rem;
        width: 101%;
    }
    #text {
        margin: 0 auto;
        margin-top: 8rem;
    }
    #slider {
        margin: 50px auto 80px auto;
    }
}
@media (min-width: 1001px) {
    .only-mobile {
        display: none !important;
    }
    .only-desktop {
        display: block !important;
    }
    #language {
        right: 0;
        margin-right: 33px;
        margin-top: -25px;
    }
    #links > a {
        display: inline;
    }
    .hide-m-dot {
        display: inline !important;
    }
}
@media (min-width: 1201px) {
    #logo img {
        width: 18rem;
    }
    #text {
        margin-top: 10rem;
    }
}
@media (min-width: 1501px) {
    body {
        max-width: 1400px;
        width: 100%;
    }
    header {
        min-height: 860px;
    }
    #first-line,
    #logo {
        max-width: 1400px;
    }
    #comming_soon {
        top: -11rem;
    }
    #comming_soon img {
        width: auto;
    }
}

@media (max-width: 700px) {
  .inner,
  .full-inner{
    margin-left: 1rem;
    margin-right: 1rem;
  }
}

@media (min-width: 700px), (max-width: 930px) {
  .request-content{
    margin-left: 1rem;
    margin-right: 1rem;
  }
  .inner{
    padding-left: 1rem;
    padding-right: 1rem;
  }
}
@media (max-width: 500px) {
  .form-cols{
    flex-direction: column;
  }
  .form-cols .col{
    width: 100%;
  }
}
