@font-face {
    font-family: "AdobeGaramondPro";
    src: url(/fonts/agaramondpro_regular.ttf) format("truetype");
}

*{
	-webkit-box-sizing: border-box;
	        box-sizing: border-box;
}
html {
    min-width: 320px;
    background-repeat: repeat;
    background-size: auto;
    background-attachment: fixed;
    overflow-x: hidden;
}
hr{
  margin: 1rem 0;
}
body {
	font-family: 'PT Sans', sans-serif;
    font-size: 1rem;
    line-height: 1.4rem;
	color:#3c3c3b;
    overflow-x: hidden;
    /* word-wrap: break-word;
    overflow-wrap: break-word; */
    /* -webkit-hyphens: auto;
        -ms-hyphens: auto;
            hyphens: auto; */
    width: 100%;
    display: block;
    margin: 0 auto;
    -webkit-box-shadow: 0px 0px 30px 20px rgba(0,0,0,0.16);
    box-shadow: 0px 0px 30px 20px rgba(0,0,0,0.16);
    background-repeat: repeat;
    background-size: auto;
    opacity: 1;

    -webkit-transition: opacity 2s ease-in;
      -moz-transition: opacity 2s ease-in;
       -ms-transition: opacity 2s ease-in;
        -o-transition: opacity 2s ease-in;
           transition: opacity 2s ease-in;
}
body.loading {
    opacity: 0;
    font-size: 21px;
    margin-top: 25px;
    text-align: center;
}
.inner{
  max-width: 800px;
  margin: 0 auto;
}
a {
	color:#3c3c3b;
    text-decoration: none;

    -webkit-transition: opacity 0.3s ease-in;
      -moz-transition: opacity 0.3s ease-in;
       -ms-transition: opacity 0.3s ease-in;
        -o-transition: opacity 0.3s ease-in;
           transition: opacity 0.3s ease-in;
}
a.styled {
    text-decoration: underline;
}
a:visited,
a:hover,
a:focus,
a:active{
	color:#3c3c3b;
    text-decoration: none;
    opacity: 0.5;
}
body > section{
  padding-top: 1rem;
  padding-bottom: 1rem;
}
body > section#prices{
  margin-top: 3rem;
}
h1,
h2,
h3{
    font-family: 'AdobeGaramondPro', Arial, serif;
    font-size: 2rem;
    text-align: center;
}
h1 {
    font-weight: normal;
    line-height: 3rem;
    margin-bottom: 3rem;
}
h3{
  font-size: 1.6rem;
  line-height: 1.8rem;
}
strong {
	font-weight:700;
}
.red{
  color: #af3557;
}
.green{
  color: #005b5b;
}
.center{
  text-align: center;
}
.button{
  color: #fff;
  background: #af3557;
  line-height: 2.5rem;
  height: 2.5rem;
  padding: 0 2rem;
  display: inline-block;
  border:none;
}
.button:hover,
.button:visited,
.button:focus,
.button:active{
  color: #fff;
}
.msg{
  color: #fff;
  background: #999;
  line-height: 2.5rem;
  height: 2.5rem;
  padding: 0 2rem;
  display: block;
  width: 100%;
  text-align: center;
  border:none;
}
.msg.error{
  background: #af3557;
}
.msg.success{
  background: #005b5b;
}
.only-mobile {
    display: block !important;
}
.only-desktop,
.hide-m-dot,
.hide-m-dot-2 {
    display: none !important;
}
.only-mobile img {
    width: 20px;
    height: 20px;
    margin-right: 10px;
}
.hidden {
    display: none !important;
}
.only-mobile img[alt="phone"] {
    -moz-transform: scaleX(-1);
    -o-transform: scaleX(-1);
    -webkit-transform: scaleX(-1);
    transform: scaleX(-1);
    filter: FlipH;
    -ms-filter: "FlipH";
}
.hide-de,
.hide-en {
    display: none !important;
}
.room-remove.room-nodelete {
    display: none;
}
.room-remove > i {
    height: 25px;
    width: 25px;
    display: block;
    background-repeat: no-repeat;
    float: right;
    margin-top: -10px;
    margin-right: -10px;
}

/* Language Scwitcher */
#language {
	position: absolute;
    z-index: 9999;
    right: 0;
    margin-right: 5px;
    margin-top: 0px;
    color: #505050;
    text-transform: uppercase;
}
#language div a {
	opacity: 0.5;
}
#language div a.active {
	opacity: 1;
}

/* HEADER */
header {
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 50% 50%;
    min-height: 500px;
    margin-top: 0rem;
}
#shadow img {
    width: 900px;
}
#first-line,
#logo {
    position: absolute;
    top: 1rem;
    width: 100%;
}
#first-line {
    display: flex;
    justify-content: space-between;
    letter-spacing: 2px;
    z-index: 99;
    text-transform: uppercase;
}
#first-line .left {
    text-align: left;
    margin-left: 0.75rem;
}
#first-line .right {
    text-align: right;
    margin-right: 0.75rem;
}
#logo,
#comming_soon {
    text-align: center;
}
#logo img {
    width: 12rem;
}
#comming_soon {
    position: relative;
    top: -5rem;
    width: 100%;
    height: 0;
    max-width: 1400px;
}
#comming_soon img {
    width: 10rem;
}
#gold_line {
    background-image: url(/img/gold_line.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 50% 50%;
    height: 5rem;
}

/* CONTENT */
#text {
    margin-top: 3rem;
}
#text .collumns {
    width: 100%;
    display: block;
    margin-bottom: 5rem;
}
#text .collumns span {
    display: block;
    width: 100%;
}
#text .text_2,
#text .text_3 {
    display: block;
    text-align: center;
}
#text .text_3 {
    text-transform: uppercase;
    margin-top: 0.75rem;
}

/* FOOTER */
#icon {
    width: 100%;
    text-align: center;
    margin-top: 4.5rem;
    margin-bottom: 1.5rem;
}
#links {
    width: 100%;
    letter-spacing: 1px;
    text-transform: uppercase;
    text-align: center;
    padding-bottom: 0.5rem;
    margin-bottom: 1rem;
}
#links > a {
    display: block;
}
.small-links {
    text-align: center;
    margin-bottom: 10px;
    font-size: 75%;
}

/* SOCIAL */
.social {
    text-align: center;
    margin-top: 25px;
}
.social img {
    width: 45px;
    height: auto;
    margin: 0 15px;
}

/* bxSlider */
#slider {
    margin: 40px 20px 60px 20px;
}
.bx-wrapper .bx-pager {
    opacity: 0.5;
}
#offer h3{
  margin-bottom: 0;
}
#offer img{
  margin: 0 auto;
  display: block;
  width: 100%;
}
#prices img{
  width: 100%;
}


/* FORM */
.form-cols{
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;
  justify-content: space-between;
  align-items: stretch;
}
.form-cols .col{
  width: calc(50% - 1rem);
}
label{
  display: block;
  width: 100%;
  font-weight: bold;
  font-size: 12px;
}
input,
select,
textarea{
  display: block;
  width: 100%;
  padding: 0.5rem;
}
.error input,
.error select,
.error textarea{
  border: 1px solid red;
}
.input{
  margin-bottom: 0.5rem;
}
.rooms-wrap{
  margin: 0.5rem 0;
}
.room-wrap{
  background: rgba(0,0,0,0.1);
  padding: 1rem;
  margin-bottom: 0.5rem;
}
.room-add{
  margin: 0.5rem auto;
}
.request-button{
  margin: 0 auto;
  display: inline-block;
}
.form-error{
  color: red;
  font-size: 11px;
}
